form.form(method='POST' action=action).team-form
  if errors && Object.keys(errors).length
    .form-alert.form-alert--danger
      p.title Error Processing Submission
      if errorMessage
        p #{errorMessage}
      ul
        for error in Object.values(errors)
          li #{error}

  .form-group.padded
    label.form-label Team Name
      span.required (Required)
    input(name='name', value=body.name || team? team.name : '' required)
    label.label-hint The name of your team

  .form-group.padded
    label.form-label Team Description
    input(type='text' name='description', rows=3, value=body.description || team ? team.description : '')
    label.label-hint A brief description of your team

  .form-group.padded
    label.form-label Visibility
    select(name='isPublic')
      option(value='true', selected=(body.isPublic === 'true' || team ? team.public : true)) Public
      option(value='false', selected=(body.isPublic === 'false' || team ? team.public : false)) Private
    label.label-hint Public teams appear in search results

  .form-group.padded
    label.form-label Membership
    select(name='isOpen')
      option(value='true', selected=(body.isOpen === 'true' || team ? team.open : true)) Open
      option(value='false', selected=(body.isOpen === 'false' || team ? team.open : false)) Closed
    label.label-hint Open teams allow anyone to join

  .form-buttons
    button.btn.btn--primary(type='submit') #{submitText || 'Save Changes'} 