.course-container
  .course-overview.secondary
    .container
      .major
        h1.heading #{team.name}
        p.byline !{team.description}
        

            //- if team.public
            //-   a.btn.btn--primary(href=`/teams/${team.id}/private`) Make Private
            //-   | 
            //- else
            //-   a.btn.btn--primary(href=`/teams/${team.id}/public`) Make Public
            //-   | 

            //- if team.open
            //-   a.btn.btn--primary(href=`/teams/${team.id}/close`) Close Membership
            //-   | 
            //- else
            //-   a.btn.btn--primary(href=`/teams/${team.id}/open`) Open Membership
            //-   | 