
mixin tab(href, thistab, text)
  a.tab-element(href=href class=tab === thistab ? 'tab--selected' : '') !{text}

.course-container
  .teams-header
    .container
      .team-breadcrumbs
        //- a(href='/teams/') Teams
        h1.team-name
          a(href=`/teams/${team.id}/`) #{team.name}

      if (courses && courses.length > 0) || membership.isAdmin
        .tabs.teams-tabs
          +tab(`/teams/${team.id}/`, 'leaderboard', 'Team Dashboard')
          if courses && courses.length > 0
            +tab(`/teams/${team.id}/progress/`, 'progress', 'Team Progress')
          if membership && membership.isAdmin
            //- .tab-spacer
              
            +tab(`/teams/${team.id}/edit`, 'edit', 'Team Settings')
            +tab(`/teams/${team.id}/courses`, 'courses', 'Edit Learning Path')
            +tab(`/teams/${team.id}/invite`, 'invite', 'Invite Members')

