if courses && courses.length > 0
  .card.card--prerequisites.course-structure
    div.toc-module
      h3.toc-module-header Learning Path
      p The team administrator has recommended the following courses.
    
      ul.prerequisites.toc-module-lessons
        for course in learningPath || courses
          if course.progress >= 100 || course.completed
            li.prerequisite.prerequisite--completed.toc-module-lesson
              a(href=course.link)
                span.prerequisite-title.lesson-title !{course.title}
                span.prerequisite-status.lesson-optional !{svg.iconCheck}

          else if course.completedPercentage != null
            li.prerequisite.prerequisite--in-progress.toc-module-lesson
              a(href=course.link)
                span.prerequisite-title.lesson-title !{course.title}
                span.prerequisite-status.lesson-optional !{Math.round(course.completedPercentage)}%
                  | !{svg.iconDurationSmall}
          else
            li.prerequisite.prerequisite--not-started.toc-module-lesson
              a(href=course.link)
                span.prerequisite-title.lesson-title !{course.title}
                //- span.prerequisite-status !{course.progress}
