mixin tab(href, thistab, text)
  a.tab-element(href=href class=tab === thistab ? 'tab--selected' : '') !{text}


if (courses && courses.length > 0) || membership.isAdmin
  .tabs.account-tabs
    +tab(`/teams/${team.id}/`, 'leaderboard', 'Leaderboard')
    if courses && courses.length > 0
      +tab(`/teams/${team.id}/progress/`, 'progress', 'Team Progress')
    if membership && membership.isAdmin
      //- .tab-spacer
        
      +tab(`/teams/${team.id}/edit`, 'edit', 'Team Settings')
      +tab(`/teams/${team.id}/courses`, 'courses', 'Edit Learning Path')
