form.form(method='POST' action='/account')
  .form-group.padded
    label(for='nickname').form-label Nickname
    input#nickname(type='text' name='nickname' value=user.nickname required)
    label(for='nickname').label-hint Let us know how to address you

  .form-group
    label(for='givenName').form-label Given Name
    input#givenName(type='text' name='givenName' value=user.givenName required)
    label(for='givenName').label-hint This name will appear on your certificates

  .form-group.full
    label(for='bio').form-label Bio
    textarea#bio(name='bio' rows=6 maxlength=1000) !{user.bio}
    label(for='givenName').label-hint Your bio will appear you on your public profile

  .form-group.full
    label(for='country').form-label Country
    select#country(name='country' required)
      option -
      each val, key in countries
        option(value=key selected=user.country==key) #{val}
    label(for='country').label-hint Where do you live?

  .form-group.padded
    label(for='position').form-label Job Role (Optional)
    input#position(type='text' name='position' value=user.position)
    label(for='position').label-hint Eg. Data Scientist, Software Developer

  .form-group
    label(for='company').form-label Company (Optional)
    input#company(type='text' name='company' value=user.company)

  .form-group.checkbox
    label(for='unsubscribe').form-label
      input(type='checkbox' id='unsubscribe' name='unsubscribe' value='true' checked=user.unsubscribed)
      strong Unsubscribe from GraphAcademy emails
      br
      span.body-small
        | We will only send you emails related to your enrollments. Strictly no promotional material.

  .form-buttons
    input(type='hidden' name='returnTo' value=returnTo)
    button.btn.btn--primary(type='submit' disabled) Save Changes
