form.form(method='POST' action='/account')
  .form-group.padded
    label(for='nickname').form-label Nickname
    input#nickname(type='text' name='nickname' value=user.nickname required)
    label(for='nickname').label-hint Let us know how to address you

  .form-group
    label(for='givenName').form-label Given Name
    input#givenName(type='text' name='givenName' value=user.givenName required)
    label(for='givenName').label-hint This name will appear on your certificates

  .form-group.full
    label(for='country').form-label Country
    select#country(name='country' required)
      option -
      each val, key in countries
        option(value=key selected=user.country==key) #{val}
    label(for='givenName').label-hint Where do you live?

  .form-group.padded
    label(for='position').form-label Job Role (Optional)
    input#position(type='text' name='position' value=user.position placeholder='Eg. Data Scientist, Software Developer')

  .form-group
    label(for='company').form-label Company (Optional)
    input#company(type='text' name='company' value=user.company)

  .form-buttons
    input(type='hidden' name='returnTo' value=returnTo)
    button.btn(type='submit') Update Personal Information
