extends ../layouts/two-column

block minor
  nav.secondary-nav.secondary-nav--sticky.secondary-nav--collapsible
    h2.secondary-nav-title.body-small Navigation

    .secondary-nav-group
      ul.secondary-nav-list
        li.secondary-nav-item(class=path == '/account/' ? 'secondary-nav-item--active' : '')
          a(href='/account/')
            | !{svg.iconAccountSettings}
            | Account Settings
        li.secondary-nav-item(class=path.startsWith('/account/courses/') ? 'secondary-nav-item--active' : '')
          a(href='/account/courses/')
            | !{svg.iconAccountCourses}
            | My Courses
        li.secondary-nav-item(class=path.startsWith('/account/rewards/') ? 'secondary-nav-item--active' : '')
          a(href='/account/rewards/')
            | !{svg.iconAccountRewards}
            | Rewards &amp; Achievements

      ul.secondary-nav-list.secondary-nav-list--separated
        li.secondary-nav-item
          a(href='https://community.neo4j.com')
            | !{svg.iconAccountSupport}
            | Support
        li.secondary-nav-item
          a(href='/logout')
            | !{svg.iconAccountSignOut}
            | Sign Out
