extends ./_layout
include ../mixins/progress


block major
  .account-header
    h1 My Courses

  .tabs.account-tabs
    for link in links
      a.tab-element(href=link.link class=link.current ? 'tab--selected' : '') !{link.title}

  .account-section
    if courses.length
      .account-courses
        for course in courses
          .account-course
            .course-image
              if course.illustration
                a.card-illustration(href=course.link)
                  | !{course.illustration}
              else if course.badge
                a.card-badge(href=course.link)
                  | !{course.badge}

            .course-details
              a(href=course.link) !{course.title}
              p.course-caption !{course.caption}
              if course.completedAt
                p.course-completed Completed
                  |
                  +date(course.completedAt)

            if course.enrolled && !course.certification
              .course-progress
                +progress(course)

            .course-actions
              if course.completed
                a.btn.btn--small(href=course.certificateUrl) View Certificate
              else if course.enrolled
                a.btn.btn--small(href=`${course.link}continue/`) Continue Course
              else
                a.btn.btn--small(href=course.link) View Course

              .context-menu-container
                .context-menu-icon
                  | !{svg.iconHorizontalDots}
                .context-menu
                  if course.completed && course.summary
                    a.context-menu-item(href=`${course.link}summary/`) View course summary
                  if course.enrolled
                    a.context-menu-item.context-menu-item--danger(href=`${course.link}unenrol/`) Delete enrollment
                  if status == 'favorited'
                    a.context-menu-item.context-menu-item--danger(href=`${course.link}bookmark/remove/?returnTo=${path}`) Remove from favorites
    else
      include ./partials/cold-start

  if status == 'completed'
    .account-section
      h2#public Public Profile
      include ./partials/public_profile
      p You can disable your public profile in your
        |
        |
        a(href='/account/#public') Account Settings
        | .
