extends ../layouts/default
include ../mixins/date
include ../mixins/progress

block main

  .container.two-column.account-dashboard
    .column.column--major.column-left
      h2 Welcome back, #{user.givenName || user.nickname || user.name}

      //- +json(categories)

      for cat in categories
        pre !{cat.title}
      +json(certifications || '-')


    .column.column--minor.column-right
      .card.card-certification
        .card-body.course-structure
          h2 Neo4j Certified Professional

          +json(certifiedProfessional)



    //- .account-header

    //- if current.length
    //-   h2 Pick up where you left off

    //-   .account-courses
    //-     for course in current
    //-       .account-course
    //-         .course-image
    //-           if course.illustration
    //-             a.card-illustration(href=course.link)
    //-               | !{course.illustration}
    //-           else if course.badge
    //-             a.card-badge(href=course.link)
    //-               | !{course.badge}

    //-         .course-details
    //-           a(href=course.link) !{course.title}
    //-           p.course-caption !{course.caption}
    //-           if course.completedAt
    //-             p.course-completed Completed
    //-               |
    //-               +date(course.completedAt)

    //-         if course.enrolled && !course.certification
    //-           .course-progress
    //-             +progress(course)

    //-         .course-actions
    //-           if course.completed
    //-             a.btn.btn--small(href=course.certificateUrl) View Certificate
    //-           else if course.enrolled
    //-             a.btn.btn--small(href=`${course.link}continue/`) Continue Course
    //-           else
    //-             a.btn.btn--small(href=course.link) View Course

    //-           .context-menu-container
    //-             .context-menu-icon
    //-               | !{svg.iconHorizontalDots}
    //-             .context-menu
    //-               if course.completed && course.summary
    //-                 a.context-menu-item(href=`${course.link}summary/`) View course summary
    //-               if course.enrolled
    //-                 a.context-menu-item.context-menu-item--danger(href=`${course.link}unenrol/`) Delete enrollment
    //-               if status == 'favorited'
    //-                 a.context-menu-item.context-menu-item--danger(href=`${course.link}bookmark/remove/?returnTo=${path}`) Remove from favorites

    //-       +json(current)


    //- //- .account-section
    //- //-   h2#personal Your Details

    //- //-   p In order to personalise your experience, we would like to know a little more about you.

    //- //-   include ./partials/form
