extends ../layouts/two-column
include ../mixins/date
include ../course/sandbox

block minor
  nav.secondary-nav.secondary-nav--sticky
    ul.secondary-nav-list
      li.secondary-nav-item
        a(href='/account/courses')
          | !{svg.iconAccountCourses}
          | My Courses
      li.secondary-nav-item
        a(href='/account')
          | !{svg.iconAccountSettings}
          | Account Settings
      li.secondary-nav-item
        a(href='/account/rewards')
          | !{svg.iconAccountRewards}
          | Rewards

    ul.secondary-nav-list.secondary-nav-list--separated
      li.secondary-nav-item
        a(href='https://community.neo4j.com')
          | !{svg.iconAccountSupport}
          | Support
      li.secondary-nav-item
        a(href='/logout')
          | !{svg.iconAccountSignOut}
          | Sign Out







block major
  .account-section
    h2#auth Authentication Method

    .account-authentication
      img(src=user.picture alt='Account Picture')

      p.account-method !{user.sub.split('|')[0]}
      p.account-email !{user.email}

  //- if user.email_verified === false
  //-   include _verification-required


  .account-section
    h2#personal Personal Information

    include _form

  if user.id
    .account-section
      h2#public Public Profile

      .account-public
        p Your public profile contains a reference to all of your achievements on GraphAcademy.
          |
          | You can share the following link with your friends or colleagues to show off your progress.
        p
          a(href=user.publicProfile target='_blank') !{user.publicProfile}


  .account-section#delete
    h2 Delete Account

    p You can delete your account at any time by clicking the
      |
      |
      strong.danger Delete Account
      |
      | button below.
      |
      | Deleting your account will also remove any progress that you have made on GraphAcademy.

    form(method='post' action='/account/delete')
      .form-buttons
        button.btn.btn--danger(type='submit') Delete My Account

    p
      strong Warning: This action cannot be undone.
