extends ./_layout

mixin nav_item(link, text, svg)
  li.secondary-nav-item(class=path == link ? 'secondary-nav-item--active' : '')
    a(href=link)
      | !{svg}
      | !{text}


block minor
  nav.secondary-nav.secondary-nav--sticky
    ul.secondary-nav-list
      +nav_item('/account/', 'Account Settings', svg.iconAccountSettings)
      +nav_item('/account/courses/', 'My Courses', svg.iconAccountCourses)
      +nav_item('/account/rewards/', 'Rewards &amp; Achievements', svg.iconAccountRewards)

    ul.secondary-nav-list.secondary-nav-list--separated
      +nav_item('https://community.neo4j.com', 'Support', svg.iconAccountSupport)
      +nav_item('/logout', 'Sign Out', svg.iconAccountSignOut)

block major
  .account-header
    h1 Account Settings

  .account-section
    h2#auth Authentication Method

    .account-authentication
      img(src=user.picture alt='Account Picture')

      p.account-method !{user.sub.split('|')[0]}
      p.account-email !{user.email}

  //- if user.email_verified === false
  //-   include ./partials/verification-required


  .account-section
    h2#personal Profile

    include ./partials/form

  if user.id
    .account-section
      h2#public Public Profile

      include ./partials/public_profile

        form.form(method='POST' action='/account/profile/')
          .form-group.checkbox
            label(for='hide').form-label
              input(type='checkbox' id='hide' name='hide' value='true' checked=user.profileHidden)
              strong Hide my public profile
              br
              span.body-small
                | This will stop others from viewing your public profile.

          .form-buttons
            button.btn(type='submit' disabled) Save Changes

  .account-section#delete
    h2 Delete Account

    p You can request to delete your account by clicking the
      |
      |
      strong.danger Delete Account
      |
      | button below and completing the form.
      |
      | Deleting your account will also remove any progress that you have made on GraphAcademy.

    p
      a.btn.btn--danger(href='https://preferences.neo4j.com/privacy') Proceed to Account Deletion
