extends ../layouts/two-column
include ../mixins/date
include ../course/sandbox

block minor
  nav.secondary-nav
    ul.secondary-nav-list.secondary-nav-list--sticky
      li.secondary-nav-item
        a(href='#auth') Authentication Method
      li.secondary-nav-item
        a(href='#personal') Personal Information
      li.secondary-nav-item
        a(href='/account/courses') My Courses
      li.secondary-nav-item
        a(href='/account/rewards') Rewards
      if sandboxes.length
        li.secondary-nav-item
          a(href='#sandboxes') My Sandboxes
      li.secondary-nav-item
        a(href='#delete') Delete Account

block major
  .account-section
    h2#auth Authentication Method

    .account-authentication
      img(src=user.picture alt='Account Picture')

      p.account-method !{user.sub.split('|')[0]}
      p.account-email !{user.email}

  //- if user.email_verified === false
  //-   include _verification-required


  .account-section
    h2#personal Personal Information

    include _form

  if user.id
    .account-section
      h2#public Public Profile

      .account-public
        p Your public profile contains a reference to all of your achievements on GraphAcademy.
          |
          | You can share the following link with your friends or colleagues to show off your progress.
        p
          a(href=user.publicProfile target='_blank') !{user.publicProfile}


  if sandboxes.length
    .account-section
      h2#sandboxes My Sandboxes

      p As part of your enrollment some of our interactive courses we create a new instance on
        |
        |
        a(href='https://sandbox.neo4j.com?ref=graphacademy', target='_blank') Neo4j Sandbox
        | .  You can browse the sandbox at any time by .

      div.account-sandboxes
        for row in sandboxes
          +sandbox(row)

      p
        a.btn(href='https://sandbox.neo4j.com/?ref=graphacademy' target='_blank') Open Neo4j Sandbox

  .account-section#delete
    h2 Delete Account

    p You can delete your account at any time by clicking the
      |
      |
      strong.danger Delete Account
      |
      | button below.
      |
      | Deleting your account will also remove any progress that you have made on GraphAcademy.

    form(method='post' action='/account/delete')
      .form-buttons
        button.btn.btn--danger(type='submit') Delete My Account

    p
      strong Warning: This action cannot be undone.
