extends ./_layout
include ./_reward


block major
  .account-header
    h1 Rewards &amp; Achievements

  .container.one-column
    .account-section.rewards
      h2 Available Rewards
      for reward in rewards
        +reward(reward)

    .account-section.account-public
      h2 Achievements

      p You can find your GraphAcademy achievements on your public profile.
        |
        | You can share the following link with your friends and colleagues to show off your progress.

      p.account-url
        a.account-link(href=user.publicProfile target='_blank') !{user.publicProfile}
        a.account-action.account-copy(aria-label='Copy URL' href=user.publicProfile target='_blank') !{svg.iconCopy}
          span.account-action-label Copy URL
        a.account-action(aria-label='View Public Profile' href=user.publicProfile target='_blank') !{svg.iconGo}
          span.account-action-label Go to Profile

      p You can disable your public profile in your
        |
        |
        a(href='/account/#public') Account Settings
        | .

      p
        a.btn(href='/account/#public') Edit Personal Information
