extends ./_layout
include ../mixins/progress


block major
  .account-header
    h1 Teams

  //- .tabs.account-tabs
  //-   for link in links
  //-     a.tab-element(href=link.link class=link.current ? 'tab--selected' : '') !{link.title}


  .account-section
    if teams.length == 0
      .cold-start
        .cold-start-image
          img(src=cdn('img/static/start.svg') alt='A playful image showing a start button')

        .cold-start-content
          h2 No !{status && status.substr(0, 1).toUpperCase() + status.substr(1)} Team Memberships
          p You don't belong to any teams at the moment.  Don't worry though, you can create a team and invite your friends using the form below.
    else
      .account-courses
        for team in teams
          .team.account-course(class=team.public ? 'team--public' : 'team--private')
            .team-details.course-details
              a.team-name(href=`/teams/${team.id}` target="_blank") !{team.name}
              p.team-subtitle.course-caption !{team.memberCount} member!{team.memberCount!= 1 ? 's' : ''}

            .team-actions.course-actions
              a.btn.btn--small(href=`/teams/${team.id}` target="_blank") Leaderboard


              .context-menu-container
                .context-menu-icon
                  | !{svg.iconHorizontalDots}
                .context-menu
                  form.team-leave.context-menu-item.context-menu-item--danger(method='post', action=`/account/teams/${team.id}/leave`)
                    button.btn.btn--small.btn--danger.team-leave-button(type='submit') Leave team


  .account-section
    .tabs
      a.tab-element.tab--selected(href='#join' data-target='join') Join a Team
      a.tab-element(href='#create' data-target='create') Create a Team

    .tab-target.tab-target--visible#join
      h2 Join a Team
      form(method='post' action='/account/teams/join/').team-join-form.form
        div.form-group.padded
          label.form-label Team ID
            input(name='id', placeholder='eb9Fhbs', required)
        div.form-group.padded
          label.form-label PIN Number
            input(name='pin', placeholder='1234', required)
        div.form-buttons.form-group
          button.btn.btn--primary(type='submit') Join Team

    .tab-target#create
      h2 Create a Team
      p This feature is coming soon.  In the meanwhile, if you want to create your own team,
        | !{' '}
        a(href='mailto:graphacademy@neo4j.com?subject=Creating a group') send us an email at graphacademy@neo4j.com
