extends ../layouts/default
include ../mixins/card

block main
  .achievements
    h1
      if own
        | My Achievements
      else
        | #{givenName || name}'s Achievements


    .achievement-group
      h2 Completed Courses

      .card-list
      if enrolments
        each course in enrolments.completed
          +card(course.title, course.thumbnail, course.caption, `/u/${id}/${course.slug}`)
            //- .card-body
            p Completed on
              +date(course.completedAt)
            .card-footer
              a.card-link.btn(href=`/u/${id}/${course.slug}`) View Certificate


