extends ../layouts/default

block head
  meta(property="og:type" content="article")
  meta(property="og:locale" content="en_US")
  meta(property="og:image" content=`${baseUrl}${course.link}/badge`)
  meta(property="og:url" content=`${baseUrl}${course.link}`)
  if completed
    meta(property="og:title" content=`I earned the ${course.title} badge on GraphAcademy`)
    meta(property="og:description" content=`On ${new Intl.DateTimeFormat('en-US', {dateStyle: 'medium'}).format( new Date(progress.completedAt.toString()) )} I earned the ${course.title} badge.  Test yourself with GraphAcademy...`)
  else
    meta(property="og:title" content=`I am working towards the ${course.title} badge on GraphAcademy`)
    meta(property="og:description" content=`Test yourself with GraphAcademy...`)

block main
  .certificate
    .certificate-container
      .certificate-header
        h1.heading-1 Neo4j
          |
          |
          span GraphAcademy

      .certificate-body
        .certificate-badge
          img(src=`/courses/${course.slug}/badge` alt=`Course badge for ${course.title}`)
        .certificate-text
          p This certifies that
          p
            strong #{name}
          p has completed the
          p
            strong !{course.title}
          p course on
            |
            |
            b GraphAcademy

      .certificate-footer
        p.date
          +date(course.completedAt)


