extends ../layouts/default
include ../course/card
include ../mixins/card

block main
  .achievements
    .container.one-column
      if enrolments.completed && enrolments.completed.length
        .achievement-group.achievement-group--completed
          h2 Completed Courses

          .course-grid
            each course in enrolments.completed
              .course-grid-item
                +course(course, course.categories[0])
                  .card-footer
                    p Completed on
                      +date(course.completedAt)
                    .card-footer
                      a.card-action.card-action--certificate(href=`/u/${id}/${course.slug}`) View Certificate

      else
        p
          if  own
            | This page acts as a public record of your achivements on GraphAcademy.
            p Every course that you complete will appear here so friends and colleagues can track your progress.
          else
            | This user hasn't completed any courses yet.  Please check back later.
        p
          a.btn(href='/courses') View Courses

      //- .achievement-group.achievement-group--enrolled
      //-   h2 In Progress

      //-   if enrolments.enrolled && enrolments.enrolled.length
      //-     .card-list
      //-       each course in enrolments.enrolled
      //-         +card(course.title, course.thumbnail, course.caption, `/u/${id}/${course.slug}`)
      //-           p Enrolled on
      //-             +date(course.enrolledAt)
      //-           .card-footer
      //-             a.card-link.btn(href=`/courses/${course.slug}`) View Course
        //- else
        //-   p Still waiting ...
        //-     a.inline-btn(href='/courses') View Courses


