extends ../layouts/default
include ../mixins/card

block head
  meta(property="og:type" content="article")
  meta(property="og:locale" content="en_US")
  meta(property="og:image" content=`${baseUrl}${course.link}/badge`)
  meta(property="og:url" content=`${baseUrl}${course.link}`)
  if completed
    meta(property="og:title" content=`I earned the ${course.title} badge on GraphAcademy`)
    meta(property="og:description" content=`On ${new Intl.DateTimeFormat('en-US', {dateStyle: 'medium'}).format( new Date(progress.completedAt.toString()) )} I earned the ${course.title} badge.  Test yourself with GraphAcademy...`)
  else
    meta(property="og:title" content=`I am working towards the ${course.title} badge on GraphAcademy`)
    meta(property="og:description" content=`Test yourself with GraphAcademy...`)

block main
  .certificate
    .certificate-header
      h1 Neo4j
        |
        |
        span GraphAcademy

    .certificate-body
      .certificate-badge
        img(src=`/courses/${course.slug}/badge` alt=`Course badge for ${course.title}`)
      .certificate-text
        p This certifies that
        p
          strong #{name}
        p has completed the
        p
          strong #{course.title}
        p course

    .certificate-footer
      p.date
        +date(progress.completedAt)



  .share-buttons
      h2 Share this page
      a.btn-inline(href="#") Facebook
      |
      |
      a.btn-inline(href="#") Twitter
      |
      |
      a.btn-inline(href="#") LinkedIn
      |
      |
      a.btn-inline(href="#") etc

  //- .course
  //-   .course-header
  //-     h1 #{course.title}

  //-   .course-details
  //-     .course-actions
  //-       if interested
  //-         .notification.notification--positive Thank you for registering your interest. We will contact you when the course is available.

  //-       .card
  //-         .card-body.course-badge
  //-           img(src=`/courses/${course.slug}/badge` alt=`Course badge for ${course.title}`)


  //-           if completed
  //-             p
  //-               if own
  //-                 | You have earned the
  //-               else
  //-                 | #{name} has earned the

  //-               |
  //-               |
  //-               strong #{course.title}
  //-               |
  //-               | badge
  //-           else if enrolled
  //-             p
  //-               if own
  //-                 | You are working towards the
  //-               else
  //-                 | #{name} is working towards the

  //-               |
  //-               |
  //-               strong #{course.title}
  //-               |
  //-               | badge
  //-           else
  //-             p
  //-               if own
  //-                 | You are
  //-               else
  //-                 | #{name} is
  //-               |
  //-               | not enrolled to
  //-               |
  //-               strong #{course.title}
  //-               |

  //-         .card-body
  //-           dl
  //-             dt Enrolment Date
  //-             dd
  //-               +date(progress.createdAt)

  //-             if completed
  //-               dt Completion Date
  //-               dd
  //-                 +date(progress.completedAt)


  //-         if own
  //-           .card-body
  //-             if completed
  //-               //- TODO: Share links
  //-               h2 Share your progress
  //-               a.btn(href="#") Facebook
  //-               a.btn(href="#") Twitter
  //-               a.btn(href="#") LinkedIn
  //-             else if enrolled
  //-               a.btn(href=course.link) Continue Course
  //-             else
  //-               a.btn(href=course.link) Enrol now

  //-     .course-overview
  //-       | !{doc}


  //-       //- h2 Course Modules
  //-       ul.course-modules
  //-         each module in progress.modules
  //-           li.course-module(class=module.completed ? 'module--completed' : ``)
  //-             a(href=module.link)
  //-               | #{module.title}

  //-               if module.duration
  //-                 span.duration (#{module.duration})

  //-             if module.lessons
  //-               ul.course-module-lessons
  //-                 each lesson in module.lessons
  //-                   li.course-module-lesson(class=lesson.completed ? 'lesson--completed' : '')
  //-                     a(href=lesson.link)
  //-                       | #{lesson.title}
