extends ../layouts/default
include ../mixins/card

block main
  .achievements
    h1
      if own
        | My Achievements
      else
        | #{givenName || name}'s Achievements


    .achievement-group.achievement-group--completed
      h2 Completed Courses

      if enrolments.completed
        .card-list
          each course in enrolments.completed
            +card(course.title, course.thumbnail, course.caption, `/u/${id}/${course.slug}`)
              //- .card-body
              p Completed on
                +date(course.completedAt)
              .card-footer
                a.card-link.btn(href=`/u/${id}/${course.slug}`) View Certificate

    .achievement-group.achievement-group--enrolled
      h2 In Progress

      if enrolments.enrolled
        .card-list
          each course in enrolments.enrolled
            +card(course.title, course.thumbnail, course.caption, `/u/${id}/${course.slug}`)
              //- .card-body
              p Enrolled on
                +date(course.createdAt)
              .card-footer
                a.card-link.btn(href=`/u/${id}/${course.slug}`) View Certificate
      else
        p Still waiting ...
          a.inline-btn(href='/courses') View Courses


