extends ../layouts/two-column
include ../course/card
include ../mixins/card

block minor
  nav.secondary-nav
    ul.secondary-nav-list.secondary-nav-list--sticky
      for item in categories
        li.secondary-nav-item
          a(href=`#${item.category.slug}`) !{item.category.title}

block major
  .achievements
    for item in categories
      .achievement-group(id=item.category.slug)
        .achievement-group-header
          h2.achievement-group-title !{item.category.title}
          .progress-container
            div.progress-bar
              div.progress-bar-container
                span(style=`width: ${item.completedPercentage}%`) #{item.completedPercentage}%

          p.achievement-group-progress Completed #{item.completedCount} of #{item.courses.length} (!{item.completedPercentage}%)

        .achievement-list
          each course in item.courses
            .achievement-list-item(class=[
                !course.completed && !course.enrolled ? 'achievement-list-item--disabled' :  '',
                !course.completed && course.enrolled ? 'achievement-list-item--faded' :  '',
              ].join(' '))
              a(href=course.completed ? `/u/${id}/${course.slug}` : course.link)
                .achievement-badge 
                  img(src=course.badgeUrl alt=course.title)
                //- !{course.badge || svg.badgeDefault}
                h3.achievement-list-item-title !{course.title}
                if course.completed
                  div.achievement-indicator !{svg.classroomTocCompleted}
