extends ../layouts/two-column
include ../course/card
include ../mixins/card
include ../mixins/progress
include ../mixins/date

block minor
  nav.secondary-nav

    .profile-image
      if profile.image
        img(src=profile.image alt=`Profile image for ${profile.name}`)
      else if profile.givenName
        .profile-image-placeholder
          | !{profile.givenName.split(' ').map(i => i.substring(0, 1)).join('')}

    div.bio #{profile.bio}

    dl.meta-list.secondary-nav-meta-list
      if profile.country
        dt.secondary-nav-meta-list-type
          | !{svg.iconProfileLocation}
          span Country
        dd.secondary-nav-meta-list-definition !{countries[ profile.country ]}

      if profile.position
        dt.secondary-nav-meta-list-type
          | !{svg.iconProfilePosition}
          span Position
        dd.secondary-nav-meta-list-definition #{profile.position}

      if profile.company
        dt.secondary-nav-meta-list-type
          | !{svg.iconProfileCompany}
          span Company
        dd.secondary-nav-meta-list-definition #{profile.company}

      if profile.createdAt
        dt.secondary-nav-meta-list-type
          | !{svg.iconProfileJoined}
          span Member Since
        dd.secondary-nav-meta-list-definition
          | Joined
          +date(profile.createdAt)

block major
  .achievements
    .account-header
      h1 !{title}

    .tabs.achievement-tabs
      for link in categories
        a.tab-element(href=`#${link.type}` data-target=link.type class=categories[0].type == link.type ? 'tab--selected' : '') !{link.title}

    for group in categories
      .achievement-group.tab-target(id=group.type class=categories[0].type == group.type ? 'tab-target--visible' : '')
        .course-grid(class=group.name)
          if group.courses.length
            for course in group.courses
              .course-grid-item
                +course(course, {}, true)
                  div.meta.card-meta
                    dl.meta-list.card-meta-list
                      dt.meta-list-term.card-meta-icon.card-meta-icon--progress
                        span #{translate('progress', 'Progress')}
                        | !{svg.iconCheck}
                        dd.meta-list-definition
                          +date(course.completedAt)
                  div.card-footer
                    a.card-action.card-action--continue(href=`/c/${course.certificateId}/`)  #{translate('view-certificate', 'View Certificate')}
          else
            .cold-start
              .cold-start-image
                img(src=cdn('img/static/start.svg') alt='A playful image showing a start button')

              .cold-start-content
                h2 Stay Tuned
                p !{profile.givenName || 'This User'} is currently on their way to becoming a Neo4j expert. Check back soon to see their achievements!
