extends ../layouts/default
include ../course/card

block main
  .achievements
    .container

      if enrolments.completed && enrolments.completed.length
        .achievement-group.achievement-group--completed
          h2 Completed Courses

          .course-grid
            each course in enrolments.completed
              .course-grid-item
                +course(course, course.categories[0])
                  .card-footer
                    p Completed on
                      +date(course.completedAt)
                    .card-footer
                      a.card-action.card-action--certificate(href=`/u/${id}/${course.slug}`) View Certificate
              //- +card(course.title, course.thumbnail, course.caption, `/u/${id}/${course.slug}`)
                //- .card-body

      .achievement-group.achievement-group--enrolled
        h2 In Progress

        if enrolments.enrolled && enrolments.enrolled.length
          .card-list
            each course in enrolments.enrolled
              +card(course.title, course.thumbnail, course.caption, `/u/${id}/${course.slug}`)
                //- .card-body
                p Enrolled on
                  +date(course.createdAt)
                .card-footer
                  a.card-link.btn(href=`/courses/${course.slug}`) View Course
        else
          p Still waiting ...
            a.inline-btn(href='/courses') View Courses


