extends ../layouts/default
include ../mixins/completed

block main
  .certificate
    .certificate-container
      //- .certificate-header
      //-   | !{svg.gaLogo}
      //-   h2.certificate-title !{course.title}

      .certificate-header
        if course.illustration
          .course-illustration !{course.illustration}
        else if course.badge
          .course-badge !{course.badge}

        //- if course.completedPercentage
        +completed(course.completedPercentage)

      .certificate-body
        h1.course-name !{course.title}

        p.certificate-text Course completed by
          | !{' '}
          span.certificate-name #{name}
          if own
              a.certificate-name-edit(href='/account/') (Edit Name)

        p.certificate-date
            +date(course.completedAt)

        p.certificate-description !{course.caption}

      .certificate-footer
        .certificate-logo
          | !{svg.gaLogo}

        if course.certificateNumber
          p.certificate-number Certificate No. ##{course.certificateNumber}
        else if course.certificateId
          p.certificate-number Certificate ID:
            | !{' '}
            a(href=url) #{course.certificateId}


    if own
      .certificate-share
        h2 Share Certificate

        p
          | Share your achievements with your friends and colleagues.
          |
          | To view all your certificates and achievements, you can
          |
          |
          a(href=`/u/${user.id}/`) view your public profile
          | . To edit your personal information, go to
          |
          |
          a(href='/account') account settings
          | .

        p.account-url.share-form
          a.account-link.share-form-link(href=url target='_blank') !{url}
          a.account-action.account-copy.share-form-action.share-form-action--copy(aria-label='Copy URL' href=url target='_blank') !{svg.iconCopy}
            span.account-action-label.share-form-action-label Copy URL

        p
          a.btn(target="_blank" href=`https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME&name=${course.title}&organizationId=828370&organizationName=Neo4j&issueYear=${year}&issueMonth=${month}&certId=${course.certificateId}&certUrl=${encodeURIComponent(url)}`)
            | Add to LinkedIn

        p.body-small.text-muted  Note: This section is only visible to you, the owner of this certificate, when you are logged in.
