extends ../layouts/default

block main
  .certificate
    .certificate-container
      .certificate-header
        | !{svg.gaLogo}
        h2.certificate-title !{course.title}

      .certificate-body
        .certificate-badge
          img(src=badge alt=`Course badge for ${course.title}`)

          if course.completedPercentage && course.completedPercentage > 0
            .certificate-percentage #{course.completedPercentage}%

        .certificate-text
          p This certifies that
          p.certificate-name
            strong.certificate-name-holder #{name}
            if own
              a.certificate-name-edit(href='/account/') (Edit Name)
          p has completed
          p
            strong !{course.title}
          p on
            |
            |
            b GraphAcademy

          p.date
            +date(course.completedAt)

            if course.certificateNumber
              span
                | &nbsp;&middot; Certificate No. ##{course.certificateNumber}

    .certificate-share
      h2.overline.body-small Share #{' '}
        if own
          | your
        else
          | this
        | #{' '} achievement
      .addthis_inline_share_toolbox


      if own
        a(target="_blank" href=`https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME&name=${course.title}&organizationId=828370&organizationName=Neo4j&issueYear=${year}&issueMonth=${month}&certUrl=${encodeURIComponent(url)}`)
          | Add Certification to your LinkedIn Profile

block scripts
  script.
    var addthis_share = {url_transforms:{add: {ref: 'certificate'}}}
  script(src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6135ef3e00ccdfbb' async='async')
