extends ../layouts/default

block main
  .certificate
    .certificate-container
      .certificate-header
        | !{svg.gaLogo}
        h2.certificate-title !{course.title}

      .certificate-body
        .certificate-badge
          img(src=badge alt=`Course badge for ${course.title}`)

          if course.completedPercentage && course.completedPercentage > 0
            .certificate-percentage #{course.completedPercentage}%

        .certificate-text
          p This certifies that
          p.certificate-name
            strong.certificate-name-holder #{name}
            if own
              a.certificate-name-edit(href='/account/') (Edit Name)
          p has completed
          p
            strong !{course.title}
          p on
            |
            |
            b GraphAcademy

          p.date
            +date(course.completedAt)

            if course.certificateNumber
              span
                | &nbsp;&middot; Certificate No. ##{course.certificateNumber}
            else if course.certificateId
              span
                | &nbsp;&middot; Certificate ID
                br
                a(href=url) #{course.certificateId}

          //- .certificate-footer
          //-   div ##{course.certificateId}

    .certificate-share
      h2.overline.body-small Share #{' '}
        if own
          | your
        else
          | this
        | #{' '} achievement

      .certificate-copy
        .certificate-copy-label
          | Certificate URL
        .certificate-copy-url
          span.copy #{url}

        if own
          .certificate-spacer
          .certificate-linkedin
            a(target="_blank" href=`https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME&name=${course.title}&organizationId=828370&organizationName=Neo4j&issueYear=${year}&issueMonth=${month}&certUrl=${encodeURIComponent(url)}`)
              | Add to LinkedIn

      .addthis_inline_share_toolbox

      //- if own
      //-   a(target="_blank" href=`https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME&name=${course.title}&organizationId=828370&organizationName=Neo4j&issueYear=${year}&issueMonth=${month}&certUrl=${encodeURIComponent(url)}`)
      //-     | Add Certification to your LinkedIn Profile
