extends ../layouts/default

block head
  meta(property="og:type" content="article")
  meta(property="og:locale" content="en_US")
  meta(property="og:image" content=`${baseUrl}${course.link}/badge`)
  meta(property="og:url" content=`${baseUrl}${course.link}`)
  if completed
    meta(property="og:title" content=`I earned the ${course.title} badge on GraphAcademy`)
    meta(property="og:description" content=`On ${new Intl.DateTimeFormat('en-US', {dateStyle: 'medium'}).format( new Date(progress.completedAt.toString()) )} I earned the ${course.title} badge.  Test yourself with GraphAcademy...`)
  else
    meta(property="og:title" content=`I am working towards the ${course.title} badge on GraphAcademy`)
    meta(property="og:description" content=`Test yourself with GraphAcademy...`)

block main
  .certificate
    .certificate-container
      .certificate-header
        | !{svg.gaLogo}
        h2.certificate-title !{course.title}

      .certificate-body
        .certificate-badge
          img(src=`/courses/${course.slug}/badge` alt=`Course badge for ${course.title}`)
        .certificate-text
          p This certifies that
          p
            strong #{name}
          p has completed the
          p
            strong !{course.title}
          p course on
            |
            |
            b GraphAcademy

          p.date
            +date(course.completedAt)

      //- .certificate-footer
      //-   p.date
      //-     +date(course.completedAt)

    .certificate-share
      h2.overline.body-small Share your achievement
      .addthis_inline_share_toolbox

block scripts
  script(src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6135ef3e00ccdfbb', async='async')