extends ../layouts/default
include ../mixins/completed

block main
  .certificate
    .certificate-container
      .certificate-body
        .certificate-info
          h1.course-name !{course.title}

          p.certificate-text Course completed by
            | !{' '}
          div.certificate-name #{name}
            if own
                a.certificate-name-edit(href='/account/settings/' target='_blank') (Edit Name)

          if course.keyPoints
            ul.certificate-keypoints
              each keypoint in course.keyPoints
                li.certificate-keypoint !{keypoint}
          else if course.caption
            p.certificate-description !{course.caption}

          if course.certificateNumber
            p.certificate-number Certificate No. ##{course.certificateNumber}
          else if course.certificateId
            p.certificate-number Certificate ID:
              | !{' '}
              a(href=url) #{course.certificateId}
          p.certificate-date Date issued:
            | !{' '}
            +date(course.completedAt)

        if course.illustration
          .course-illustration !{course.illustration}
        else if course.badge
          .course-badge !{course.badge}

      .certificate-footer
        .certificate-logo
          | !{svg.neo4jLogo} GraphAcademy



    if own
      .certificate-share
        h2 Share Certificate

        p
          | Share your achievements with your friends and colleagues.
          |
          | To view all your certificates and achievements, you can
          |
          |
          a(href=`/u/${user.id}/`) view your public profile
          | . To edit your personal information, go to
          |
          |
          a(href='/account') account settings
          | .

        p.account-url.share-form
          a.account-link.share-form-link(href=url target='_blank') !{url}
          a.account-action.account-copy.share-form-action.share-form-action--copy(aria-label='Copy URL' href=url target='_blank') !{svg.iconCopy}
            span.account-action-label.share-form-action-label Copy URL

        p
          a.btn.btn--small(target="_blank" href=`/courses/${course.slug}/share/linkedin/`)
            | Add to LinkedIn

        p.body-small.text-muted  Note: This section is only visible to you, the owner of this certificate, when you are logged in.
