if user
  script.
    window.user = { sub: '#{user.sub}' }
if course
  script.
    window.course = { slug: '#{course.slug}', title: '#{course.title}' }
if module
  script.
    window.module = { slug: '#{module.slug}', title: '#{module.title}' }
if lesson
  script.
    window.lesson = { slug: '#{lesson.slug}', title: '#{lesson.title}', optional: #{lesson.optional ? 'true' : 'false'} }
if link
  script.
    window.link = '#{link}'
