form#feedback.feedback
  h2 !{translate('feedback-title', 'Feedback')}
  div.helpful-form
    p
      case type
        when 'course'
          | !{translate('course-helpful', 'Was this course helpful?')}
        when 'module'
          | !{translate('module-helpful', 'Was this module helpful?')}
        when 'lesson'
        when 'video'
          | !{translate('lesson-helpful', 'Was this lesson helpful?')}
        when 'video'
          | !{translate('video-helpful', 'Was this lesson helpful?')}
        default
          | !{translate('page-helpful', 'Was this page helpful?')}

      button.yes.btn !{translate('feedback-positive', 'Yes')}
      button.no.btn !{translate('feedback-negative', 'No')}
