form#feedback.feedback
  h2 !{translate('feedback-title', 'Feedback')}
  div.helpful-form
    p
      case type
        when 'course'
          | !{translate('course-helpful', 'Was this course helpful?')}
        when 'module'
          | !{translate('module-helpful', 'Was this module helpful?')}
        when 'lesson'
        when 'video'
          | !{translate('lesson-helpful', 'Was this lesson helpful?')}
        when 'video'
          | !{translate('video-helpful', 'Was this lesson helpful?')}
        when 'quiz'
          | !{translate('quiz-helpful', 'Was this quiz helpful?')}
        default
          | !{translate('page-helpful', 'Was this page helpful?')}

      button.yes.btn !{translate('feedback-positive', 'Yes')}
      button.no.btn !{translate('feedback-negative', 'No')}

if feedbackScore && feedbackScore.total > 0
  div.feedback-summary#feedback-summary(class=feedbackScore.positive < 80 ? 'feedback-summary--negative' : 'feedback-summary--positive')
    h3 Feedback Summary

    p You are seeing this feedback as a Neo4j Employee.  Can you help us !{' '}
      a(href=editLink target='_blank') improve this page?

    div.feedback-summary-numbers
      div
        h4 Total
        span #{feedbackScore.total}
      div
        h4 Positive
        span #{feedbackScore.positive}
      div
        h4 Negative
        span #{feedbackScore.negative}
      div
        h4 Percentage
        span #{feedbackScore.percentage}%

    if feedbackScore.latest.length > 0
      .feedback-summary-latest
        h3 Recent Negative Feedback
        div.feedback-summary-scroll
          for row in feedbackScore.latest
            div.feedback-summary-item
              h5
                strong.feedback-reason #{row.reason}

                a(href='mailto:'+row.user.email) #{row.user.name}

                time(datetime=row.createdAt)
                  +date(row.createdAt)

              span.status() #{row.status}


              if row.additional
                p #{row.additional}
