| !{'\n'}
if ga.gtm_id
  // Google Tag Manager
  script(nonce=nonce).
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','!{ga.gtm_id}');
  // End Google Tag Manager

| !{'\n'}
if user
  script(nonce=nonce).
    window.user = { sub: '#{user.sub}', id: '#{user.id}', email: '#{user.email}' }

//- | !{'\n'}
//- if bugsnag && bugsnag.apiKey
//-   script(nonce=nonce, src='//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js').
//-   script(nonce=nonce).
//-     Bugsnag.start({ apiKey: '#{bugsnag.apiKey}', onError: function(event) {
//-       if (window.user) {
//-         event.setUser(window.user.sub, window.user.email)
//-       }
//-     } })

//- if production
//-   script(nonce=nonce, src='https://cdn.lr-ingest.com/LogRocket.min.js').
//-   script(nonce=nonce).
//-     if (window.LogRocket) {
//-       window.LogRocket.init('qylyow/graphacademy');
//-       if ( window.user ) {
//-         window.LogRocket.identify(window.user.sub, { email: window.user.email })
//-       }
//-     }
