.header
  .container
    .navbar
      .navbar-brand
        a.navbar-item(href='/')
          //- .logo-mobile !{iconSvg}
          //- .logo-full !{logoSvg}
          .logo-full !{svg.gaLogo}
          .logo-icon !{svg.neo4jIconColor}
          span.navbar-brand-text GraphAcademy

      button.navbar-burger(data-target="topbar-nav" aria-label="Mobile Navigation Button")
        span
        span
        span

      .navbar-menu
        .navbar-end
          .navbar-item
            a.navbar-link(href='/categories/') View Courses
          //- .navbar-item
          //-   a.navbar-link(href='/categories/certification') Certification
          if user
            .navbar-item
              a.navbar-link.navbar-account.navbar-primary(href='/account/')
                | My Account
              .navbar-dropdown
                if user.id
                  .navbar-item.project
                    a(href=`/u/${user.id}/`)
                      span.project-name Update Profile
                      span.project-description Edit your personal information
                  .navbar-item.project
                    a(href=`/u/${user.id}/`)
                      span.project-name My Achievements
                      span.project-description Share your public profile
                .navbar-item.project
                  a.navbar-logout(href='/logout/')
                    span.project-name Sign Out
          else
            .navbar-item
              a.navbar-link(href='/login/') Sign In

            .navbar-item
              a.navbar-link.navbar-login.navbar-primary(href='/login/') Register