.header
  .container
    .navbar
      .navbar-brand
        a.navbar-item(href='/')
          //- .logo-mobile !{iconSvg}
          //- .logo-full !{logoSvg}
          .logo-full !{svg.gaLogo}
          .logo-icon !{svg.neo4jIconColor}
          span.navbar-brand-text !{translate('graphacademy', 'GraphAcademy')}

      button.navbar-burger(data-target="topbar-nav" aria-label=translate('mobile-navigation-button', 'Mobile Navigation Button'))
        span
        span
        span

      .navbar-menu
        .navbar-end
          .navbar-item
            a.navbar-link(href='/categories/') !{translate('view-courses', 'View Courses')}
          .navbar-item
            a.navbar-link(href='/certification/') Neo4j Certification
          if user
            .navbar-item
              a.navbar-link.navbar-account.navbar-primary(href='/account/')
                | !{translate('my-account', 'My Account')}
              .navbar-dropdown
                if user.id
                  .navbar-item.project
                    a(href=`/account/`)
                      span.project-name !{translate('update-profile', 'Update Profile')}
                      span.project-description !{translate('update-profile-byline', 'Edit your personal information')}
                  .navbar-item.project
                    a(href=`/account/rewards`)
                      span.project-name !{translate('rewards', 'Rewards')}
                      span.project-description !{translate('rewards-byline', 'Claim rewards for completing courses and certifications')}
                  .navbar-item.project
                    a(href=`/u/${user.id}/`)
                      span.project-name !{translate('my-achievements', 'My Achievements')}
                      span.project-description !{translate('my-achievements-byline', 'Share your public profile')}
                .navbar-item.project
                  a.navbar-logout(href='/logout/')
                    span.project-name !{translate('sign-out', 'Sign Out')}
          else
            .navbar-item
              a.navbar-link(href='/login/') !{translate('sign-in', 'Sign In')}

            .navbar-item
              a.navbar-link.navbar-login.navbar-primary(href='/login/') !{translate('register', 'Register')}

          .navbar-item.navbar-languages
            a.navbar-link(href=`/${language || ''}`)
              | !{language || 'en'}
            .navbar-dropdown
              each language, name in languages
                .navbar-item.language
                  if language == 'en'
                    a(href=`/`)
                      span.project-name !{name}
                  else
                    a(href=`/${language}/`)
                      span.project-name !{name}
