
a#skip(href='#content' tabindex=1) Skip to content

.header
  .container
    .navbar
      include navbar-brand
      button.navbar-burger(data-target="topbar-nav" aria-label=translate('mobile-navigation-button', 'Mobile Navigation Button'))
        span
        span
        span

      .navbar-menu
        .navbar-end
          .navbar-item
            a.navbar-link(href='/categories/') All Courses
              // | !{translate('view-courses', 'All Courses')}
          .navbar-item
            a.navbar-link(href='/certification/') Certifications
          if user
            .navbar-item
              a.navbar-link.navbar-account(href='/account/')
                //- | !{translate('my-account', 'My Account')}
                if user.picture
                  img(src=user.picture alt=user.name)

                | !{user.name || 'My Account'}
              .navbar-dropdown
                if user.id
                  .navbar-item
                    a(href=`/account/`)
                      | !{svg.iconAccountSettings}
                      | Account Settings
                      //- span.project-description Edit your personal information
                  .navbar-item
                    a(href=`/account/courses/`)
                      | !{svg.iconAccountCourses}
                      | My Courses
                      //- span.project-description Browse your active, completed and favorited courses
                  .navbar-item
                    a(href=`/account/rewards/`)
                      | !{svg.iconAccountRewards}
                      | Rewards &amp; Achievements
                      //- span.project-description Claim rewards for completing courses and certifications

                .navbar-item
                  a.navbar-logout(href='/logout/')
                    | !{svg.iconAccountSignOut}
                    | Sign Out
          else
            .navbar-item
              //- a.navbar-link(href='/login/')

            .navbar-item
              a.navbar-link.navbar-login(href='/login/') !{translate('sign-in', 'Sign In')}
                //- / !{translate('register', 'Register')}

          //- .navbar-item.navbar-languages
          //-   a.navbar-link(href=`/${language || ''}`)
          //-     | !{language || 'en'}
          //-   .navbar-dropdown
          //-     each language, name in languages
          //-       .navbar-item.language
          //-         if language == 'en'
          //-           a(href=`/`)
          //-             span.project-name !{name}
          //-         else
          //-           a(href=`/${language}/`)
          //-             span.project-name !{name}
