.header
  .container
    .navbar
      .navbar-brand
        a.navbar-item(href='/')
          //- .logo-mobile !{iconSvg}
          //- .logo-full !{logoSvg}
          .logo-full !{svg.neo4jLogoColor}
          .logo-icon !{svg.neo4jIconColor}
          span.navbar-brand-text GraphAcademy

      button.navbar-burger(data-target="topbar-nav" aria-label="Mobile Navigation Button")
        span
        span
        span


      .navbar-menu
        .navbar-end
          .navbar-item
            a.navbar-link(href='/categories/') View Courses
          //- .navbar-item
          //-   a.navbar-link(href='/categories/certification') Certification
          if user
            .navbar-item
              a.navbar-link(href='/account/courses/') My Courses

            .navbar-item
              a.navbar-link.navbar-account.navbar-primary(href='/account/')
                //- if user.given_name
                //-   | Hey, #{user.given_name}!
                //- else
                | My Account
              .navbar-dropdown
                if user.id
                  .navbar-item.project
                    a.project-name(href=`/u/${user.id}/`) My Achievements
                .navbar-item.project
                  a.project-name.navbar-logout(href='/logout/') Sign Out
          else
            .navbar-item
              a.navbar-link.navbar-login.navbar-primary(href='/login/') Sign In