script(nonce=nonce).
  window.i18n = {
    advanceTo: "!{translate('advance-to', 'Advance To')}",
    lessonFailedTitle: "!{translate('lesson-failed-title', 'Oops!')}",
    lessonFailed: "!{translate('lesson-failed', 'Lesson failed, please try again')}",
    lessonPassed: "!{translate('lesson-passed', 'You have passed this lesson!')}",
    showHint: "!{translate('show-hint', 'Show Hint')}",
    showSolution: "!{translate('show-solution', 'Show Solution')}",
    checkHintPrefix: "!{translate('check-hint-prefix', 'If you are stuck, try clicking the')}",
    checkHintSuffix: "!{translate('check-hint-suffix', 'button')}",
    viewCourseSummary: "!{translate('view-course-summary', 'View Course Summary')}",
    viewCertificate: "!{translate('view-certificate', 'View Certificate')}",
    myCourses:  "!{translate('my-courses', 'My Courses')}",
    courseCompletedTitle: "!{translate('course-completed-title', 'You have completed this course!')}",
    error: "!{translate('error', 'Error!')}",
    tryAgain: "!{translate('try-again', 'Try Again...')}",
    challengeCompleted: "!{translate('challenge-completed', 'Challenge Completed')}",
    feedbackPositive: "!{translate('feedback-positive', 'Yes')}",
    feedbackNegative: "!{translate('feedback-negative', 'No')}",
    feedbackThankyou: "!{translate('feedback-thankyou', 'Thank you for your feedback!')}",
    feedbackFollowup: "!{translate('feedback-followup', 'We&rsquore sorry to hear that. How could we improve this page?')}",
    missing: "!{translate('missing', 'It has missing information')}",
    hardToFollow: "!{translate('hardToFollow', 'It is hard to follow or confusing')}",
    inaccurate: "!{translate('inaccurate', 'It is inaccurate, out of date, or doesn&rsquo;t work')}",
    technical: "!{translate('technical', 'There are technical issues with the platform')}",
    other: "!{translate('other', 'Something else')}",
    moreInformation: "!{translate('missing', 'Please provide more information')}",
    feedbackSubmit: "!{translate('feedbackSubmit', 'Submit')}",
    feedbackSkip: "!{translate('feedbackSkip', 'Skip')}",
  }