if canonical
  link(rel='canonical' href=canonical)
else if link
  link(rel='canonical' href=`${BASE_URL}${link}`)
link(rel='preload' href=`${cdnUrl}/css/app.css` as='style')
link(rel='preload' href=`${cdnUrl}/js/bundle.js` as='script')
link(rel='stylesheet' href=`${cdnUrl}/css/app.css`)
link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='194x194' href='/favicon-194x194.png')
link(rel='icon' type='image/png' sizes='192x192' href='/android-chrome-192x192.png')
link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#018bff')
link(rel='shortcut icon' href='/favicon.ico')
meta(name='msapplication-TileColor' content='#018bff')
meta(name='theme-color' content='#0069c1')
meta(name='viewport' content='width=device-width, initial-scale=1.0')

meta(property='twitter:card' content='summary_large_image')
meta(property='og:type' content=ogType || 'article')
meta(property='og:locale' content=ogLanguage || 'en_US')
meta(property='og:image' content=`${ogImage || `${BASE_URL}/img/og/og-landing.jpg`}`)

meta(property='og:url' content=`${BASE_URL}${path || '/'}`)
meta(property='og:title' content=ogTitle || title || 'Neo4j GraphAcademy')
if ogDescription || description
  meta(property='og:description' content=ogDescription || description)
  meta(property='twitter:description' content=ogDescription || description)

meta(property='twitter:title' content=ogTitle || title || 'Neo4j GraphAcademy')
meta(property='twitter:image' content=`${ogImage || `${BASE_URL}/img/og/og-landing.jpg`}`)
meta(property='twitter:image:alt' content=ogTitle || title || 'Neo4j GraphAcademy')
if ogVideo
  meta(property='og:video' content=ogVideo)

meta(charset='UTF‑8')
if description || caption
  meta(name='description' content=description || caption)
