include ../mixins/json

.pagination
  div.pagination-link.pagination-link--previous
    if previous
      span.pagination-link-direction Previous
      a(href=previous.link)
        span.pagination-icon
          | !{svg.arrowPrevious}
        | !{previous.title}

  div.progress-bar
    if progressPercentage
        div.progress-bar-container
          span(style=`width: ${progressPercentage}%`) #{progressPercentage}%

  div.pagination-link.pagination-link--next
    if next
      span.pagination-link-direction Next
      a(href=next.link)
        | !{next.title}
        span.pagination-icon
          | !{svg.arrowNext}
