each module in course.modules
  .toc-module
    h3.toc-module-header(class=[module.completed ? 'toc-module--completed' : '', module.link === path ? 'toc-module--current' : ''].join(' '))
      a(href=module.link)
        span.toc-icon !{module.completed ? svg.classroomTocCompleted : svg.classroomTocModule}
        | !{module.title}
      if module.link == path
        span.module-current
          | !{svg.arrowNext}

    ul.toc-module-lessons
      each lesson in module.lessons
        li.toc-module-lesson(class=[lesson.completed ? 'toc-module-lesson--completed' : '', lesson.link == path ? 'toc-module-lesson--current' : ''].filter(e => !!e).join(' '))
          a(href=lesson.link)
            span.toc-icon
              if lesson.completed === true
                | !{svg.classroomTocCompleted}
              else if lesson.type == lessonType.LESSON_TYPE_QUIZ
                | !{svg.classroomTocQuiz}
              else if lesson.type == lessonType.LESSON_TYPE_VIDEO
                | !{svg.classroomTocVideo}
              else if lesson.type == lessonType.LESSON_TYPE_CHALLENGE
                | !{svg.classroomTocChallenge}
              else
                //- if lesson.type == lessonType.LESSON_TYPE_TEXT
                | !{svg.classroomTocText}
            span.lesson-title !{lesson.title}

            if lesson.optional
             span.lesson-optional (Optional)

            if module.duration
              span.lesson-duration (
              | #{module.duration}
              | )

            if lesson.link == path
              span.lesson-current
                | !{svg.arrowNext}

if course.completed
  .toc-module
    h3.toc-module-header.toc-module--completed
      a(href=`${course.link}summary/`)
        span.toc-icon !{svg.classroomTocCompleted}
        | Course Summary
    ul.toc-module-lessons
      li.toc-module-lesson.toc-module-lesson--completed
        a(href=`/u/${user.id}/${course.slug}`)
          span.toc-icon
            | !{svg.classroomTocCompleted}
          | Share your achievement
