include ../mixins/date

mixin status(course, completed, next)
  if course.completed
    if course.summary
      .lesson-outcome.lesson-outcome--passed
        .container
          h2.lesson-outcome-title !{translate('course-complete', 'Course Completed!')}
          p
            a.lesson-outcome-progress(href=`${course.link}summary/`) !{translate('view-course-summary', 'View Course Summary')} &rarr;
    else
      .lesson-outcome.lesson-outcome--passed
        .container
          h2.lesson-outcome-title !{translate('course-complete', 'Course Completed!')}
          p
            a.lesson-outcome-progress(href=`${course.link}`) !{translate('back-to-overview', 'Back to Course Overview')}  &rarr;
  else if completed
    .lesson-outcome.lesson-outcome--passed
      .container
        h2.lesson-outcome-title !{translate('lesson-complete', 'Your work here is done!')}
        if next
          p
            a.lesson-outcome-progress(href=`${next.link}`) !{translate('next-lesson', 'Next: ')} !{next.title} &rarr;

doctype html
html(lang='en')
  head
    title
      block title
        | !{title}
        | | !{translate('graphacademy', 'GraphAcademy')}

    include ../partials/meta.pug

    block head

  body.layout--classroom(class=classes)
    include ../partials/header

    .classroom
      //-  TODO: Remember toggle state
      .toc
        .toc-title
          h2.toc-title-header
            a(href=course.link) !{course.title}

          button.toc-toggle !{svg.classroomTocCollapse}

        include ../partials/toc

      .classroom-content
        .container
          block main

          if feedback
            include ../partials/feedback

        include ../partials/pagination

      if showSandbox
        .classroom-sandbox(class=sandboxVisible ? 'classroom-sandbox--visible' : '')
          //- button.classroom-sandbox-toggle
          //-   span.classroom-sandbox-toggle-icon !{svg.classroomSandboxToggle}
          //-   span.classroom-sandbox-toggle-label Toggle Sandbox
          iframe.sandbox(height="100%" width="100%" src=sandboxUrl)

      .panel-controls
        if showSandbox
          button.panel-control.classroom-sandbox-toggle
            span.panel-control-icon !{svg.classroomSandboxToggle}
            span.panel-control-label !{translate('toggle-sandbox', 'Toggle Sandbox')}

        if community
          button.panel-control.classroom-support-toggle
            span.panel-control-icon !{svg.classroomSupportToggle}
            span.panel-control-label !{translate('toggle-support', 'Toggle Support')}


      if community
        .clasroom-panel.classroom-support
          .classroom-panel-header
            h2 !{translate('support', 'Support')}
            .classroom-panel-close
              | !{svg.close}
          .classroom-panel-body
            .classroom-panel-container.classroom-panel-container--grow
              h3.classroom-panel-container-header !{community.title}

              .classroom-panel-container-content
                p !{translate('community-description', 'If you find yourself stuck at any stage, you can reach out for help on the')}
                  |
                  |
                  a(href=community.link target='_blank') #{community.title}
                  | .

                //- p Many community members like yourself are looking for answers on the
                //-   |
                //-   |
                //-   a(href=community.link target='_blank') #{community.title}
                //-   | .

                h4 !{translate('latest-posts', 'Latest Posts')}

                each post in community.posts
                  .community-post
                    h5.community-post-title
                      a(href=`${post.link}` target='_blank') #{post.title}

                    .community-post-meta
                      //- |  #{post.posts_count} posts. !{'&nbsp;'}
                      |
                      | !{translate('posted-on', 'Posted on')}
                      |
                      strong
                        +date(post.publishedAt)
                      |  !{translate('posted-by', ' by ')}
                      |
                      strong #{post.author}
                p
                  a.btn(href=community.link target='_blank') !{translate('join-community', 'Join the Community')}
                  a.btn(href=community.link target='_blank') !{translate('ask-a-question', 'Ask a Question')}

            .classroom-panel-container.classroom-panel-container--chat
              h3.classroom-panel-container-header !{chat.title}
              .classroom-panel-container-content
                p !{translate('chat-prefix', 'Discuss your issue ')}
                  if chat.online > 0
                    |
                    | !{translate('chat-with', 'with')}
                    |
                    strong #{chat.online}
                    |
                    | !{translate('chat-others', 'other users')}
                  |
                  | !{translate('chat-suffic', `on the ${chat.title} server`)}
                p
                  a.btn(href=chat.link target='_blank') !{translate('join-chat', 'Join Live Chat')}

    .modal
      .modal-shade
      .modal-container
        .modal-content
          .modal-header
            h2.modal-title
            .modal-close
              | !{svg.close}
          .modal-body
          .modal-caption

    //- if course.completed
    //-   .course-notice
    //-     p Congratulations on completing this course!
    //-       |
    //-       |
    //-       a(href=`/u/${user.id}/${course.slug}`) Share your achievement
    //-       |
    //-       |
    //-       a(href=`${course.link}summary/`) View Course Summary


    include ../partials/footer-scripts

    script(nonce=nonce).
      window.i18n = {
        advanceTo: "!{translate('advance-to', 'Advance To')}",
        lessonFailedTitle: "!{translate('lesson-failed-title', 'Oops!')}",
        lessonFailed: "!{translate('lesson-failed', 'Lesson failed, please try again')}",
        lessonPassed: "!{translate('lesson-passed', 'You have passed this lesson!')}",
        showHint: "!{translate('show-hint', 'Show Hint')}",
        showSolution: "!{translate('show-solution', 'Show Solution')}",
        checkHintPrefix: "!{translate('check-hint-prefix', 'If you are stuck, try clicking the')}",
        checkHintSuffix: "!{translate('check-hint-suffix', 'button')}",
        viewCourseSummary: "!{translate('view-course-summary', 'View Course Summary')}",
        viewCertificate: "!{translate('view-certificate', 'View Certificate')}",
        myCourses:  "!{translate('my-courses', 'My Courses')}",
        courseCompletedTitle: "!{translate('course-completed-title', 'You have completed this course!')}",
        error: "!{translate('error', 'Error!')}",
        tryAgain: "!{translate('try-again', 'Try Again...')}",
        challengeCompleted: "!{translate('challenge-completed', 'Challenge Completed')}",
        feedbackPositive: "!{translate('feedback-positive', 'Yes')}",
        feedbackNegative: "!{translate('feedback-negative', 'No')}",
        feedbackThankyou: "!{translate('feedback-thankyou', 'Thank you for your feedback!')}",
        feedbackFollowup: "!{translate('feedback-followup', 'We&rsquore sorry to hear that. How could we improve this page?')}",
        missing: "!{translate('missing', 'It has missing information')}",
        hardToFollow: "!{translate('hardToFollow', 'It is hard to follow or confusing')}",
        inaccurate: "!{translate('inaccurate', 'It is inaccurate, out of date, or doesn&rsquo;t work')}",
        other: "!{translate('other', 'Something else')}",
        moreInformation: "!{translate('missing', 'Please provide more information')}",
        feedbackSubmit: "!{translate('feedbackSubmit', 'Submit')}",
        feedbackSkip: "!{translate('feedbackSkip', 'Skip')}",
      }
