doctype html
html(lang='en')
  head
    title 🟢 #{title} | GraphAcademy
    link(rel='stylesheet' href='/css/app.css')
  body(class=`classroom ${classes}`)
    .header
      .container
        .navbar
          button.navbar-burger(data-target="topbar-nav" aria-label="Mobile Navigation Button")
            span
            span
            span
          .navbar-brand
            a.navbar-item(href='/')
              img.logo-icon(src='/img/icon-white.png' alt='logo-icon')
              img.logo-full(src='/img/logo-white.png' alt='logo-full')
              span.navbar-brand-text GraphAcademy
          .navbar-menu
            .navbar-end
              .navbar-item
                a.navbar-link(href='/courses') View Courses
              .navbar-item
                a.navbar-link(href='/certification') Certification
              if user
                .navbar-item
                  a.navbar-link(href='/account') Hey, #{user.given_name}!
                  .navbar-dropdown
                    .navbar-item.project
                      a.project-name(href='/profile') Public Profile
                    .navbar-item.project
                      a.project-name(href='/courses') My Courses
                    .navbar-item.project
                      a.project-name(href='/logout') Sign Out
              else
                .navbar-item
                  a.navbar-link(href='/login') Sign In

    .lesson
      .toc
        h2.toc-title
          a(href=course.link) #{course.title}

        each module in course.modules
          .toc-module
            h3.toc-module-header(class=module.completed && 'toc-module--completed')
              a(href=module.link) #{module.title}

            ul.toc-module-lessons
              each lesson in module.lessons
                li.toc-module-lesson(class=[lesson.completed ? 'toc-module-lesson--completed' : '', lesson.link == path ? 'toc-module-lesson--current' : ''].filter(e => !!e).join(' '))
                  a(href=lesson.link) #{lesson.title}
                    |
                    if module.duration
                      span.duration (
                      | #{module.duration}
                      | )

              //- TODO: toc-module-lesson--current
              //- pre #{JSON.stringify(module, null, 2)}
                //- if module.duration
                //-   span.duration (
                //-     | #{module.duration}
                    | )


      .lesson-content
        block main

      if sandbox
        .lesson-sandbox
          iframe.sandbox(height="100%" width="100%" src=`${course.link}/browser/?cmd=edit&arg=${encodeURIComponent(cypher)}`)


    include ../partials/footer-scripts