include ../mixins/date

doctype html
html(lang='en')
  head
    title
      block title
        | !{title}
        | | GraphAcademy

    include ../partials/meta.pug

    block head

  body.layout--classroom(class=classes)
    include ../partials/header

    .classroom
      //-  TODO: Remember toggle state
      .toc
        .toc-title
          h2.toc-title-header
            a(href=course.link) !{course.title}

          button.toc-toggle !{svg.classroomTocCollapse}

        each module in course.modules
          .toc-module
            h3.toc-module-header(class=module.completed && 'toc-module--completed')
              a(href=module.link)
                span.toc-icon !{course.completed ? svg.classroomTocCompleted : svg.classroomTocModule}
                | !{module.title}

            ul.toc-module-lessons
              each lesson in module.lessons
                li.toc-module-lesson(class=[lesson.completed ? 'toc-module-lesson--completed' : '', lesson.link == path ? 'toc-module-lesson--current' : ''].filter(e => !!e).join(' '))
                    a(href=lesson.link)
                      span.toc-icon
                        if lesson.completed === true
                          | !{svg.classroomTocCompleted}
                        else if lesson.type == lessonType.LESSON_TYPE_QUIZ
                          | !{svg.classroomTocQuiz}
                        else if lesson.type == lessonType.LESSON_TYPE_VIDEO
                          | !{svg.classroomTocVideo}
                        else if lesson.type == lessonType.LESSON_TYPE_CHALLENGE
                          | !{svg.classroomTocChallenge}
                        else
                          //- if lesson.type == lessonType.LESSON_TYPE_TEXT
                          | !{svg.classroomTocText}
                      span.lesson-title !{lesson.title}

                      if module.duration
                        span.lesson-duration (
                        | #{module.duration}
                        | )

                      if lesson.link == path
                        span.lesson-current
                          | !{svg.arrowNext}

        if course.completed
          .toc-module
            h3.toc-module-header.toc-module--completed
              a(href=`${course.link}summary`)
                span.toc-icon !{svg.classroomTocCompleted}
                | Course Summary
            ul.toc-module-lessons
              li.toc-module-lesson.toc-module-lesson--completed
                a(href=`/u/${user.id}/${course.slug}`)
                  span.toc-icon
                    | !{svg.classroomTocCompleted}
                  | Share your achievement

      .classroom-content
        .container
          block main

          include ../partials/feedback

        include ../partials/pagination

        .modal
          .modal-container
            .modal-content
              .modal-header
                h2.modal-title
                .modal-close
                  | !{svg.close}
              .modal-body
              .modal-caption

      if showSandbox
        .classroom-sandbox(class=sandboxVisible ? 'classroom-sandbox--visible' : '')
          //- button.classroom-sandbox-toggle
          //-   span.classroom-sandbox-toggle-icon !{svg.classroomSandboxToggle}
          //-   span.classroom-sandbox-toggle-label Toggle Sandbox
          iframe.sandbox(height="100%" width="100%" src=sandboxUrl)

      .panel-controls
        if showSandbox
          button.panel-control.classroom-sandbox-toggle
            span.panel-control-icon !{svg.classroomSandboxToggle}
            span.panel-control-label Toggle Sandbox

        button.panel-control.classroom-support-toggle
          span.panel-control-icon !{svg.classroomSupportToggle}
          span.panel-control-label Toggle Support


      if community
        .clasroom-panel.classroom-support.classroom-support--visible
          .classroom-panel-header
            h2 Support
            .classroom-panel-close
              | !{svg.close}
          .classroom-panel-body
            .classroom-panel-container.classroom-panel-container--grow
              h3.classroom-panel-container-header !{community.title}

              .classroom-panel-container-content
                p If you find yourself stuck at any stage, you can reach out for help on the
                  |
                  |
                  a(href=community.link target='_blank') #{community.title}
                  | .

                //- p Many community members like yourself are looking for answers on the
                //-   |
                //-   |
                //-   a(href=community.link target='_blank') #{community.title}
                //-   | .

                each post in community.posts
                  .community-post
                    h3.community-post-title
                      a(href=`${community.url}t/${post.slug}/${post.id}` target='_blank') #{post.title}

                    .community-post-meta
                      |  #{post.posts_count} posts. !{'&nbsp;'}
                      |
                      | Last reply by #{post.last_poster_username} on
                      +date(post.last_posted_at)
                p
                  a.btn(href=community.link target='_blank') Join the Community

            .classroom-panel-container.classroom-panel-container--chat
              h3.classroom-panel-container-header !{chat.title}
              .classroom-panel-container-content
                p Discuss your issue
                  if chat.online > 0
                    |
                    | with
                    |
                    strong #{chat.online}
                    |
                    | other users
                  |
                  | on the !{chat.title} server
                p
                  a.btn(href=chat.link target='_blank') Join Live Chat


    if course.completed
      .course-completed
        p Congratulations on completing this course!
          |
          |
          a(href=`/u/${user.id}/${course.slug}`) Share your achievement
          |
          |
          a(href=`${course.link}summary/`) View Course Summary


    include ../partials/footer-scripts