doctype html
html(lang='en')
  head
    title
      block title
        | !{title}
        | | GraphAcademy

    include ../partials/meta.pug

    block head

  body.layout--classroom(class=classes)
    include ../partials/header

    .classroom
      //-  TODO: Remember toggle state
      .toc
        .toc-title
          h2.toc-title-header
            a(href=course.link) !{course.title}

          button.toc-toggle !{svg.classroomTocCollapse}

        each module in course.modules
          .toc-module
            h3.toc-module-header(class=module.completed && 'toc-module--completed')
              a(href=module.link)
                span.toc-icon !{course.completed ? svg.classroomTocCompleted : svg.classroomTocModule}
                | !{module.title}

            ul.toc-module-lessons
              each lesson in module.lessons
                li.toc-module-lesson(class=[lesson.completed ? 'toc-module-lesson--completed' : '', lesson.link == path ? 'toc-module-lesson--current' : ''].filter(e => !!e).join(' '))
                    a(href=lesson.link)
                      span.toc-icon
                        if lesson.completed === true
                          | !{svg.classroomTocCompleted}
                        else if lesson.type == lessonType.LESSON_TYPE_QUIZ
                          | !{svg.classroomTocQuiz}
                        else if lesson.type == lessonType.LESSON_TYPE_VIDEO
                          | !{svg.classroomTocVideo}
                        else if lesson.type == lessonType.LESSON_TYPE_CHALLENGE
                          | !{svg.classroomTocChallenge}
                        else
                          //- if lesson.type == lessonType.LESSON_TYPE_TEXT
                          | !{svg.classroomTocText}
                      span.lesson-title !{lesson.title}

                      if module.duration
                        span.lesson-duration (
                        | #{module.duration}
                        | )

                      if lesson.link == path
                        span.lesson-current
                          | !{svg.arrowNext}


        if course.completed
          .toc-module
            h3.toc-module-header.toc-module--completed
              a(href=`${course.link}summary`)
                span.toc-icon !{svg.classroomTocCompleted}
                | Course Summary
            ul.toc-module-lessons
              li.toc-module-lesson.toc-module-lesson--completed
                a(href=`/u/${user.id}/${course.slug}`)
                  span.toc-icon
                    | !{svg.classroomTocCompleted}
                  | Share your achievement

      .classroom-content
        .container
          block main

          include ../partials/feedback

        include ../partials/pagination

      if showSandbox
        .classroom-sandbox(class=sandboxVisible ? 'classroom-sandbox--visible' : '')
          button.classroom-sandbox-toggle
            span.classroom-sandbox-toggle-icon !{svg.classroomSandboxToggle}
            span.classroom-sandbox-toggle-label Toggle Sandbox
          iframe.sandbox(height="100%" width="100%" src=sandboxUrl)

    if course.completed
      div.course-completed
        p Congratulations on completing this course!
          |
          |
          a(href=`/u/${user.id}/${course.slug}`) Share your achievement
          |
          |
          a(href=`${course.link}summary/`) View Course Summary


    include ../partials/footer-scripts