include ../mixins/date

mixin status(course, completed, next)
  if course.completed
    if course.summary
      .lesson-outcome.lesson-outcome--passed
        .container
          h2.lesson-outcome-title Course Completed!
          p
            a.lesson-outcome-progress(href=`${course.link}summary/`) View Course Summary &rarr;
    else
      .lesson-outcome.lesson-outcome--passed
        .container
          h2.lesson-outcome-title Course Completed!
          p
            a.lesson-outcome-progress(href=`${course.link}`) Back to Course Overview &rarr;
  else if completed
    .lesson-outcome.lesson-outcome--passed
      .container
        h2.lesson-outcome-title Your work here is done!
        if next
          p
            a.lesson-outcome-progress(href=`${next.link}`) Next: !{next.title} &rarr;

doctype html
html(lang='en')
  head
    title
      block title
        | !{title}
        | | GraphAcademy

    include ../partials/meta.pug

    block head

  body.layout--classroom(class=classes)
    include ../partials/header

    .classroom
      //-  TODO: Remember toggle state
      .toc
        .toc-title
          h2.toc-title-header
            a(href=course.link) !{course.title}

          button.toc-toggle !{svg.classroomTocCollapse}

        include ../partials/toc

      .classroom-content
        .container
          block main

          if feedback
            include ../partials/feedback

        include ../partials/pagination

      if showSandbox
        .classroom-sandbox(class=sandboxVisible ? 'classroom-sandbox--visible' : '')
          //- button.classroom-sandbox-toggle
          //-   span.classroom-sandbox-toggle-icon !{svg.classroomSandboxToggle}
          //-   span.classroom-sandbox-toggle-label Toggle Sandbox
          iframe.sandbox(height="100%" width="100%" src=sandboxUrl)

      .panel-controls
        if showSandbox
          button.panel-control.classroom-sandbox-toggle
            span.panel-control-icon !{svg.classroomSandboxToggle}
            span.panel-control-label Toggle Sandbox

        if community
          button.panel-control.classroom-support-toggle
            span.panel-control-icon !{svg.classroomSupportToggle}
            span.panel-control-label Toggle Support


      if community
        .clasroom-panel.classroom-support
          .classroom-panel-header
            h2 Support
            .classroom-panel-close
              | !{svg.close}
          .classroom-panel-body
            .classroom-panel-container.classroom-panel-container--grow
              h3.classroom-panel-container-header !{community.title}

              .classroom-panel-container-content
                p If you find yourself stuck at any stage, you can reach out for help on the
                  |
                  |
                  a(href=community.link target='_blank') #{community.title}
                  | .

                //- p Many community members like yourself are looking for answers on the
                //-   |
                //-   |
                //-   a(href=community.link target='_blank') #{community.title}
                //-   | .

                h4 Latest Posts

                each post in community.posts
                  .community-post
                    h5.community-post-title
                      a(href=`${post.link}` target='_blank') #{post.title}

                    .community-post-meta
                      //- |  #{post.posts_count} posts. !{'&nbsp;'}
                      |
                      | Posted on
                      |
                      strong
                        +date(post.publishedAt)
                      |  by
                      |
                      strong #{post.author}
                p
                  a.btn(href=community.link target='_blank') Join the Community
                  a.btn(href=community.link target='_blank') Ask a Question

            .classroom-panel-container.classroom-panel-container--chat
              h3.classroom-panel-container-header !{chat.title}
              .classroom-panel-container-content
                p Discuss your issue
                  if chat.online > 0
                    |
                    | with
                    |
                    strong #{chat.online}
                    |
                    | other users
                  |
                  | on the !{chat.title} server
                p
                  a.btn(href=chat.link target='_blank') Join Live Chat

    .modal
      .modal-shade
      .modal-container
        .modal-content
          .modal-header
            h2.modal-title
            .modal-close
              | !{svg.close}
          .modal-body
          .modal-caption


    //- if course.completed
    //-   .course-notice
    //-     p Congratulations on completing this course!
    //-       |
    //-       |
    //-       a(href=`/u/${user.id}/${course.slug}`) Share your achievement
    //-       |
    //-       |
    //-       a(href=`${course.link}summary/`) View Course Summary


    include ../partials/footer-scripts