include ../mixins/date

mixin status(course, completed, next)
  if course.completed
    if course.summary
      .lesson-outcome.lesson-outcome--passed
        .container
          h2.lesson-outcome-title !{translate('course-complete', 'Course Completed!')}
          p
            a.lesson-outcome-progress(href=`${course.link}summary/`) !{translate('view-course-summary', 'View Course Summary')} &rarr;
    else
      .lesson-outcome.lesson-outcome--passed
        .container
          h2.lesson-outcome-title !{translate('course-complete', 'Course Completed!')}
          p
            a.lesson-outcome-progress(href=`${course.link}`) !{translate('back-to-overview', 'Back to Course Overview')}  &rarr;
  else if completed
    .lesson-outcome.lesson-outcome--passed
      .container
        h2.lesson-outcome-title !{translate('lesson-complete', 'Your work here is done!')}
        if next
          p
            a.lesson-outcome-progress(href=`${next.link}`) !{translate('next-lesson', 'Next: ')} !{next.title} &rarr;

doctype html
html(lang='en')
  head
    title
      block title
        | !{title}
        | | !{translate('graphacademy', 'GraphAcademy')}

    include ../partials/meta.pug
    include ../partials/header-scripts.pug

    block head

  body.layout--classroom(class=classes)
    .classroom(class=prefersTranscript ? 'classroom--prefer-transcript' : '')
      .classroom-navbar(class=classroomHideSidebar ? 'classroom-navbar--hidden': 'classroom-navbar--visible')
        .classroom-header
            include ../partials/navbar-brand

            .classroom-collapsed-navbar !{svg.neo4jLetter}
        .toc
          .toc-title
            h2.toc-title-header
              a(href=course.link) !{course.title}

          include ../partials/toc

        .classroom-navbar-footer
          .classroom-navbar-account !{svg.classroomNavigationUser}
          .classroom-navbar-controls
            button.classroom-navbar-control.classroom-navbar-hide(aria-label="Hide Navigation") !{svg.classroomNavigationHide}
            button.classroom-navbar-control.classroom-navbar-show(aria-label="Show Navigation") !{svg.classroomNavigationShow}

      div.classroom-content#content
        +status(course, completed, next)
        .container
          if offerTranslation || forceTranslation
            .classroom-translation
              div#google_translate_element

          block main

          include ../partials/pagination

          if feedback
            include ../partials/feedback

          include ../classroom/partials/panel-controls

      include ../classroom/partials/sandbox

      if chatbotAvailable
        include ../classroom/partials/chatbot

      if community
        include ../classroom/partials/support

    include ../partials/modal

    include ../partials/footer-scripts
    include ../partials/i18n
