doctype html
html(lang='en')
  head
    title 🟢 #{title} | GraphAcademy
    link(rel='stylesheet' href='/css/app.css')
  body(class=`classroom ${classes}`)
    include ../partials/header

    .lesson
      .toc
        h2.toc-title
          a(href=course.link) #{course.title}

        each module in course.modules
          .toc-module
            h3.toc-module-header(class=module.completed && 'toc-module--completed')
              a(href=module.link) #{module.title}

            ul.toc-module-lessons
              each lesson in module.lessons
                li.toc-module-lesson(class=[lesson.completed ? 'toc-module-lesson--completed' : '', lesson.link == path ? 'toc-module-lesson--current' : ''].filter(e => !!e).join(' '))
                  a(href=lesson.link) #{lesson.title}
                    |
                    if module.duration
                      span.duration (
                      | #{module.duration}
                      | )


      .lesson-content
        block main

      //- if sandbox
      .lesson-sandbox(class=sandbox ? 'lesson-sandbox--visible' : '')
        button.lesson-sandbox-toggle
          span Toggle Sandbox

        iframe.sandbox(height="100%" width="100%" src=`${course.link}/browser/?cmd=edit&arg=${encodeURIComponent(cypher)}`)


    if course.completed
      div.course-completed
        p Congratulations on completing this course!
          |
          |
          a(href=`/u/${user.id}/${course.slug}`) Share your achievement


    include ../partials/footer-scripts