include ../mixins/date
include ../mixins/json
include ../mixins/hero

doctype html
html(lang='en')
  head
    title
      block title
      | !{title}
      | | Free Neo4j Courses from GraphAcademy

    include ../partials/meta.pug
    include ../partials/header-scripts.pug

    block head

  body(class=classes)
    if ga.gtm_id
      // Google Tag Manager (noscript)
      noscript
        iframe(src=`https://www.googletagmanager.com/ns.html?id=${ga.gtm_id}` height='0' width='0' style='display:none;visibility:hidden')
      // End Google Tag Manager (noscript)


    a.skip-to-content(href='#content') Skip to content

    if banner
      .banner
        .banner-container
          p !{banner.text}
            | !{' '}
            a(href=banner.link) !{banner.cta}

    include ../partials/header

    if messages
      for message, key in messages
        .notification(class=`notification--${key}`) !{message}

    block hero
      if hero
        +hero(hero.title, hero.byline, hero.overline)

    .main#content
      block main

    include ../partials/footer
    include ../partials/footer-scripts
    include ../partials/translation

    block scripts