include ../mixins/date
include ../mixins/json
include ../mixins/hero

doctype html
html(lang='en')
  head
    title
      block title
      | !{title}
      | | Free Neo4j Courses from GraphAcademy

    include ../partials/meta.pug
    include ../partials/header-scripts.pug

    block head

  body(class=classes)
    if banner
      .banner
        .banner-container
          p !{banner.text}
            | !{' '}
            a(href=banner.link) !{banner.cta}


    include ../partials/header

    if messages
      for message, key in messages
        .notification(class=`notification--${key}`) !{message}

    //- include ../partials/breadcrumbs

    block hero
      if hero
        +hero(hero.title, hero.byline, hero.overline)

    .main
      //- .container

      block main

    include ../partials/footer
    include ../partials/footer-scripts
