include ../mixins/date
include ../mixins/progress

doctype html
html(lang='en')
  head
    title
      block title
        | !{course.title}
        | | !{translate('graphacademy', 'GraphAcademy')}

    include ../partials/meta.pug
    include ../partials/header-scripts.pug

    block head

  body.layout--exam(class=classes)
    .exam
      .exam-header
        include ../partials/navbar-brand
        .exam-certification-title !{course.title}

      main.exam-question-container
        block main

        .exam-footer
          p Copyright &copy; #{new Date().getFullYear()} Neo4j Inc.


    include ../partials/footer-scripts
    include ../partials/i18n
