.card.course-coming-soon
  .card-body
    if isInterested || (messages['success'] && messages['success'][0].includes('Your interest'))
      h3.card-title #{translate('coming-soon-title', 'Course Coming Soon')}
      .admonition.admonition--positive #{translate('interest-confirmation', 'Thank you for registering your interest. We will contact you when the course is available.')}
    else
      h3.card-title #{translate('coming-soon-title', 'Course Coming Soon')}
      p #{translate('coming-soon-text', 'We are currently working on this course.  Fill in the form below to register your interest and we will contact you when it is ready.')}

      form.form(method='POST' action=`${course.link}interested`)
        .form-group
          label !{translate('email-address', 'Email Address')}
          input#email(type="email" name="email", value=user ? user.email : '' placeholder=translate('email-address-placeholder', 'Your email address'))
        .form-buttons
          button.btn !{translate('register-interest', 'Register Interest')}

if user && user.email.endsWith('@neotechnology.com') && !course.enrolled && course.modules.length
  .card.course-enrol-anyway
    .card-body
      h3.card-title Enroll Anyway

      p Your email address ends with neotechnology.com, so you can enroll to preview this course.
        | Remember, this course is a work in progress so some aspects may be incomplete.  If you have any comments, please email
        a(href=`mailto:graphacademy.neo4j.com?subject=${encodeURIComponent('Course Preview Feedback: '+ title)}`) !{' '} graphacademy@neo4j.com.
      .card-actions
        a.btnss.btn--enrol(href=`${course.link}enrol`) Enroll Anyway