mixin course(course, recommendation)
    li.course-recommendation()
        a.course-translation-title(href=recommendation.link+'?ref=recommendation') !{recommendation.title}
        .body-small.recommendation-count !{recommendation.count} users who completed
            strong !{' ' + course.title + ' '}
            | have also completed
            strong !{' '+ recommendation.title}
            |  .

if recommendations && recommendations.length
    h3 !{translate('recommendations', 'Similar Courses')}

    ul.course-recommendations
        for recommendation in recommendations
            +course(course, recommendation)
