.card.course-structure
  each module, index in course.modules
    .toc-module
      h3.toc-module-header(class=[module.completed ? 'toc-module--completed' : '', module.link === path ? 'toc-module--current' : ''].join(' '))
        a(href=module.link)
          //- span.toc-icon !{module.completed ? svg.classroomTocCompleted : svg.classroomTocModule}
          | #{('00'+ (index+1)).substr(-2)}.
          | !{module.title}

      if module.description
        p.toc-module-description !{module.description}

      dl.toc-module-meta
        dt.toc-meta-term
          | !{svg.iconLesson}
          span Lessons
        dd.toc-meta-details
          | !{module.lessons.length} Lesson#{module.lessons.length !== 1 ? 's' : ''}
        //- TODO: quizzes, videos, challenges
        //- dt.toc-meta-term
        //-   | !{svg.iconChallenges}
        //-   span Challenges
        //- dd.toc-meta-details
        //-   | 3

      ul.toc-module-lessons
        each lesson in module.lessons
          li.toc-module-lesson(class=[lesson.completed ? 'toc-module-lesson--completed' : '', lesson.link == path ? 'toc-module-lesson--current' : ''].filter(e => !!e).join(' '))
            a(href=lesson.link)
              span.lesson-title !{lesson.title}

              if lesson.optional
                span.lesson-optional !{' '+ translate('optional', '(Optional)')}

              if lesson.duration
                span.lesson-duration (
                | #{lesson.duration}
                | )


  if course.completed
    .toc-module
      h3.toc-module-header
        a(href=`${course.link}summary/`) #{('00'+ (course.modules.length+1)).substr(-2)}. !{translate('course-summary', 'Course Summary')}

      ul.toc-module-lessons
        li.toc-module-lesson.toc-module-lesson--completed.toc-course-achievement
          a(href=`${course.link}summary/`)
            | !{translate('course-summary', 'Course Summary')}
        li.toc-module-lesson.toc-module-lesson--completed.toc-course-achievement
          a(href=`/c/${course.certificateId}`)
            | !{translate('share-achievement', 'Share your achievement')}