mixin course(header, course)
  li.course-translation(class=`course-path-item--${header.toLowerCase().replace(' ', '-')}`)
    a.course-translation-title(href=course.link) !{course.title}
    .overline.body-small #{header}

if translations && translations.length
  h3 !{translate('translations', 'Translations')}

  ul.course-translations
    for course in translations
        +course(course.language, course)

//-   ul.course-path
    //- if translations && translations.length


    //- if progressTo && progressTo.length
    //-   for course in progressTo
    //-     +course(translate('progress-to', 'Progress To'), course)
