extends ../layouts/two-column

block minor
  nav.secondary-nav.secondary-nav--sticky.secondary-nav--collapsible
    h2.secondary-nav-title.body-small Team Navigation

    .secondary-nav-group
      ul.secondary-nav-list
        li.secondary-nav-item(class=path == `/teams/${team.id}/` ? 'secondary-nav-item--active' : '')
          a(href=`/teams/${team.id}/`)
            | !{svg.iconTeamHome}
            | Team Home
        li.secondary-nav-item(class=path == `/teams/${team.id}/progress` ? 'secondary-nav-item--active' : '')
          a(href=`/teams/${team.id}/progress`)
            | !{svg.iconTeamProgress}
            | Team Progress
        li.secondary-nav-item(class=path == `/teams/${team.id}/leaderboard` ? 'secondary-nav-item--active' : '')
          a(href=`/teams/${team.id}/leaderboard`)
            | !{svg.iconTeamLeaderboard}
            | Leaderboard

      if isAdmin
        ul.secondary-nav-list.secondary-nav-list--separated
          li.secondary-nav-item(class=path == `/teams/${team.id}/courses` ? 'secondary-nav-item--active' : '')
            a(href=`/teams/${team.id}/courses`)
              | !{svg.iconTeamCourses}
              | Manage Courses
          li.secondary-nav-item(class=path == `/teams/${team.id}/members` ? 'secondary-nav-item--active' : '')
            a(href=`/teams/${team.id}/members`)
              | !{svg.iconTeamMembers}
              | Manage Members
          li.secondary-nav-item(class=path == `/teams/${team.id}/settings` ? 'secondary-nav-item--active' : '')
            a(href=`/teams/${team.id}/settings`)
              | !{svg.iconTeamSettings}
              | Team Settings 