extends ../layouts/default

block main
  include partials/header

  .course-description.course-container
    .container
      .major
        include partials/tabs
        
        form(method='POST' action=`/teams/${team.id}/courses`).form.form-team-courses
          if allCourses && allCourses.length
            each course in allCourses
              if course.status == statuses.STATUS_ACTIVE
                .course-row.form-group
                  a.course(href=course.link)
                    img(src=`${course.link}illustration` alt=course.title)
                    .course-information
                      div.course-title !{course.title}
                      div.course-caption.body-small !{course.caption}

                  .course-selection
                    select(name=`courses[${course.slug}]`)
                      option(value='') 
                      - for (let i = 1; i <= allCourses.length; i++)
                        option(value=i selected=orders[course.slug] === i) !{i}

              
          .form-buttons.form-buttons--bottom
            button.btn.btn--primary(type='submit') Save Course Preferences
