extends ../layouts/basic  

block main
  h1 Join 
    |
    span.highlight !{team.public || name === team.name ? team.name : 'my team'} 
    |
    | on GraphAcademy

  
  //-   path 
  if courses && courses.length > 0
    .team-courses
      for course in courses
        .team-course.card.course-card
          a(href=`/courses/${course.slug}/`) !{course.title}
          .card-illustration
            img(src=`/courses/${course.slug}/illustration/` alt=course.title)

          .card-description
            p.body-small.text-muted !{course.caption}


  if !user
    a.btn.btn--primary(href=`/login?returnTo=${encodeURIComponent(path)}`) Login to join team
  else
    //- form
    form.form(method='post')
      .form-group
        label(for='pin') Enter Team PIN
        input(type='password' name='pin' id='pin' placeholder='1234' value=pin required)
        if errors.pin
          label.label-error(for='pin') !{errors.pin}
        else
          label.label-hint(for='pin') This team requires a PIN to join.

      button.btn.btn--primary(type='submit') Join Team

  //- if team.pin


  //- 
    p join my team