extends ../layouts/default
include ../course/card

block main
  include partials/header

  .course-description.course-container.teams-container
    .container
      .major
        include partials/tabs

        .continue
          .continue-title
            h2 Leaderboard

          .continue-body
            table.leaderboard(style='width: 100%')
              thead
                tr
                  th.position
                    abbr(title='Position') #
                  th.learner Learner
                  th.points Points
                  th.courses Courses
              tbody
                if leaderboard && leaderboard.length
                  for row, index in leaderboard
                    tr.accordion-body
                      td.position #{index+1}
                      td.learner
                        a(href=`/u/${row.user.id}`)
                          .profile-image
                            if row.user.image
                              img(src=row.user.image alt=`Profile image for ${row.user.name}`)
                            else if row.user.givenName
                              .profile-image-placeholder
                                | !{row.user.givenName.split(' ').map(i => i.substring(0, 1)).join('')}

                          .profile-name #{row.user.displayName || row.user.givenName || row.user.name}
                            if row.user.position
                              span.profile-underline #{row.user.position}
                            else if row.user.company
                              span.profile-underline #{row.user.company}
                      td.points !{row.points}
                      td.courses
                        for course in row.courses.slice(0, 5)
                          a(href=course.link)
                            img(src=`${course.link}illustration` alt=course.title)

                        if row.completed > 5
                          a(href=`/u/${row.user.id}`)
                            i +#{row.completed-5} more...
                else
                  tr
                    td(colspan='4') No learners have completed any courses yet.

      .minor 
        include partials/path
