extends ../layouts/default
include ../course/card

block main
  include partials/header

  .course-description.course-container.teams-container.secondary
    .container
    
      .leaderboard
        .continue-title
          h2 Team Progress

        .continue-body.course-matrix-container
          table.course-matrix
            thead
              tr
                th.learner Member
                for course in courses
                  //- th.course-matrix-course !{c.title.replace(' ', '<br>')}
                  th.course-matrix-course 
                    img(src=`${course.link}illustration` alt=course.title)
            tbody
              for user in members
                tr
                  th.learner
                    a(href=`/u/${user.id}`)
                      .profile-image
                        if user.picture
                          img(src=user.picture alt=`Profile image for ${user.givenName}`)
                        else if user.givenName
                          .profile-image-placeholder
                            | !{user.givenName.split(' ').map(i => i.substring(0, 1)).join('')}
                      .profile-name #{user.displayName || user.givenName || user.name}
                        if user.position
                          span.profile-underline #{user.position}
                        else if user.company
                          span.profile-underline #{user.company}

                  for course in courses
                    td.course-matrix-course(class=[
                      matrix[user.id][course.slug].completed ? 'course-matrix-course--completed' : '',
                      matrix[user.id][course.slug].enrolled ? 'course-matrix-course--enrolled' : '',
                    ].join(' '))
                      //- if matrix[user.id][course.slug].completed || matrix[user.id][course.slug].enrolled
                      //-   img(src=`${course.link}illustration` alt=course.title)

                      if matrix[user.id][course.slug].completed
                        span.course-matrix-icon-completed
                          | !{svg.iconCheck}
                      else if matrix[user.id][course.slug].enrolled
                        span.course-matrix-icon-enrolled
                            | !{svg.iconDuration}

          //- .continue-footer
          //-   p.body-small
          //-     | !{svg.iconDuration}
          //-     span Enrolled

          //-     | !{svg.iconCheck}
          //-     span Completed
              

      //- .minor 
      //-   include partials/path