extends ../layouts/exam

block main
    .exam-introduction 
      | !{doc}
      .exam-start
        a.btn.btn--primary(href=`/certifications/${course.slug}/enrol/`) Start Exam

//-   .progress-container
//-     .progress-remaining(data-created=createdAt data-expires=expiresAt)
//-       //- span !{expiresAt}
//-     .progress-bar(class=currentPassPercentage < 80 ? 'progress-bar--warning' : 'progress-bar--ok')
//-       .progress-bar-container
//-         span(style=`width: ${progress}%`) #{progress}%
//-     .progress-percentage !{answered+1} of !{assigned} |  #{Math.round(progress, 0)}%

//-   form.exam-question(action=`/certifications/${course.slug}/exam/` method='post')
//-     input(type='hidden' name='id', value=question.id)
//-     .exam-question-title
//-       h2 !{question.title}
//-     .question(class=question.role)
//-       | !{question.html}
//-     .exam-question-submit
//-       button.btn.btn--primary(type='submit' disabled) Submit Answer
