extends ../layouts/exam

block main
  .exam-results
    if passed
      include ./partials/share

    else
      .exam-results-failed
        h2 Oh no!
        p Unfortunately you have not passed.  Don't worry though, you can try again in 24 hours.

    p You answered
      |
      |
      strong !{correct}
      |
      | of
      |
      strong !{assigned}
      |
      |
      | questions correctly, giving you a total score of
      |
      strong !{percentage}%
      | .

    p You can review your answers and gather feedback below.

    for category in questions
      details.exam-details()
        summary.exam-summary
          div.exam-summary-arrow !{svg.chevronLeft}
          div.exam-summary-title !{category.title}
          div.exam-summary-spacer
          div.exam-summary-marks !{category.correct} of !{category.total}
          div.exam-summary-percentage(class='exam-summary-percentage--'+ category.status) !{Math.round(category.percentage, 2)}%

        for row in category.questions
          .exam-question(class=row.correct ? 'exam-question--correct' : 'exam-question--incorrect')
            .exam-question-title
              h2
                if row.correct
                  |!{svg.iconCheck}
                //- | !{row.category.title} &rarr;
                | !{row.title}
            | !{row.question.replace('{cdn-url}', cdnUrl)}


            ul.exam-answer-options
              for option in row.options
                li.exam-answer-option(class=[
                  row.provided.includes(option) ? 'exam-answer-option--selected' : 'exam-answer-option--unselected',
                  row.answers.includes(option) ? 'exam-answer-option--correct' : 'exam-answer-option--incorrect',
                ]) !{option}

            if row.feedback
              .exam-answer-feedback
                h4.exam-answer-feedback-title
                  strong Feedback
                | !{row.feedback.replace('{cdn-url}', cdnUrl)}

    p.exam-results-return
      a(href=course.link) Return to !{course.title}

        //- pre !{JSON.stringify(row, null, 2)}
