include ../mixins/json
ul
  each item in node.getItems()
    li
      if item.$attr('checkbox', false) != false
        input(name="foo")
      | !{item.getText()}
      | !{item.option}
      +json(item.$attr('checkbox', false))
//- |  !{node.getContent()}



//- if item.id
//-         result << %(<li id="#{item.id}"#{item.role ? %( class="#{item.role}") : ''}>)
//-       elsif item.role
//-         result << %(<li class="#{item.role}">)
//-       else
//-         result << '<li>'
//-       end
//-       if checklist && (item.attr? 'checkbox')
//-         result << %(<p>#{(item.attr? 'checked') ? marker_checked : marker_unchecked}#{item.text}</p>)
//-       else
//-         result << %(<p>#{item.text}</p>)
//-       end
//-       result << item.content if item.blocks?
//-       result << '</li>'