.admonition(class=`admonition--${node.getAttribute('name')} ${node.getRole('role', '')}`)
  if node.hasTitle()
    p.admonition-title !{node.getTitle()}
  else
    p.admonition-title !{node.getRole('role', '')}
  | !{node.getContent()}