include ../mixins/json

.code(class=`language-${node.$attr('language')}`)
  if !node.$attr('role', '').includes('noheader')
    .code-header
      if node.getTitle()
        .code-title #{node.getTitle()}
      if node.$attr('language')
        .code-language #{node.$attr('language')}

      if !node.$attr('role', '').includes('nocopy')
        button.btn.btn-copy Copy to Clipboard

      if node.$attr('language') == 'cypher' && !node.$attr('role', '').includes('noplay')
        button.btn.btn-play Run in Sandbox

  pre.highlight(class=!node.$attr('role', '').includes('noheader') ? 'has-header' : 'no-header')
    code.hljs(class=`language-${node.$attr('language')}`) !{node.getContent()}
