.code(class=`language-${node.$attr('language')}`)
  if !node.$attr('role', '').includes('noheader')
    .code-header
      if node.$attr('language')
        .code-language #{node.$attr('language')}
      if node.getTitle()
        .code-title #{node.getTitle()}

      .code-header-spacer

      if !node.$attr('role', '').includes('nocopy')
        button.btn.btn-copy
          svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M13.75 6.875V5C13.75 3.96447 12.9105 3.125 11.875 3.125H5C3.96447 3.125 3.125 3.96447 3.125 5V11.875C3.125 12.9105 3.96447 13.75 5 13.75H6.875M13.75 6.875H15C16.0355 6.875 16.875 7.71447 16.875 8.75V15C16.875 16.0355 16.0355 16.875 15 16.875H8.75C7.71447 16.875 6.875 16.0355 6.875 15V13.75M13.75 6.875H8.75C7.71447 6.875 6.875 7.71447 6.875 8.75V13.75' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
          | Copy

      if (node.$attr('language', '').toLowerCase() == 'cypher') && !node.$attr('role', '').includes('noplay')
        button.btn.btn-play
          svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M4.375 4.71056C4.375 3.9975 5.1395 3.54547 5.7643 3.88911L15.3815 9.17855C16.0291 9.53473 16.0291 10.4653 15.3815 10.8215L5.7643 16.1109C5.1395 16.4545 4.375 16.0025 4.375 15.2894V4.71056Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
          | Run

  pre.highlight(class=!node.$attr('role', '').includes('noheader') ? 'has-header' : 'no-header')
    code.hljs(class=`language-${node.$attr('language')}`) !{node.getContent()}
