if node.$attr('role') == 'cdn'
  .videoblock.video.video--cdn
    video(data-target=node.$attr('target') controls data-id=node.$attr('target') width=node.$attr('width').toString() height=node.$attr('height').toString() )
      source(src=src=node.$attr('target'), type='video/mp4')
else
  .videoblock.video(class=node.$attr('role'))
    .content
      .video(data-id=node.$attr('target') data-width=node.$attr('width').toString() data-height=node.$attr('height').toString() )
