doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href=`${cdnUrl}/css/app.css`)
    title !{title}
    style !{css}

  body.banner
    .container
      .logo
        img(src='https://graphacademy.neo4j.com/img/ga-logo.png' alt='GA' style='height: 1.5rem; width: auto')        

      .overline !{overline}
      h1 !{title}

      p.byline !{byline}

      if badge
        .badge !{badge}
