doctype html
html(lang='en')
  head
    title Please wait&hellip;
    link(rel='stylesheet' href='/css/app.min.css')
  body.browser-loading
    .loading
      span
      span
      span
    //- h1 Neo4j Browser
    //- p Attempting automatic signin to Neo4j Browser
    script.
      function getConnectionsObject(boltUrl, username, password) {
        conns = { "allConnectionIds": ["$$discovery"],
          "connectionsById":
          {
            "$$discovery":
            {
              "host": boltUrl,
              "id": "$$discovery",
              "name": "$$discovery",
              "type": "bolt",
              "username": username,
              "password": password
            }
          },
          "activeConnection":"$$discovery",
          "connectionState":1
        }
        return conns;
      }

      var url = '#{scheme}://#{host}:#{port}';
      var username = '#{username}';
      var password = '#{password}';
      localStorage.setItem("neo4j.connections", JSON.stringify(getConnectionsObject(url, username, password)));
      window.location.replace("/browser/"+ window.location.search);