extends layouts/default
include course/card
include mixins/horizontalcontrols

block main
  .home(class=user && (current && current.length) || (bookmarked && bookmarked.length) ? 'home--active-learner' : '')
    .hero
      .container
        .spacer
          h1.heading GraphAcademy &mdash; Free, Self-Paced, Hands-on Online Training
          div.byline
            p We're here to guide you on a fun and engaging journey to mastering Neo4j with free, hands-on courses.

    .section
      .container.secondary.beginners
        h2.heading-2 Start with the Fundamentals
        p.byline Are you a beginner or just getting started? Build your Neo4j foundation with these select courses.

        .course-carousel
          .spacer
          for course, index in beginners.courses
            .course-carousel-item(class='course-carousel-item--'+ index)
              +course(course, beginners)


    .section.no-bottom-padding
      .container.no-bottom-padding
        h2.heading-2 Sharpen your skills
        p.byline Dive into one of our focus areas to become a subject expert or
          |
          |
          a(href='/categories/') browse our learning pathways
          |
          | to find the right course for you.

        .tabs
          for path, index in paths.children
            a.tab-element(href='#'+ path.slug class=path.slug === activePath ? 'tab--selected' : '' data-target=path.slug)
              | !{path.title}

      for path, index in paths.children
        .secondary.tab-target.category.category-path(id=path.slug, class=`${path.slug === activePath ? 'tab-target--visible' : ''} category--${path.slug}`)
          .container.no-top-padding.no-bottom-padding
            .category-path-description
              | !{path.description}

          .course-carousel.course-carousel--full
            .spacer
            for course, index in path.courses
              .course-carousel-item(class='course-carousel-item--'+ index)
                +course(course, path)
            .course-carousel-item.course-carousel-item--more
                a.view-more.btn.btn--primary(href=path.link) View all Courses &rarr;


    if certification && certification.courses && certification.courses.length
      .section
        .container.certification
          h2.heading-2 Neo4j Certifications
          p.byline Test your knowledge, earn a Neo4j certification, share your achievements, and unlock a free limited edition Neo4j t-shirt!
          .certification-list
              for course in certification.courses
                .certification-list-item
                  +course(course, certification)
