extends layouts/default
include course/card
include mixins/json

block hero
  .hero
    .container
      .intro
        h2.heading Free, Self-Paced,
          |
          |
          strong Hands-on
          |
          | Online Training
          |
          strong with
          |
          |
          em GraphAcademy

        p.byline Learn everything you need to know to about how to build, optimise and launch your Neo4j project,
          |
          | all from the Neo4j experts.

        //- p
        //-   a.btn(href='/courses/') Start learning today
        //-     span &rarr;
        //- .home-graph !{graphSvg}

block main
  .home
    .learn-neo4j
      .container
        ul.levels
          li.level
            h2.subtitle Where do I start?

            p.heading-2 !{beginners.title}
            | !{beginners.description}

            .horizontal-scroll
              ul.course-list.course-list--scrollable
                for course in beginners.courses
                  li.course-list-item
                    +course(course, beginners)


          li.level
            h2.subtitle Where do I go next?
            p.heading-2 !{paths.title}

            p !{paths.description}

            div.level-select
              div.level-nav
                ul.level-nav-list
                  for path, index in paths.children
                    li.level-nav-item(class=index === 0 ? 'level-nav-item--active' : '')
                      a(href='#'+ path.slug) !{path.title}

                p.body-small
                  a.view-all(href='/courses') View all courses &rarr;


              .category-list
                for path, index in paths.children
                  .category.category-path(id=path.slug, class=index === 0 ? 'category-path--active' : '')
                    div.category-path-toggle !{path.title}

                    .category-details
                      p.subtitle Career Path
                      h3.heading-3 !{path.title}

                      dl.meta.category-meta
                        dt.meta.category-meta-icon.category-meta-icon--courses
                          span Course Length
                          | !{svg.iconBook}
                        dd #{path.courses.length} courses

                      | !{path.description}

                      a.follow(href=path.link) Follow the !{path.title} path &rarr;

                    div.category-courses
                      ul.course-list.course-list--stackable
                        for course in path.courses
                          li.course-list-item
                            +course(course, beginners)

            //- div.level-footer
            //-   p Or you can choose your own path and pick from our comprehensive list of topics ranging from Application Development to Data Science.
            //-   p
            //-     a(href='/courses/') View all courses

          li.level.level-certification
            h2.subtitle Get Certified
            p.heading-2 !{certification.title}
            | !{certification.description}

            .horizontal-scroll
              ul.course-list.course-list--scrollable
                for course in certification.courses
                  li.course-list-item
                    +course(course, beginners)

  .secondary
    .container
      h2.heading-2 Why you should get certified with GraphAcademy

      p.subtitle Trust
      h3.heading-3 Expert Tutors
      p We have the only fully, Neo4j accredited tutors worldwide meaning you’re in the safest possible hands with your certification.

      p.subtitle Personalised
      h3.heading-3 Follow your own path
      p The only place online that tailor to your career path with curated content for
       |
       |
       a(href='/categories/data-scientist/') data scientist
       | ,
       |
       a(href='/categories/developers/')  developers
       |
       | and
       |
       a(href='/categories/administrators/')  administrators
       | .

  .primary
    .container
      .half-left
        h2.heading-2 But why choose GraphAcademy?

        p Take advantage of all the resources and passionate community to help steer you way through your learning experience.
        p
          a(href='/courses/') Get started

      .half-right
        ul.reasons
          li Build an app in less than 1 hour
          li XXX hours of video content
          li Use your favourite programming languages
          li Get that dream job with widely recognised certifications
          li Get started in less than 60 seconds
          li.cta
            p Are you ready to learn?
            p
              a(href='/courses/') Let's get started !{svg.ctaRightArrow}

  .neutral
    .container
      p Graph

    .container
      .cutout
        h2.heading-2 Get Started with
          |
          |
          strong GraphAcademy

        ul.inline-path
          li.inline-path-item Register
          li.inline-path-item Learn the Fundamentals
          li.inline-path-item Follow your career path

        p
          a.btn(href='/courses/') Get Started with GraphAcademy

