extends layouts/default
include course/card
include mixins/json

mixin horizontalControls()
  .horizontal-controls
    .horizontal-control.horizontal-control--left
      | !{svg.chevronLeft}
    .horizontal-control.horizontal-control--right
      | !{svg.chevronRight}

block hero
  +hero(
    'Free, Self-Paced, Hands-on Online Training',
    'Learn how to build, optimize and launch your Neo4j project, all from the Neo4j experts.',
    'Learn with GraphAcademy'
  )

block main
  .home
    .learn-neo4j
      .container
        ul.levels
          li.level
            h2.level-overline Where do I start?

            p.level-title !{beginners.title}
            | !{beginners.description}

            .horizontal-scroll
              ul.course-list.course-list--scrollable
                for course in beginners.courses
                  li.course-list-item
                    +course(course, beginners)
            +horizontalControls()


          li.level
            h2.level-overline Where do I go next?
            p.level-title !{paths.title}

            p !{paths.description}

            div.level-select
              div.level-nav
                ul.level-nav-list
                  for path, index in paths.children
                    li.level-nav-item(class=path.slug === 'cypher' ? 'level-nav-item--active' : '')
                      a(href='#'+ path.slug) !{path.title}

                p.body-small
                  a.view-all(href='/courses') View all courses

              .category-list
                for path, index in paths.children
                  .category.category-path(id=path.slug, class=`${path.slug === 'cypher' ? 'category-path--active' : ''} category--${path.slug}`)
                    div.category-path-toggle !{path.title}

                    .category-details
                      .category-path-icon
                        img(src=`/img/categories/${path.slug}.svg`, alt=path.title)
                      p.category-path-overline Career Path
                      h3.category-path-title !{path.title}

                      .meta
                        dl.meta-list.category-meta-list
                          dt.meta-list-term.category-meta-icon.category-meta-icon--courses
                            span Course Length
                            | !{svg.iconBook}
                          dd.meta-list-definition #{path.courses.length} courses

                      .category-path-description
                        | !{path.description}
                      .category-path-actions
                        a.follow(href=path.link) Follow the !{path.title} path

                    div.category-courses
                      div.course-list.course-list--stackable
                        for course in path.courses
                          div.course-list-item
                            +course(course, beginners)

                    +horizontalControls()

            //- div.level-footer
            //-   p Or you can choose your own path and pick from our comprehensive list of topics ranging from Application Development to Data Science.
            //-   p
            //-     a(href='/courses/') View all courses

          li.level.level-certification
            h2.level-overline Get Certified
            p.level-title !{certification.title}
            | !{certification.description}

            .horizontal-scroll
              ul.course-list.course-list--scrollable
                for course in certification.courses
                  li.course-list-item
                    +course(course, beginners)

  //- .secondary.cutout-spacing-bottom
  //-   .container
  //-     h2.heading-2 Why you should get certified with GraphAcademy

  //-     p.subtitle Expert Tuition
  //-     h3.heading-3 Learn from the experts
  //-     p We have the only fully, Neo4j accredited tutors worldwide meaning you’re in the safest possible hands with your certification.

  //-     p.subtitle Personalised learning
  //-     h3.heading-3 Follow your own path
  //-     p The only place online that tailor to your career path with curated content for
  //-      |
  //-      |
  //-      a(href='/categories/data-scientist/') data scientist
  //-      | ,
  //-      |
  //-      a(href='/categories/developers/')  developers
  //-      |
  //-      | and
  //-      |
  //-      a(href='/categories/administrators/')  administrators
  //-      | .

  //- .primary
  //-   .container.grid
  //-     .half
  //-       h2.heading-2 But why choose GraphAcademy?

  //-       p Take advantage of all the resources and passionate community to help steer you way through your learning experience.
  //-       p
  //-         a(href='/courses/') Get started

  //-     .half
  //-       ul.reasons
  //-         li
  //-           //- | XXX hours of
  //-           | Original video content
  //-         li Choose from five programming languages
  //-         li Hands-on practise
  //-         li Earn badges to prove your knowledge
  //-         //- li Get that dream job with widely recognised certifications
  //-         li No installation required
  //-         li Get support from the Neo4j community
  //-         //- li.cta
  //-         //-   p Are you ready to learn?
  //-         //-   p
  //-         //-     a(href='/courses/') Let's get started !{svg.ctaRightArrow}


        p
          a.btn(href='/courses/') Get Started with GraphAcademy
  //- .neutral
  //-   .container
  //-     p Graph

    .container

  .cutout-container
    .cutout
        h2.heading-4 Get Started with
          |
          |
          strong GraphAcademy

        ul.inline-path
          li.inline-path-item
            | !{'<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25 12C5.25 7.99594 8.49594 4.75 12.5 4.75C16.5041 4.75 19.75 7.99594 19.75 12C19.75 16.0041 16.5041 19.25 12.5 19.25C8.49594 19.25 5.25 16.0041 5.25 12Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.25 12.75L10.6837 13.6744C11.0275 14.407 12.0536 14.4492 12.4564 13.7473L14.75 9.75" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
            | Register
          li.inline-path-item
            | !{'<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25 12C5.25 7.99594 8.49594 4.75 12.5 4.75C16.5041 4.75 19.75 7.99594 19.75 12C19.75 16.0041 16.5041 19.25 12.5 19.25C8.49594 19.25 5.25 16.0041 5.25 12Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.25 12.75L10.6837 13.6744C11.0275 14.407 12.0536 14.4492 12.4564 13.7473L14.75 9.75" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
            | Learn the Fundamentals
          li.inline-path-item
            | !{'<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25 12C5.25 7.99594 8.49594 4.75 12.5 4.75C16.5041 4.75 19.75 7.99594 19.75 12C19.75 16.0041 16.5041 19.25 12.5 19.25C8.49594 19.25 5.25 16.0041 5.25 12Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.25 12.75L10.6837 13.6744C11.0275 14.407 12.0536 14.4492 12.4564 13.7473L14.75 9.75" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
            | Follow your career path
        p
          a.btn(href='/categories/') Get Started with GraphAcademy
