extends layouts/default
include course/card
include mixins/json

block hero
  .hero
    .container
      .intro
        h2.heading Free, Self-Paced,
          |
          |
          strong Hands-on
          |
          | Online Training
          |
          strong with
          |
          |
          em GraphAcademy

        p.byline Learn everything you need to know to about how to build, optimise and launch your Neo4j project,
          |
          | all from the Neo4j experts.

        //- p
        //-   a.btn(href='/courses/') Start learning today
        //-     span &rarr;
        //- .home-graph !{graphSvg}

block main
  .learn-neo4j
    .container
      ul.levels
        li.level
          h2.subtitle Where do I start?

          p.heading-2 !{beginners.title}
          | !{beginners.description}

          .horizontal-scroll
            ul.course-list.course-list--scrollable
              for course in beginners.courses
                li.course-list-item
                  +course(course, beginners)


        li.level
          h2.subtitle Where do I go next?
          p.heading-2 !{paths.title}

          p !{paths.description}

          div.level-nav
            ul
              for path in paths.children
                li
                  a(href='#') !{path.title}

            p.body-small
              a.view-all(href='/courses') View all courses


          .category-list
            for path in paths.children
              .category.category--path(id=path.slug)
                p.subtitle Career Path
                h3.heading-3 !{path.title}

                dl.meta.category-meta
                  dt.meta.category-meta-icon.category-meta-icon--courses
                    span Course Length
                    | !{iconBook}
                  dd #{path.courses.length} courses

                | !{path.description}

                a.follow(href=path.link) Follow the !{path.title} path

                div.category-courses
                  for course in path.courses
                    div.course(class=course.completed ? 'course--completed' : '')
                      h4
                        a(href=course.link) !{course.title}
                      p.category
                        if course.completed
                          | Completed
                        else
                          | !{path.title}
                      dl.course-meta
                        if course.modules
                          dt.course-meta-icon.course-meta-icon--modules Course Length
                          dd #{course.modules.length} Modules
                        if course.duration
                          dt.course-meta-icon.course-meta-icon--duration Duration
                          dd #{course.duration}
                      if course.completed
                        a.course-certificate(href=`${course.link}certificate`) View Certificate
                      else
                        a.course-start(href=course.link) Start Course


          p Or you can choose your own path and pick from our comprehensive list of topics ranging from Application Development to Data Science.
          p
            a(href='/courses/') View all courses

        li.level.level-certification
          h2.subtitle Get Certified
          p.heading-2 !{certification.title}
          | !{certification.description}

          for course in certification.courses
            div.course(class=course.completed ? 'course--completed' : '')
              h4
                a(href=course.link) !{course.title}
              p.category
                if course.completed
                  | Completed
                else
                  | !{certification.title}
              dl.course-meta
                if course.modules
                  dt.course-meta-icon.course-meta-icon--modules Course Length
                  dd #{course.modules.length} Modules
                if course.duration
                  dt.course-meta-icon.course-meta-icon--duration Duration
                  dd #{course.duration}
              if course.completed
                a.course-certificate(href=`${course.link}certificate`) View Certificate
              else
                a.course-start(href=course.link) Start Course





  //- +json(categories)