extends layouts/default
include course/card
include mixins/horizontalcontrols

block main
  .home
    .hero
      .container
        .spacer
          h1.heading.level-title GraphAcademy &mdash; Free, Self-Paced, Hands-on Online Training
          div.byline
            p We're here to guide you on a fun and engaging journey to mastering Neo4j with free, hands-on courses.


    .section
      .container.secondary.no-bottom-padding
        h2.heading-2 Start with the Fundamentals
        p.byline Are you a beginner or just getting started? Build your Neo4j foundation with these select courses.

        .course-list.course-list--full.course-list--contained
          .spacer
          for course in beginners.courses
            .course-list-item
              +course(course, beginners)
          .spacer.spacer--hide

    .section.no-bottom-padding
      .container.no-bottom-padding
        h2.heading-2 Sharpen your skills
        p.byline Dive into one of our focus areas to become a subject expert

        .tabs
          for path, index in paths.children
            a.tab-element(href='#'+ path.slug class=path.slug === activePath ? 'tab--selected' : '' data-target=path.slug)
              | !{path.title}

      for path, index in paths.children
        .secondary.tab-target.category.category-path(id=path.slug, class=`${path.slug === activePath ? 'category-path--active tab-target--visible' : ''} category--${path.slug}`)
          .container.no-top-padding.no-bottom-padding
            .category-path-description
              | !{path.description}

          .course-list.course-list--full
            .spacer
            for course in path.courses
              .course-list-item
                +course(course, path)
            .course-list-item
              .view-more
                a.btn.btn--primary(href=path.link) View all Courses &rarr;

    .section
      .container.secondary
        h2.heading-2 Neo4j Certifications
        p.byline Test your knowledge, earn a Neo4j certification, share your achievements on LinkedIn, and unlock a free limited edition Neo4j t-shirt!
        .certification-list
            for course in certification.courses
              .certification-list-item
                +course(course, certification)
