doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title IDE
    link(rel='stylesheet' href=`${cdnUrl}/css/app.css`)

  body.ide(class=`${classes}`)
    .code(class=`language-${language}`)

      .code-header
        .code-language #{language}
        .code-title Code Editor
        .code-header-spacer

      .code-editor(class=language)
        textarea !{code}

    include partials/footer-scripts
    block scripts
