doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src=`${cdnUrl}/js/bundle.js`)
    link(rel='stylesheet' href=`${cdnUrl}/css/app.css`)
    title !{title}
    style !{css}

    style !{`@font-face {font-family: "SyneNeo";src: url("${cdnUrl}/fonts/syne-neo/SyneNeo-Medium.woff") format("woff2");}`}

  body.layout--classroom.lesson.lesson--slides.lesson--slides-visible
    .classroom
      .classroom-content
        .container
          .module-container
            .module(data-course=title)
              .slide.slide--visible.slide--course.slide--title
                .title-background
                  | !{`<svg width="1200" height="675" viewBox="0 0 1200 675" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_314_391)"><rect width="1200" height="675" fill="#014063"/><path d="M1963.86 931.422C1951.99 930.738 1940.1 930.412 1928.22 930.878C1861.35 933.487 1801.72 946.244 1752.21 984.385C1639.75 1071.02 1668.06 1212.74 1574.48 1292.03C1488.46 1358.3 1365.03 1342.46 1298.79 1256.67C1226.32 1165.8 1295.1 1028.27 1205.8 912.596C1113.05 792.471 965.863 828.432 896.255 735.313C830.015 649.518 846.05 526.242 932.068 459.976C1018.09 393.71 1141.52 409.542 1207.76 495.336C1280.24 586.206 1210.26 722.189 1300.76 839.408C1391.94 949.539 1568.1 975.138 1679.06 889.66C1800.25 796.298 1763.69 649.969 1857.05 580.328C1943.07 514.063 2066.5 529.895 2132.74 615.689C2235.72 747.071 2131.68 941.11 1963.86 931.422Z" fill="white" fill-opacity="0.1"/><path d="M371.222 908.045C373.102 896.314 374.631 884.509 375.369 872.65C379.54 805.86 372.883 745.241 339.948 692.125C265.135 571.472 121.276 585.302 51.8621 484.176C-5.3591 391.894 22.8885 270.702 114.945 213.484C212.683 150.578 342.545 232.926 466.662 155.781C595.555 75.668 574.673 -74.4028 674.358 -134.231C766.415 -191.449 887.436 -163.021 944.657 -70.7389C1001.88 21.5437 973.637 142.745 881.58 199.963C783.843 262.869 655.64 179.49 529.863 257.666C411.072 337.227 367.778 509.899 441.589 628.937C522.207 758.953 671.486 737.386 731.321 837.313C788.542 929.596 760.301 1050.8 668.244 1108.01C527.115 1197.17 344.601 1074.03 371.222 908.045Z" fill="white" fill-opacity="0.1"/></g><defs><clipPath id="clip0_314_391"><rect width="1200" height="675" fill="white"/></clipPath></defs></svg>`}
                .title-information
                    .title !{title}
                    .byline !{byline}

                .title-illustration !{illustration}


            for module in modules
              //- .module(data-module=module.title)
              //-   .slide.slide--visible.slide--module.slide--title
              //-     .title-background
              //-       | !{`<svg width="1200" height="675" viewBox="0 0 1200 675" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_284_571)"><rect width="1200" height="675" fill="#F5F6F6"/><path d="M1963.86 931.422C1951.99 930.738 1940.1 930.412 1928.22 930.878C1861.35 933.487 1801.72 946.244 1752.21 984.385C1639.75 1071.02 1668.06 1212.74 1574.48 1292.03C1488.46 1358.3 1365.03 1342.46 1298.79 1256.67C1226.32 1165.8 1295.1 1028.27 1205.8 912.596C1113.05 792.471 965.863 828.432 896.255 735.313C830.015 649.518 846.05 526.242 932.068 459.976C1018.09 393.71 1141.52 409.542 1207.76 495.337C1280.24 586.206 1210.26 722.189 1300.76 839.409C1391.94 949.539 1568.1 975.138 1679.06 889.66C1800.25 796.298 1763.69 649.969 1857.05 580.328C1943.07 514.063 2066.5 529.895 2132.74 615.689C2235.72 747.071 2131.68 941.11 1963.86 931.422Z" fill="white" fill-opacity="0.1"/><path d="M477.906 963.885C479.589 953.383 480.958 942.814 481.618 932.197C485.353 872.402 479.393 818.132 449.907 770.578C382.93 662.562 254.138 674.943 191.993 584.408C140.765 501.791 166.054 393.291 248.47 342.066C335.971 285.748 452.232 359.472 563.351 290.406C678.744 218.684 660.049 84.3299 749.295 30.7675C831.71 -20.4578 940.057 4.99235 991.285 87.6101C1042.51 170.228 1017.23 278.736 934.814 329.961C847.313 386.279 732.536 311.632 619.933 381.62C513.582 452.85 474.822 607.437 540.903 714.008C613.079 830.408 746.723 811.099 800.292 900.561C851.52 983.179 826.236 1091.69 743.821 1142.91C617.472 1222.73 454.073 1112.49 477.906 963.885Z" fill="white"/></g><defs><clipPath id="clip0_284_571"><rect width="1200" height="675" fill="white"/></clipPath></defs></svg>`}
              //-     .title-information
              //-       .overline !{title}
              //-       .title !{module.title}

                  //- article.module-content.doc !{module.doc}

              for lesson in module.lessons
                .module(data-lesson=lesson.title)
                  .slide.slide--visible.slide--module.slide--title
                    .title-background
                      | !{`<svg width="1200" height="675" viewBox="0 0 1200 675" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_284_571)"><rect width="1200" height="675" fill="#F5F6F6"/><path d="M1963.86 931.422C1951.99 930.738 1940.1 930.412 1928.22 930.878C1861.35 933.487 1801.72 946.244 1752.21 984.385C1639.75 1071.02 1668.06 1212.74 1574.48 1292.03C1488.46 1358.3 1365.03 1342.46 1298.79 1256.67C1226.32 1165.8 1295.1 1028.27 1205.8 912.596C1113.05 792.471 965.863 828.432 896.255 735.313C830.015 649.518 846.05 526.242 932.068 459.976C1018.09 393.71 1141.52 409.542 1207.76 495.337C1280.24 586.206 1210.26 722.189 1300.76 839.409C1391.94 949.539 1568.1 975.138 1679.06 889.66C1800.25 796.298 1763.69 649.969 1857.05 580.328C1943.07 514.063 2066.5 529.895 2132.74 615.689C2235.72 747.071 2131.68 941.11 1963.86 931.422Z" fill="white" fill-opacity="0.1"/><path d="M477.906 963.885C479.589 953.383 480.958 942.814 481.618 932.197C485.353 872.402 479.393 818.132 449.907 770.578C382.93 662.562 254.138 674.943 191.993 584.408C140.765 501.791 166.054 393.291 248.47 342.066C335.971 285.748 452.232 359.472 563.351 290.406C678.744 218.684 660.049 84.3299 749.295 30.7675C831.71 -20.4578 940.057 4.99235 991.285 87.6101C1042.51 170.228 1017.23 278.736 934.814 329.961C847.313 386.279 732.536 311.632 619.933 381.62C513.582 452.85 474.822 607.437 540.903 714.008C613.079 830.408 746.723 811.099 800.292 900.561C851.52 983.179 826.236 1091.69 743.821 1142.91C617.472 1222.73 454.073 1112.49 477.906 963.885Z" fill="white"/></g><defs><clipPath id="clip0_284_571"><rect width="1200" height="675" fill="white"/></clipPath></defs></svg>`}
                    .title-information
                      .overline 
                        | !{title} 
                        | &nbsp; 
                        | &rarr; 
                        | &nbsp; 
                        span.lighten.bolden !{module.title}
                      .title !{lesson.title}

                  //- article.module-content.doc !{module.doc}
                .lesson-container.module.doc(data-lesson=lesson.title) 
                  | !{lesson.doc}
