.classroom-panel.classroom-chatbot
  .classroom-panel-header
    h2 !{translate('chatbot', 'Chatbot')}
    //- h2 !{translate('chatbot', 'Ask E.L.A.I.N.E.')}
    .classroom-panel-close
      | !{svg.close}

  .classroom-panel-body.conversation
    .classroom-panel-container.classroom-panel-container--grow
        .conversation-messages
          .conversation-message.conversation-message--bot.conversation-message--cold-start
            p Hi, I am an !{''}
              strong Educational Learning Assistant for Intelligent Network Exploration. !{''}
              |  You can call me !{''}
              strong E.L.A.I.N.E.
            p
              | How can I help you today?
            //- time(datetime='2022-01-01T01:01:01') 01:01
          //- .conversation-message.conversation-message--user
          //-   p I'm stuck with something...
          //-   time(datetime='2022-01-01T01:01:01') 01:02

          //- .conversation-message.conversation-message--error
          //-   p Something went wrong
          //-   time(datetime='2022-01-01T01:01:01') 01:02

          //- .conversation-thinking
          //-   span .
          //-   span .
          //-   span .

    .classroom-panel-container.classroom-panel-container--chat
      .classroom-panel-container-content
        form.conversation-form
          textarea#conversation-text(name='message')
          button.btn(type='submit')#conversation-submit Send
