.panel-controls
  if slides
    button.panel-control.classroom-slides-toggle
      span.panel-control-icon !{svg.classroomSlidesToggle}
      span.panel-control-label !{translate('toggle-sandbox', 'Toggle Slide View')}

  if showSandbox
    button.panel-control.classroom-sandbox-toggle
      span.panel-control-icon !{svg.classroomSandboxToggle}
      span.panel-control-label !{translate('toggle-sandbox', 'Toggle Sandbox')}

  if community
    button.panel-control.classroom-support-toggle
      span.panel-control-icon !{svg.classroomSupportToggle}
      span.panel-control-label !{translate('toggle-support', 'Toggle Support')}

  if chatbotAvailable
    button.panel-control.classroom-chatbot-toggle
      span.panel-control-icon !{svg.classroomChatbotToggle}
      span.panel-control-label !{translate('toggle-chatbot', 'Toggle Chatbot')}
