if slides
  div.slide-controls
    button.slide-control.slide-control-previous.slide-control--disabled
      | !{svg.arrowPrevious}
      span.slide-control-label Previous

    span.slide-control.slide-number
      span.slide-number-current 1
      span.slide-number-separator /
      span.slide-number-total 1
    button.slide-control.slide-control-next
      | !{svg.arrowNext}
      span.slide-control-label Next
    if next
      a.slide-control.slide-control.slide-control-progress(href=next.link)
        span.slide-progress-label Progress
        //- span.slide-control-next-label #{nextSlide.title}
    button.slide-control.slide-close-button
      //- | !{svg.close}
      span.slide-close-label Close
