.classroom-panel.classroom-support
  .classroom-panel-header
    h2 !{translate('support', 'Support')}
    .classroom-panel-close
      | !{svg.close}
  .classroom-panel-body
    .classroom-panel-container.classroom-panel-container--grow
      h3.classroom-panel-container-header !{community.title}

      .classroom-panel-container-content
        p !{translate('community-description', 'If you find yourself stuck at any stage, you can reach out for help on the')}
          |
          |
          a(href=community.link target='_blank') #{community.title}
          | .

        h4 !{translate('latest-posts', 'Latest Posts')}

        each post in community.posts
          .community-post
            h5.community-post-title
              a(href=`${post.link}` target='_blank') #{post.title}

            .community-post-meta
              //- |  #{post.posts_count} posts. !{'&nbsp;'}
              |
              | !{translate('posted-on', 'Posted on')}
              |
              strong
                +date(post.publishedAt)
              |  !{translate('posted-by', ' by ')}
              |
              strong #{post.author}
        p
          a.btn(href=community.url target='_blank') !{translate('join-community', 'Join the Community')}
          a.btn(href=community.link target='_blank') !{translate('ask-a-question', 'Ask a Question')}

    .classroom-panel-container.classroom-panel-container--chat
      h3.classroom-panel-container-header !{chat.title}
      .classroom-panel-container-content
        p !{translate('chat-prefix', 'Discuss your issue ')}
          if chat.online > 0
            |
            | !{translate('chat-with', 'with')}
            |
            strong #{chat.online}
            |
            | !{translate('chat-others', 'other users')}
          |
          | !{translate('chat-suffix', `on the ${chat.title} server`)}
        p
          a.btn(href=chat.link target='_blank') !{translate('join-chat', 'Join Live Chat')}
