.card.card--share
  .card-body
    h3.card-title Congratulations!
    p Congratulations on passing the !{course.title} exam!  View or share your certificate by clicking the link below.

    p.share-form
      a.share-form-link(href=baseUrl + certificateUrl target='_blank') !{baseUrl + certificateUrl}
      a.share-form-action.share-form-action--copy(aria-label='Copy URL' href=baseUrl + certificateUrl target='_blank') !{svg.iconCopy}
        span.share-form-action-label Copy URL
      a.share-form-action(aria-label='View Certificate' href=baseUrl + certificateUrl target='_blank') !{svg.iconGo}
        span.share-form-action-label Open Certificate
    p
      a.btn.btn--small(target="_blank" href=`https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME&name=${encodeURIComponent(course.title)}&organizationId=828370&organizationName=Neo4j&issueYear=${updatedAt.getFullYear()}&issueMonth=${updatedAt.getMonth()}&certId=${certificateId}&certUrl=${encodeURIComponent(baseUrl + certificateUrl)}`)
        | Add Certification to LinkedIn Profile