mixin reward(reward)
  .reward
    .reward-image
      img(src=reward.image, alt=reward.title)
    .reward-details
      h3.reward-title #{reward.title}
      p.reward-description #{reward.description}

      .reward-claim
        if reward.status == 'available'
          a.btn(href=reward.link) Claim Reward
        else if reward.status == 'claimed'
          span.btn.btn--neutral.btn--success Reward Claimed

          p.body-small
            strong Please note:
            |
            |
            | It may take up to four weeks to receive your order.
        else if reward.status == 'suspicious'
          span.btn.btn--neutral.btn--warning Reward Unavailable
        else
          a.btn(href=reward.link) Complete #{reward.title}
