mixin reward(reward)
  .reward
    .reward-image
      img(src=reward.image, alt=reward.title)
    .reward-details
      h3.reward-title #{reward.title}
      p.reward-description #{reward.description}

      .reward-claim
        if reward.status == 'available'
          a.btn(href=reward.link) Claim Reward
        else if reward.status == 'claimed'
          span.btn.btn--neutral.btn--success Reward Claimed

          p.body-small
            strong Please note:
            |
            |
            | It may take up to four weeks to receive your order.
        else if reward.status == 'suspicious'
          span.btn.btn--neutral.btn--warning Reward Unavailable
          p.body-small
            |  We are experiencing high levels of suspicious behaviour on our platform and have therefore placed restrictions on redeeming rewards.
            | 
            |  To lift the restriction, email 
            | 
            a(href='mailto:graphacademy@neo4j.com?subject=Reward restriction for certificate ID: ' + reward.certificateId) graphacademy@neo4j.com
            | 
            | with one of the following:
          ul.body-small
            li Details of the Neo4j customer that you represent.
            li The ID of a Neo4j Aura database with over 10000 relationships.
            li A blog post, video or LinkedIn article that is not AI generated that shows how you have used Neo4j to solve a problem.
            li A GitHub repository that shows your professional or personal experience of Neo4j.
        else
          a.btn(href=reward.link) Complete #{reward.title}
