extends ../layouts/email

block title
  | Welcome to
  |
  a(href=baseUrl+'/courses/'+course.slug,style='color:white;font-weight:bold;text-decoration:none') !{course.title}
  |
  | on GraphAcademy

block content
  p Hi #{user.name},

  pre a !{baseUrl}/courses/!{course.slug}

  p We are pleased to welcome you to the
    |
    |
    a(href=baseUrl+course.title) !{course.title}
    |
    | course on GraphAcademy.

  if sandbox
    h2 Your Neo4j Sandbox Instance:
    p As this is an interactive course, we have also created a new Sandbox on
      |
      |
      a(href='https://sandbox.neo4j.com/') Neo4j Sandbox
      |
      | with the following credentials:

      pre
        | URL: !{sandbox.scheme}://!{sandbox.host}:!{sandbox.port}
        | Username: !{sandbox.username}
        | Password: !{sandbox.password}

    p This sandbox instance is completely free, but be aware, it will expire in 7 days if no further action is taken.
      |
      | You can either log into
      |
      a(href='https://sandbox.neo4j.com/') Neo4j Sandbox
      |
      | with the same credentials as you have for GraphAcademy or use the connection details to connect
      | in Neo4j Browser or from a development application.

    p For more information on using the Neo4j Driver in the language of your choice, you can visit the
      |
      |
      a(href='https://neo4j.com/developer/language-guides/' target='_blank') Drivers &amp; Language Guides Developer Guide
      |
      | or
      |
      a(href='https://neo4j.com/developer/neo4j-desktop' target='_blank') add a new remote connection to Neo4j Desktop.

  p If you have any comments on questions on the course, feel free to email us on
    |
    |
    a(href='mailto:graphacademy@neo4j.com') graphacademy@neo4j.com.


//- doctype html
//- head
//-   title Welcome to !{course.title} on GraphAcademy
//- body(style="background-color:#f9fbfd")



//-   +json(user)
//-   +json(course)
//-   +json(sandbox)