mixin card(title, image, caption, link)
  .card
    if image
      .card-image(style=`background-image: url(${image})`)
        if link
          a(href=link)

    .card-header
      h2.card-title
        if link
          a(href=link) !{title}
        else
          | !{title}

    .card-body
      if caption
        p.card-caption #{caption}

      if block
        block
