form.form(method='POST')
  if errors && errors.length
    .form-alert.form-alert--danger
      p.title Error Processing Submission
      if errorMessage
        p #{errorMessage}
      ul
        for error in errors
          li #{error}

  .form-group.padded
    label(for='nickname').form-label Nickname
      span.required (Required)
    input#nickname(type='text' name='nickname' value=input.nickname || user.nickname required)
    label(for='nickname').label-hint Let us know how to address you

  .form-group
    label(for='givenName').form-label Given Name
      span.required (Required)
    input#givenName(type='text' name='givenName' value=input.givenName || user.givenName required)
    label(for='givenName').label-hint This name will appear on your certificates

  .form-group.full
    label(for='bio').form-label Bio
    textarea#bio(name='bio' rows=6 maxlength=1000) !{input.bio || user.bio}
    label(for='givenName').label-hint Your bio will appear you on your public profile

  .form-group.full
    label(for='country').form-label Country
      span.required (Required)
    select#country(name='country' required)
      option -
      each val in countries
        option(value=val.code selected=input.country == val.code || user.country==val.code data-optin=val.optin) #{val.name}
    label(for='country').label-hint Where do you live?

  .form-group.padded
    label(for='position').form-label Job Role
      span.required (Required)
    input#position(type='text' name='position' value=input.position || user.position required)
    label(for='position').label-hint Eg. Data Scientist, Software Developer

  .form-group
    label(for='company').form-label Company
      span.required (Required)
    input#company(type='text' name='company' value=input.company || user.company required)

  if optin
    .form-group.full.ugh.no-padding
      p.body-small By submitting this form, you confirm you are acting for your business/organisation.

    .form-group.checkbox.opt-in#soft
      label(for='soft-optin').form-label
        input(type='checkbox' id='soft-optin' name='soft' value='true' checked=input.soft)
        span.body-small
          | We would like to keep you updated on the latest news about graph database products, services & events.
          br
          | If you
          |
          |
          strong do not want
          |
          |
          | to hear from us going forward, please tick this box.

    .form-group.checkbox.opt-in#required
      label(for='required-optin').form-label
        input(type='checkbox' id='required-optin' name='required' value='true' checked=input.required)
        span.body-small
          | Yes! Please keep me updated on the latest news about graph database products, services &amp; events.

  .form-group.checkbox
    label(for='unsubscribe').form-label
      input(type='checkbox' id='unsubscribe' name='unsubscribe' value='true' checked=input.unsubscribed || user.unsubscribed)
      strong Unsubscribe from GraphAcademy emails
      br
      span.body-small
        | We will only send you emails related to your enrollments. Strictly no promotional material.

  .form-buttons
    input(type='hidden' name='returnTo' value=returnTo)
    button.btn.btn--primary(type='submit' disabled) !{buttonText || 'Save Changes'}

  .form-disclaimer
    p.body-small The information you provide will be used in accordance with Neo4j's Privacy Policy, including in respect of marketing our products, events and services. You may opt-out at any time in accordance with our
      |
      |
      a(href='https://neo4j.com/privacy-policy/' target='_blank') Privacy Policy
      | .
