.account-public
  p Your public profile contains a reference to all of your achievements on GraphAcademy.
    |
    | You can share the following link with your friends or colleagues to show off your progress.
  p.account-url.share-form
    a.account-link.share-form-link(href=user.publicProfile target='_blank') !{user.publicProfile}
    a.account-action.account-copy.share-form-action.share-form-action--copy(aria-label='Copy URL' href=user.publicProfile target='_blank') !{svg.iconCopy}
      span.account-action-label.share-form-action-label Copy URL
    a.account-action.share-form-action(aria-label='View Public Profile' href=user.publicProfile target='_blank') !{svg.iconGo}
      span.account-action-label.share-form-action-label Open Profile