extends ../layouts/default
include ../course/card
include ../mixins/progress

mixin course(slug)
  - const course = courses[slug]
  if course
    a.course(href=course.link)
      .course-header
        .course-illustration !{course.illustration || svg.illustrationDraft}
        .course-title!= course.title

      .course-caption!= course.caption

      .course-progress
        if course.completed ||  course.enrolled
          +progress(course)

        .course-cta
          if course.completed
            span.btn.btn--small Certificate
          else if course.enrolled
            span.btn.btn--small Continue
          else
            span.btn.btn--small Enroll




block main
  .graphrag-hero
    .container
      h1 Knowledge Graph RAG
      p Learn everything you need to know to combine Generative AI and knowledge graphs to produce highly accurate responses, with rich context and deep explainability.

  //- .graphrag-intro
  //-   .container
  //-     h2 What is GraphRAG?
  //-     p GraphRAG (Graph Retrieval-Augmented Generation) is the union of Generative AI (GenAI) and Knowledge Graphs. In GraphRAG, a knowledge graph provides contextual facts and relationships that ground a Large Language Model (LLM), helping to prevent hallucinations and produce more accurate answers.
  //-     p On this page you'll learn what is GraphRAG and why it matters, and discover how to build knowledge graphs from unstructured data and assemble end-to-end GraphRAG pipelines using Neo4j's GenAI tools. Our step-by-step learning path covers everything from LLM basics to advanced RAG workflows, with pointers to free GraphAcademy courses that teach each topic.


  //- .graphrag-why
  //-   .container
  //-     .graphrag-why-block
  //-       h2.graphrag-why-header Why context matters
  //-       p.graphrag-why-reason Traditional RAG often misses relationships between entities. GraphRAG leverages the connected nature of knowledge graphs to provide more contextual and accurate answers.
  //-       p.graphrag-why-outcome More accurate responses to complex queries that require understanding relationships

  //-     .graphrag-why-block
  //-       h2.graphrag-why-header Relationships are key
  //-       p.graphrag-why-reason Flat data representations miss complex relationships between entities. GraphRAG enables sophisticated reasoning by understanding how entities relate to each other.
  //-       p.graphrag-why-outcome Build applications that understand how people, concepts, and data interconnect in meaningful ways

  //-     .graphrag-why-block
  //-       h2.graphrag-why-header Explainability matters
  //-       p.graphrag-why-reason Black-box AI responses lack transparency. GraphRAG lets you trace reasoning through knowledge graphs, providing clear evidence for AI-generated responses.
  //-       p.graphrag-why-outcome Build trust in AI systems by providing clear reasoning paths for every response


  .graphrag-steps.neutral
    .container
      .step
        h2.step-title
          span.step-number 1
          | Knowledge graph fundamentals

        .step-intro
          p Knowledge graphs provide the foundation for representing complex relationships that traditional databases can't effectively handle.

        .step-courses
          +course("neo4j-fundamentals")
          +course("genai-fundamentals")

        .step-arrow

      .step
        h2.step-title
          span.step-number 2
          | Building knowledge graphs

        .step-intro
          p Learn how to combine structured and unstructured data to create a knowledge graph.

        .step-tracks
          .step-track.step-track--left
            .step-track-head
              .step-track-head-arrow
            h3.step-track-title Vectors &amp; Relationships
            p.step-track-description Enhance your semantic search with vector embeddings with additional context from your knowledge graph.
            .step-track-courses
              +course('llm-vectors-unstructured')

              .step-track-empty-space

          .step-track
            .step-track-head
              .step-track-head-arrow
            h3.step-track-title Domain Graphs
            p.step-track-description Build a domain graph to represent the relationships between entities that make sense to you and your use case.
            .step-track-courses
              +course('llm-knowledge-graph-construction')
              +course('genai-graphrag-python')

          .step-track.step-track--right
            .step-track-head
              .step-track-head-arrow
            h3.step-track-title Knowledge Enrichment
            p.step-track-description Use out-of-the-box Graph Data Science algorithms to enrich your knowledge graph.
            .step-track-courses
              +course('gds-product-introduction')
              +course('graph-data-science-fundamentals')

        .step-tracks
          .step-track.step-track--left
            .step-track-tail
          .step-track.step-track
            .step-track-tail
          .step-track.step-track--right
            .step-track-tail

        .step-arrow.step-arrow--no-margin

      .step
        h2.step-title
          span.step-number 3
          | Applied GraphRAG projects

        .step-intro
          p Apply everything you've learned to build production-ready GraphRAG application that deliver more accurate, contextual, and explainable AI results.

        .step-tracks
          .step-track.step-track--left
            .step-track-head
              .step-track-head-arrow
            h3.step-track-title Frameworks
            .step-track-courses
              +course('genai-integration-langchain')
              +course('genai-integration-langchainjs')
              +course('genai-integration-llamaindex')
              +course('genai-mcp-build-custom-tools-python')
              +course('genai-mcp-build-custom-tools-typescript')


            //- .step-track-tail

          .step-track
            .step-track-head
              .step-track-head-arrow
            h3.step-track-title Agents
            .step-track-courses
              +course('genai-mcp-neo4j-tools')
              +course('genai-agent-langgraph')
              +course('genai-agent-langchain-react')
              +course('genai-agent-adk')
              +course('genai-agent-crewai')
              +course('genai-agent-langgraphjs')

          .step-track.step-track--right
            .step-track-head
              .step-track-head-arrow
            h3.step-track-title Chatbots
            .step-track-courses
              +course('llm-chatbot-python')
              +course('llm-chatbot-typescript')

              .step-track-empty-space
              .step-track-empty-space
              .step-track-empty-space


        .step-tracks
          .step-track.step-track--left
            .step-track-tail
          .step-track.step-track
            .step-track-tail
          .step-track.step-track--right
            .step-track-tail

        .step-arrow.step-arrow--no-margin

      .step
        h2.step-title
          span.step-number 4
          | Evaluating GraphRAG

        .step-intro
          p Learn how to evaluate the performance of your GraphRAG applications and understand the metrics that matter.

        .step-courses
          +course("genai-graphrag-eval")


  .secondary.graphrag-details
    .container
      h2 Yes, but
        |
        |
        i what is
        |
        | GraphRAG?
      p GraphRAG (Graph Retrieval-Augmented Generation) is the union of Generative AI (GenAI) and Knowledge Graphs. In GraphRAG, a knowledge graph provides contextual facts and relationships that ground a Large Language Model (LLM), helping to prevent hallucinations and produce more accurate answers.
      p On this page you'll learn what is GraphRAG and why it matters, and discover how to build knowledge graphs from unstructured data and assemble end-to-end GraphRAG pipelines using Neo4j's GenAI tools. Our step-by-step learning path covers everything from LLM basics to advanced RAG workflows, with pointers to free GraphAcademy courses that teach each topic.

      details
        summary What is GraphRAG?
        p GraphRAG (Graph Retrieval-Augmented Generation) is the union of Generative AI (GenAI) and Knowledge Graphs. In GraphRAG, a knowledge graph provides contextual facts and relationships that ground a Large Language Model (LLM), helping to prevent hallucinations and produce more accurate answers.

      details
        summary Why context matters
        p.graphrag-why-reason Traditional RAG often misses relationships between entities. GraphRAG leverages the connected nature of knowledge graphs to provide more contextual and accurate answers.
        p.graphrag-why-outcome More accurate responses to complex queries that require understanding relationships

      details
        summary Why relationships are key
        p.graphrag-why-reason Flat data representations miss complex relationships between entities. GraphRAG enables sophisticated reasoning by understanding how entities relate to each other.
        p.graphrag-why-outcome Build applications that understand how people, concepts, and data interconnect in meaningful ways

      details
        summary Why explainability is important
        p.graphrag-why-reason Black-box AI responses lack transparency. GraphRAG lets you trace reasoning through knowledge graphs, providing clear evidence for AI-generated responses.
        p.graphrag-why-outcome Build trust in AI systems by providing clear reasoning paths for every response


  //- .neutral
  //-   .container
  //-     div.account-congratulations
  //-       h2 Congratulations on completing
  //-         br
  //-         a.confetti-trigger(href='#') title

  //-       p Here is a link to your certificate. Why not
  //-         |
  //-         //- a(href=recentlyCompleted[0].link +'share/linkedin/' target='_blank') share your achievement on LinkedIn
  //-         | ?
