mixin course(course, category)
  .card.course(class=[ course.completed ? 'course--completed' : '', course.enrolled ? 'course--enrolled' : '', category ? `course--${category.slug}` : ''].filter(e => !!e).join(' '))
    h3.heading-3
      a(href=course.link) !{course.title}
    p.overline
      if course.completed
        a(href=course.link +'/certificate/') Completed
      else
        a(href=category.link) !{category.title}
    dl.meta.card-meta
      if course.modules && course.modules.length > 0
        dt.card-meta-icon.card-meta-icon--modules
          span Course Length
          | !{svg.iconBook}
        dd #{course.modules.length}
          |
          | Modules
      if course.duration
        dt.card-meta-icon.card-meta-icon--duration
          span Duration
          | !{svg.iconDuration}
        dd ~ #{course.duration}

    div.card-footer
      if course.completed
        a.card-action.card-action--certificate(href=course.link +'/certificate/') View Certificate !{svg.ctaRightArrow}
      else if course.enrolled
        a(href=course.link) Continue Course !{svg.ctaRightArrow}
      else
        a(href=course.link) Start Course  !{svg.ctaRightArrow}

    //- pre !{JSON.stringify(course)}
