mixin course(course, category, forAchievement)
  .card.course(class=[ course.slug, 'course--'+ course.status, !forAchievement && course.completed ? 'card--success' : '', course.enrolled ? 'card--active' : '', category ? `course--${category.slug}` : ''].filter(e => !!e).join(' '))
    .card-body
      h3.card-title.course-title
        a(href=negativeStatuses.includes(course.status) ? '#' : course.link) !{course.title}

      if forAchievement && course.keyPoints && course.keyPoints.length
        ul.course-points
          for point in course.keyPoints
            li.course-point !{point}
      else
        .card-caption #{course.caption}

    .card-illustration
      if course.status  === statuses.STATUS_DRAFT
        | !{svg.illustrationDraft}
      else if course.illustration
        | !{course.illustration}
      else
        | !{svg.illustrationDraft}
    //- else if course.badge
    //-   .card-badge
    //-     | !{course.badge}

    div.card-status
      if course.status === statuses.STATUS_DRAFT
        span.label.label--neutral #{translate('coming-soon', 'Coming Soon')}
      else if course.certification && !forAchievement
        if course.completed
          span.label.label--success Certification earned
      else if !forAchievement
        if course.completed && !forAchievement
          span.label.label--success #{course.passPercentage || course.completedPercentage || '100'}% #{translate('completed', 'completed')}
        else if course.enrolled
          span.label.label--primary #{course.completedPercentage || '100'}% #{translate('completed', 'completed')}
    div.card-spacer


    //- if !course.completed && course.status != 'draft'
      //- div.meta.card-meta
        //- dl.meta-list.card-meta-list
        //-   if course.completed && !course.certification
        //-     dt.meta-list-term.card-meta-icon.card-meta-icon--progress
        //-       span #{translate('progress', 'Progress')}
        //-       svg.progress-indicator.progress-indicator--completed(width='20' height='20' data-value=100)
        //-         circle.progress-indicator__background(stroke='#ccc' stroke-width='3' fill='transparent' r='8' cx='10' cy='10')
        //-         circle.progress-indicator__circle(stroke='#ccc' stroke-width='3' fill='transparent' r='8' cx='10' cy='10')
        //-     dd.meta-list-definition 100%
          else if course.enrolled && !course.certification
            dt.meta-list-term.card-meta-icon.card-meta-icon--progress
              span #{translate('progress', 'Progress')}
              svg.progress-indicator.progress-indicator--in-progress(width='20' height='20' data-value=course.completedPercentage)
                circle.progress-indicator__background(stroke='#ccc' stroke-width='3' fill='transparent' r='8' cx='10' cy='10')
                circle.progress-indicator__circle(stroke='#ccc' stroke-width='3' fill='transparent' r='8' cx='10' cy='10')
            dd.meta-list-definition #{course.completedPercentage}%
          if course.duration
            dt.meta-list-term.card-meta-icon.card-meta-icon--duration
              span #{translate('duration', 'Duration')}
              | !{svg.iconDuration}
            dd.meta-list-definition #{course.duration}
          if course.questions
            dt.meta-list-term.card-meta-icon.card-meta-icon--duration
              span #{translate('questions', 'Questions')}
              | !{svg.iconQuestions}
            dd.meta-list-definition #{course.questions} questions

    if block
      block
    else
      div.card-footer
        dl.meta-list.card-meta-list
          if course.duration
            dt.meta-list-term.card-meta-icon.card-meta-icon--duration
              span #{translate('duration', 'Duration')}
            dd.meta-list-definition #{course.duration}
          if course.questions
            dt.meta-list-term.card-meta-icon.card-meta-icon--duration
              span #{translate('questions', 'Questions')}
            dd.meta-list-definition #{course.questions} questions

        if course.certification
          a.card-action.card-action--continue(href=course.link) !{svg.iconArrowRight}
            span #{translate('view-certification', 'View Certification')}

        else
          a.card-action.card-action--continue(href=course.link) !{svg.iconArrowRight}
            span #{translate('view-course', 'View Course')}
