mixin course(course, category, forAchievement)
  .card.course(class=[ course.slug, 'course--'+ course.status, !forAchievement && course.completed ? 'card--success' : '', course.enrolled ? 'card--active' : '', category ? `course--${category.slug}` : ''].filter(e => !!e).join(' '))
    .card-body
      h3.card-title.course-title
        a(href=course.link) !{course.title}

      if forAchievement && course.keyPoints && course.keyPoints.length
        ul.course-points
          for point in course.keyPoints
            li.course-point #{point}
      else
        .card-caption #{course.caption}

    if course.illustration
      .card-illustration
        | !{course.illustration}
    else if course.badge
      .card-badge
        | !{course.badge}

    if course.status === statuses.STATUS_DRAFT
      span.card-status
        span.label #{translate('coming-soon', 'Coming Soon')}

    else if course.completed && !forAchievement
      span.card-status
        span.label #{translate('completed', 'Completed')}

    if !course.completed && course.status != 'draft'
      div.meta.card-meta
        dl.meta-list.card-meta-list
          if course.completed
            dt.meta-list-term.card-meta-icon.card-meta-icon--progress
              span #{translate('progress', 'Progress')}
              svg.progress-indicator.progress-indicator--completed(width='20' height='20' data-value=100)
                circle.progress-indicator__background(stroke='#ccc' stroke-width='3' fill='transparent' r='8' cx='10' cy='10')
                circle.progress-indicator__circle(stroke='#ccc' stroke-width='3' fill='transparent' r='8' cx='10' cy='10')
            dd.meta-list-definition 100%
          else if course.enrolled
            dt.meta-list-term.card-meta-icon.card-meta-icon--progress
              span #{translate('progress', 'Progress')}
              svg.progress-indicator.progress-indicator--in-progress(width='20' height='20' data-value=course.completedPercentage)
                circle.progress-indicator__background(stroke='#ccc' stroke-width='3' fill='transparent' r='8' cx='10' cy='10')
                circle.progress-indicator__circle(stroke='#ccc' stroke-width='3' fill='transparent' r='8' cx='10' cy='10')
            dd.meta-list-definition #{course.completedPercentage}%
          if course.duration
            dt.meta-list-term.card-meta-icon.card-meta-icon--duration
              span #{translate('duration', 'Duration')}
              | !{svg.iconDuration}
            dd.meta-list-definition ~ #{course.duration}

    if block
      block
    else
      div.card-footer
        a.card-action.card-action--continue(href=course.link)  #{translate('view-course', 'View Course')}
          //- a.card-action.card-action--enrol(href=course.link) Enroll
