mixin course(course, category)
  .card.course(class=[ 'course--'+ course.status, course.completed ? 'card--success' : '', course.enrolled ? 'card--active' : '', category ? `course--${category.slug}` : ''].filter(e => !!e).join(' '))
    .card-body
      h3.card-title.course-title
        a(href=course.link) !{course.title}

    //- if course.badge
    .card-badge
      | !{course.badge || svg.badgeDefault}

    if course.status === statuses.STATUS_DRAFT
      a.card-status(href=course.link)
        svg.progress-indicator.progress-indicator--coming-soon(width='24' height='24' data-value=100)
          circle.progress-indicator__circle(stroke='black' stroke-width='2' fill='transparent' r='8' cx='12' cy='12')
        | Coming Soon

    else if course.completed
      a.card-status(href=course.link +'certificate/')
        svg.progress-indicator.progress-indicator--completed(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='10' cy='10' r='9.9' fill='#E1FAEF' stroke='#44D4A4' stroke-width='0.2')
          path(d='M14.129 7.14725C13.9678 7.0284 13.7659 6.9785 13.5679 7.00854C13.3698 7.03858 13.1919 7.1461 13.0731 7.30741L9.49268 12.1668L7.21591 10.3451C6.88939 10.095 6.42281 10.1518 6.1658 10.4729C5.90878 10.794 5.95564 11.2617 6.27124 11.5255L9.16207 13.8379C9.32344 13.9641 9.52877 14.0202 9.7319 13.9935C9.93502 13.9668 10.1189 13.8595 10.2421 13.6959L14.2916 8.20373C14.4102 8.04211 14.4597 7.83995 14.4292 7.6418C14.3987 7.44364 14.2907 7.26573 14.129 7.14725Z' fill='#009471')

        | Completed
    else if course.enrolled && course.completedPercentage > 0
      a.card-status(href=course.link +'continue/')
        svg.progress-indicator.progress-indicator--in-progress(width='24' height='24' data-value=course.completedPercentage)
          circle.progress-indicator__circle(stroke='black' stroke-width='2' fill='transparent' r='8' cx='12' cy='12')
        | #{course.completedPercentage} % Completed

    else if category
      a.card-status(href=category.link)
        svg.progress-indicator.progress-indicator(width='24' height='24' data-value=100)
          circle.progress-indicator__circle(stroke='black' stroke-width='2' fill='transparent' r='8' cx='12' cy='12')
        | !{category.title}

    div.meta.card-meta
      dl.meta-list.card-meta-list
        if course.modules && course.modules.length > 0
          dt.meta-list-term.card-meta-icon.card-meta-icon--modules
            span Course Length
            | !{svg.iconBook}
          dd.meta-list-definition #{course.modules.length}
            |
            | Modules
        if course.duration
          dt.meta-list-term.card-meta-icon.card-meta-icon--duration
            span Duration
            | !{svg.iconDuration}
          dd.meta-list-definition ~ #{course.duration}

    if block
      block
    else
      div.card-footer
        if course.completed
          a.card-action.card-action--certificate(href=course.link +'certificate/') View Certificate
        else if course.enrolled
          a.card-action.card-action--continue(href=`${course.link}continue/`) Continue Course
        else if course.redirect
          a.card-action.card-action--continue(href=course.link) View Course
        else if course.status === statuses.STATUS_DRAFT
          a.card-action.card-action--continue(href=course.link) Register Interest
        else
          a.card-action.card-action--continue(href=course.link) View Course
          //- a.card-action.card-action--enrol(href=course.link) Enroll

