extends ../layouts/classroom

block main

  +status(course, completed, next)

  .module
    .module-title
      h1 !{title}
    .module-content.doc !{doc}

  script.
    window.course = {
      link: "!{course.link}",
      slug: "!{course.slug}",
      summary: !{summary}
    }
    window.user = {
      id: "!{user.id}"
    }

