extends ../layouts/classroom

block main

  .module
    .module-title
      h1 !{title}
    .module-content.doc !{doc}

    if completed
      .admonition.admonition--success.lesson-outcome.lesson-outcome--passed
        h2.admonition-title Your work here is done!
        if next
          p
            a.lesson-outcome-progress(href=next.link) Advance to !{next.title}.
        //- p You have already completed this lesson.
          |
          |
          if next
            a(href=next.link) Go to the next lesson.

  include ../partials/pagination