extends ../layouts/two-column
include ../course/card

mixin recurse(child, link='/categories')
  li.secondary-nav-item(class=`category--${child.slug} ${child.slug === slug ? 'secondary-nav-item--active' : ''}`)
    a(href=child.link) !{child.title}

    if child.children && child.children.length
      ul.secondary-nav-list
        for child in category.children
          +recurse(child)

block minor
  nav.secondary-nav.secondary-nav--collapsible
    h2.secondary-nav-title.body-small Filter Courses

    .secondary-nav-group.secondary-nav-group--grouped
      ul.secondary-nav-list

        li.secondary-nav-item.secondary-nav-item--grouped(class=!slug ? 'secondary-nav-item--active' : '')
          a(href='/categories/') All Courses
        if user
          li.secondary-nav-item.secondary-nav-item--grouped
            a(href='/account/courses/') My Courses

    for category in categories
      if category.children.length
        div.secondary-nav-group(class=`category--${category.slug}`)
            h3.secondary-nav-header Filter By !{category.shortName || category.title}

            ul.secondary-nav-list
              for child in category.children
                +recurse(child)

      else
        p.secondary-nav-group.secondary-nav-item.secondary-nav-item--grouped(class=slug === category.slug ? 'secondary-nav-item--active' : '')
          a(href=category.link) !{category.title}

block major
  .course-grid
    for course in courses
      .course-grid-item
        +course(course, course.categories[0])
