extends ../layouts/default
include ../mixins/json
include ../course/card

mixin recurse(child, link='/categories')
  li.course-filter-list-item(class=`category--${child.slug} ${child.slug === slug ? 'course-filter-list-item--active' : ''}`)
    a(href=child.link) !{child.title}

    if child.children && child.children.length
      ul.course-filter-list
        for child in category.children
          +recurse(child)

block main
  .hero
    h1.heading GraphAcademy Courses
    p.byline An abundance of
      |
      |
      strong free
      |
      | content, direct from the source.

  .container
    .course-list
      .course-filters
        h2.course-filter-title.body-small Filter Courses

        .course-filter-options
          p.course-filter-list-item.course-filter-list-item--all(class=!slug ? 'course-filter-list-item--active' : '')
            a(href='/courses/') All Courses


          for category in categories
            div.course-filter-group(class=`category--${category.slug}`)
              if category.children.length
                h3.course-filter-header Filter By !{category.title}

                ul.course-filter-list
                  for child in category.children
                    +recurse(child)

              else
                p.course-filter-header.course-filter-list-item.no-padding(class=slug === category.slug ? 'course-filter-list-item--active' : '')
                  a(href=category.link) !{category.title}




      .course-grid
        for course in courses
          .course-grid-item
            +course(course, course.categories[0])

  include ../partials/community-cutout.pug