extends ../layouts/default
include ../mixins/json

mixin recurse(category, link='/categories')
  li
    a(href=`${link}/${category.slug}`) !{category.title}
    if category.courses.length
      ul
        for course in category.courses
          li
            a(href=`/courses/${course.slug}`) Course: !{course.title} (#{course.status})

    if category.children && category.children.length
      ul
        for child in category.children
          +recurse(child, `/categories/${category.slug}`)

block main
  ul
    for category in categories
      +recurse(category)
