extends ../layouts/default
include ../mixins/json
include ./sandbox

block main
  .course-container
    .course-header.hero.hero--primary
      .container
        h1 !{title}
        p.heading-5 !{caption}

    .neutral
      .container
        .course-overview(class=completed ? 'course--completed' : '')
          .card
            .card-header
              h2.card-title Course Overview

              if !completed
                if interested
                  a.course-bookmark.course-bookmark--remove(href=`${link}bookmark/remove/`)
                    | Remove Bookmark
                    | !{svg.iconBookmark}
                else
                  a.course-bookmark(href=`${link}bookmark/`)
                    | Bookmark Course
                    | !{svg.iconBookmark}

            .card-body
              if completed
                .course-completed
                  .course-badge
                    a(href=`/u/${user.id}/${slug}`)
                      | !{badge}
                  .congratulations
                    .overline Great Work
                    p You have completed the !{title} course!
              else if video
                iframe(src=video, width="560" height="280", frameborder, allowfullscreen="")
              else
                img(src='/img/course-placeholder.jpg', alt=title)

            if status == statuses.STATUS_DRAFT
              .card-body.course-coming-soon
                if interested
                  .admonition.admonition--positive Thank you for registering your interest. We will contact you when the course is available.
                else
                  h3.card-title Course Coming Soon
                  p We are currently working on this course.  Fill in the form below to register your interest and we will contact you when it is ready.

                  form.form(method='POST' action=`${link}interested`)
                    .form-group
                      label Email Address
                      input#email(type="email" name="email", value=user ? user.email : '' placeholder='Your email address')
                    .form-buttons
                      button.btn Register Interest
            else if user && completed
              .card-body
                .progress-container
                  .progress-header
                    h2 Your Progress
                    .progress-percentage
                      | 100%

                  div.progress-bar
                    div.progress-bar-container
                      span(style=`width: 100%`) 100%

                a.btn.btn--primary(href=`/u/${user.id}/${slug}`) View your certificate
            else if user && enrolled && next
              .card-body
                //- if completedPercentage

                .progress-container
                  .progress-header
                    h2 Your Progress
                    .progress-percentage
                      | #{completedPercentage}%

                  div.progress-bar
                    div.progress-bar-container
                      span(style=`width: ${completedPercentage}%`) #{completedPercentage}%

                a.btn.btn--primary(href=next.link) Continue Course
            else if user
              .card-actions
                a.btn.btn--success(href=`${link}enrol`) Enroll Now


            else
              .card-actions
                a.btn(href=`/login?returnTo=${link}enrol`) Sign in to continue


          if sandbox
            .course-sandbox.card
              .card-header
                h3 Sandbox

              .card-body
                p As part of this interactive course, we have created a new
                  |
                  |
                  a(href='https://sandox.neo4j.com' target='_blank') Neo4j Sandbox
                  |
                  |
                  | instance with data from the #{usecase} use case.  You can view the instance in Neo4j Sandbox by clicking the Sandbox URL below.

                +sandbox(sandbox)

          include ./partials/path

          if user && enrolled
            .course-unenrol
              a.course-unenrol-link(href=`${link}unenrol`) Unenroll from course

        .course-details
          //- .course-meta
          //-   if duration
          //-     dl.course-meta-list
          //-       dt.course-meta-term
          //-         | !{svg.iconDurationLarge}
          //-         span Course Duration
          //-       dd.course-meta-details
          //-         | !{duration}
          //-   if modules && modules.length > 0
          //-     dl.course-meta-list
          //-       dt.course-meta-term
          //-         | !{svg.iconBookLarge}
          //-       span Course Length
          //-       dd.course-meta-details #{modules.length}
          //-         |
          //-         | Modules

          .tabs
            a.tab.tab--selected(href='#description') Description
            if modules && modules.length
              a.tab(href='#toc') Table of Contents
            a.tab(href='#support') Support &amp; Feedback

          #description.tab-target.tab-target--visible.course-description.doc
            if doc
              | !{doc}
            else
              h2 Coming Soon
              p We don't have any details about this course at the moment.  Please check back later
                if status == statuses.STATUS_DRAFT
                  |
                  | or complete the
                  |
                  strong Register Interest
                  |
                  | form to be notified of any updates
                | .

          if modules && modules.length
            //- #toc.tab-target.course-toc
            #toc.tab-target.course-toc
              h2 Table of Contents

              .toc
                include ../partials/toc

          #support.tab-target
            h2 Get Support

            p If you find yourself stuck at any stage then our friendly community will be happy to help.  You can reach out for help on the
              |
              |
              a(href='https://dev.neo4j.com/forum?ref=graphacademy' target='_blank') Neo4j Community Site
              | , or head over to the
              |
              |
              a(href='https://dev.neo4j.com/chat' target='_blank') Neo4j Discord server
              |
              | for instant feedback.


            h2 Feedback
            p If you have any comments or feedback on this course you can email us on
              |
              |
              a(href='mailto:graphacademy@neo4j.com?subject='+ encodeURIComponent(`Course Feedback :${title}`)) graphacademy@neo4j.com
              | .
  //- include ../partials/community-cutout.pug
