extends ../layouts/default
include ./card
include ./sandbox
include ../mixins/progress
include ../mixins/completed

block main
  .course-container
    .course-overview.secondary
      .container
        .major
          h1.heading !{course.title}

          .course-meta
            dl.course-meta-list
              if course.duration
                dt.course-meta-term
                  | !{svg.iconDurationSmall}
                  span Course Duration
                dd.course-meta-details.course-meta-duration
                  | !{course.duration}
              dt.course-meta-term
                span Categories
              dd.course-meta-details.course-meta-categories
                for category in course.categories.slice(0, 1)
                  a(href=category.link) !{category.title}
                  | !{' '}

          p.byline !{course.caption}

          .course-actions
            if course.certification
              if course.completed
                a.btn.btn--primary.btn--view-certificate(href=course.certificateUrl) !{translate('view-certificate', 'View Certificate')}
              else if course.failed
                if course.availableAfter > new Date()
                  a.btn.btn--disabled('#') Retake Certification
                  span.body-small.text-muted You may try again !{relativeTime(course.availableAfter)}
                else
                  a.btn.btn--primary.btn--enrol(href=`${course.link}enrol`) Retake Certification
                  br
                  span.body-small.text-muted You may attempt the certification once every 24 hours.
              else if course.enrolled
                a.btn.btn--disabled(href=`#`) Exam in Progress
                br
                span.body-small.text-muted It may take up to 30 minutes to receive your results.
              else
                a.btn.btn--primary.btn--enrol(href=`${course.link}enrol`) Take Certification

            else
              if course.completed
                a.btn.btn--primary.btn--view-certificate(href=course.certificateUrl) !{translate('view-certificate', 'View Certificate')}
              else if course.enrolled
                a.btn.btn--primary.btn--continue(href=`${course.link}continue`) Continue Course

              else if course.status == statuses.STATUS_ACTIVE
                a.btn.btn--primary.btn--enrol(href=`${course.link}enrol`)
                  if !user
                    | Sign in or Register to Enroll
                  else
                    | Enroll in Course

              if course.completed
                a.btn.course-bookmark.course-bookmark--remove(href=`${course.link}summary/`)
                  | View Course Summary

              else if course.isInterested
                a.btn.course-bookmark.course-bookmark--remove(href=`${course.link}bookmark/remove/`)
                  | !{svg.iconBookmark}
                  | Remove Favorite
              else
                a.btn.course-bookmark(href=`${course.link}bookmark/`)
                  | !{svg.iconBookmark}
                  | Favorite Course

        if course.certification
          .minor.course-certification
            img(src=cdn(`img/courses/backgrounds/${course.slug}.png`) alt=`Course illustration for ${course.title}`)

        else if course.enrolled && !course.completed
          .minor.course-progress
            h2.course-progress-title Continue where you left off

            p
              span.course-progress-percentage !{course.completedPercentage}%
              |
              | completed

            +progress(course)

            if course.next
              p.course-progress-next
                a.arrow-after(href=course.next.link) Next Lesson: !{course.next.title}
        else
          .minor.course-video(data-video=course.video data-id=course.video && course.video.split('/').reverse()[0])
            if course.illustration
              .course-video-placeholder
                if course.video
                  .course-video-play
                    svg(width='67' height='67' viewbox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg')
                      circle(opacity='0.9' cx='33.516' cy='33.5805' r='33.3871' fill='#E6F8FF')
                      path(d='M46.1389 30.5471C48.7195 32.037 48.7195 35.7618 46.1389 37.2518L30.0882 46.5187C27.5075 48.0086 24.2817 46.1462 24.2817 43.1663L24.2817 24.6326C24.2817 21.6527 27.5075 19.7903 30.0882 21.2802L46.1389 30.5471Z' fill='#018BFF')
                .course-video-illustration !{course.illustration}
                .course-video-logo
                  svg(width="180" height="80" viewBox="0 0 220 78" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M27.4103 10.2222C19.3937 10.2222 14.0128 14.9233 14.0128 23.999V30.4497C14.7811 30.067 15.6601 29.8481 16.5932 29.8481C17.5263 29.8481 18.4053 30.067 19.229 30.4497V23.944C19.229 18.0398 22.4683 15.0333 27.4103 15.0333C32.3524 15.0333 35.5917 18.0398 35.5917 23.944V38.1035H40.8079V23.944C40.8632 14.8145 35.427 10.2222 27.4103 10.2222Z" fill="#1A1B1D")
                    path(d="M43.6637 24.4913C43.6637 16.2359 49.7033 10.168 58.2697 10.168C66.8361 10.168 72.7665 16.2359 72.7665 24.4913V26.4047H49.2094C49.9775 31.2697 53.602 33.9484 58.3237 33.9484C61.8387 33.9484 64.3095 32.8554 65.9017 30.5043H71.6672C69.5811 35.588 64.6391 38.8134 58.3237 38.8134C49.7578 38.8134 43.6625 32.7454 43.6625 24.4901L43.6637 24.4913ZM67.3301 21.7574C66.2863 17.384 62.7177 15.0329 58.3251 15.0329C53.9325 15.0329 50.418 17.4378 49.3751 21.7574H67.3315H67.3301Z" fill="#1A1B1D")
                    path(d="M75.6222 24.4913C75.6222 16.2359 81.6619 10.168 90.2283 10.168C98.7942 10.168 104.834 16.2359 104.834 24.4913C104.834 32.7466 98.7942 38.8146 90.2283 38.8146C81.6619 38.8146 75.6222 32.7466 75.6222 24.4913ZM99.6178 24.4913C99.6178 18.9698 95.8845 15.0341 90.2833 15.0341C84.6825 15.0341 80.9487 18.9698 80.9487 24.4913C80.9487 30.0128 84.6825 33.9484 90.2833 33.9484C95.8845 33.9484 99.6178 30.0128 99.6178 24.4913Z" fill="#1A1B1D")
                    path(d="M134.705 43.5166H135.309C138.659 43.5166 139.921 42.0409 139.921 38.159V11.0981H145.137V37.8314C145.137 44.5561 142.502 48.0002 135.803 48.0002H134.705V43.518V43.5166Z" fill="#1A1B1D")
                    path(d="M132.125 40.7276H126.907V34.277H113.675C111.039 34.277 108.733 32.9651 107.689 30.8878C106.701 28.9194 106.975 26.6233 108.403 24.7098L120.318 9.12959C122.021 6.83345 124.931 5.90423 127.622 6.77843C130.367 7.65263 132.125 10.1126 132.125 13.0103V29.6835H136.077V34.3308H132.125V40.7267V40.7276ZM112.742 27.5525C112.577 27.7713 112.521 28.044 112.521 28.3178C112.521 29.0282 113.125 29.6297 113.839 29.6297H126.907V12.8464C126.907 11.9723 126.249 11.6434 125.974 11.5896C125.865 11.5345 125.7 11.5345 125.48 11.5345C125.151 11.5345 124.766 11.6434 124.437 12.081L112.742 27.5525Z" fill="#1A1B1D")
                    path(d="M142.552 0C140.081 0 138.104 2.02225 138.104 4.48344C138.104 6.94464 140.137 8.9657 142.552 8.9657C144.968 8.9657 147 6.9434 147 4.48344C147 2.02348 144.968 0 142.552 0Z" fill="#014063")
                    path(d="M2.2625 25.804C1.60358 26.1317 0.999959 26.6782 0.559845 27.3897C0.120963 28.1001 -0.0437674 28.8655 0.0103243 29.6309C0.0656437 30.9978 0.833996 32.2546 2.09654 32.965C3.2497 33.6203 4.56757 33.4565 5.83012 33.1839C7.36803 32.8012 8.6859 32.6373 10.0579 33.4578H10.1132C12.4748 34.8246 12.4748 38.2689 10.1132 39.6346H10.0579C8.68471 40.4548 7.36684 40.2909 5.83012 39.9084C4.62165 39.5807 3.30377 39.4169 2.09654 40.1275C0.833996 40.8377 0.119735 42.1495 0.0103243 43.4613C-0.0449999 44.2267 0.119735 44.9921 0.559845 45.7024C0.998726 46.4131 1.54825 46.9595 2.2625 47.2883C3.47097 47.8898 4.95356 47.8898 6.21612 47.1795C7.36927 46.5243 7.91879 45.2662 8.24827 44.0628C8.68715 42.5324 9.18134 41.329 10.6099 40.5636C11.983 39.7434 13.3009 39.9084 14.8376 40.2909C16.0461 40.6187 17.364 40.7826 18.5712 40.0723C19.8338 39.3619 20.548 38.05 20.6574 36.7381V36.1916C20.6021 34.8246 19.8338 33.5678 18.5712 32.8574C17.4181 32.2009 16.1002 32.3659 14.8376 32.6386C13.2997 33.0213 11.9819 33.1851 10.6099 32.3647C9.23666 31.5443 8.68839 30.3962 8.24827 28.8655C7.91879 27.6624 7.36927 26.4605 6.21612 25.749C4.95356 25.2024 3.47097 25.2024 2.2625 25.804Z" fill="#014063")
                    path(d="M29.6875 78.4565C26.6808 78.4565 24.2806 77.2185 23.4215 74.4392H25.1396C25.8218 76.2078 27.5652 76.9658 29.6875 76.9658C32.5679 76.9658 34.6144 75.5256 34.6144 71.8368V70.0176C33.6543 71.9631 31.7341 73.0495 29.3591 73.0495C25.8471 73.0495 22.8909 70.624 22.8909 66.5561C22.8909 62.7662 25.6702 59.9869 29.6117 59.9869C33.5532 59.9869 36.3072 62.6651 36.3072 66.6319V71.761C36.3072 76.5868 33.4016 78.4565 29.6875 78.4565ZM29.6117 71.483C32.5931 71.483 34.6144 69.4365 34.6144 66.5561C34.6144 63.6758 32.5931 61.5534 29.6117 61.5534C26.6303 61.5534 24.609 63.6758 24.609 66.5561C24.609 69.4365 26.6303 71.483 29.6117 71.483ZM38.7928 72.7969V65.3181C38.7928 61.7303 40.9404 59.9869 44.0482 59.9869C47.1559 59.9869 49.2783 61.7303 49.2783 65.3434V65.495H47.6107V65.3181C47.6107 62.7157 46.1705 61.5534 44.0482 61.5534C41.9005 61.5534 40.4856 62.7157 40.4856 65.3181V72.7969H38.7928ZM56.9199 73.1253C53.4079 73.1253 50.4518 70.624 50.4518 66.6319C50.4518 62.7409 53.231 59.9869 57.1725 59.9869C61.1141 59.9869 63.8681 62.6904 63.8681 66.6319V72.7969H62.3016V69.7144C61.4173 71.9378 59.3454 73.1253 56.9199 73.1253ZM57.1725 71.5588C60.154 71.5588 62.1752 69.4365 62.1752 66.5561C62.1752 63.6758 60.154 61.5534 57.1725 61.5534C54.1911 61.5534 52.1699 63.6758 52.1699 66.5561C52.1699 69.4365 54.1911 71.5588 57.1725 71.5588ZM66.3536 78.128V66.6319C66.3536 62.6146 69.1582 59.9869 73.0239 59.9869C76.9907 59.9869 79.77 62.7662 79.77 66.6067C79.77 70.4471 76.9654 73.1253 73.3018 73.1253C70.9268 73.1253 68.9813 72.0136 68.0465 70.1187V78.128H66.3536ZM73.0492 71.5588C76.0306 71.5588 78.0519 69.4365 78.0519 66.5561C78.0519 63.6758 76.0306 61.5534 73.0492 61.5534C70.0425 61.5534 68.0465 63.6758 68.0465 66.5561C68.0465 69.4365 70.0425 71.5588 73.0492 71.5588ZM82.1545 72.7969V54.8579H83.8473V62.7409C84.7316 60.947 86.3992 59.9869 88.5721 59.9869C91.9072 59.9869 94.4843 62.0082 94.4843 66.2782V72.7969H92.7915V66.2782C92.7915 63.1957 91.0229 61.5534 88.3194 61.5534C85.6412 61.5534 83.8473 63.2463 83.8473 66.2782V72.7969H82.1545ZM102.912 73.1253C99.4002 73.1253 96.444 70.624 96.444 66.6319C96.444 62.7409 99.2233 59.9869 103.165 59.9869C107.106 59.9869 109.86 62.6904 109.86 66.6319V72.7969H108.294V69.7144C107.41 71.9378 105.338 73.1253 102.912 73.1253ZM103.165 71.5588C106.146 71.5588 108.168 69.4365 108.168 66.5561C108.168 63.6758 106.146 61.5534 103.165 61.5534C100.183 61.5534 98.1621 63.6758 98.1621 66.5561C98.1621 69.4365 100.183 71.5588 103.165 71.5588ZM118.561 73.1253C114.62 73.1253 111.841 70.3461 111.841 66.5561C111.841 62.7662 114.62 59.9869 118.561 59.9869C121.795 59.9869 124.246 61.8566 124.979 64.6359H123.261C122.579 62.7662 120.835 61.5534 118.561 61.5534C115.58 61.5534 113.559 63.6758 113.559 66.5561C113.559 69.4365 115.58 71.5588 118.561 71.5588C120.835 71.5588 122.579 70.3461 123.261 68.4764H124.979C124.246 71.2556 121.795 73.1253 118.561 73.1253ZM132.965 73.1253C129.453 73.1253 126.497 70.624 126.497 66.6319C126.497 62.7409 129.276 59.9869 133.218 59.9869C137.159 59.9869 139.913 62.6904 139.913 66.6319V72.7969H138.347V69.7144C137.462 71.9378 135.391 73.1253 132.965 73.1253ZM133.218 71.5588C136.199 71.5588 138.22 69.4365 138.22 66.5561C138.22 63.6758 136.199 61.5534 133.218 61.5534C130.236 61.5534 128.215 63.6758 128.215 66.5561C128.215 69.4365 130.236 71.5588 133.218 71.5588ZM148.64 73.1253C144.673 73.1253 141.894 70.3461 141.894 66.5056C141.894 62.6651 144.698 59.9869 148.362 59.9869C150.737 59.9869 152.682 61.0986 153.617 62.9936V54.8579H155.31V66.4803C155.31 70.4977 152.505 73.1253 148.64 73.1253ZM148.614 71.5588C151.621 71.5588 153.617 69.4365 153.617 66.5561C153.617 63.6758 151.621 61.5534 148.614 61.5534C145.633 61.5534 143.612 63.6758 143.612 66.5561C143.612 69.4365 145.633 71.5588 148.614 71.5588ZM164.011 73.1253C160.069 73.1253 157.29 70.3461 157.29 66.5561C157.29 62.7662 160.069 59.9869 164.011 59.9869C167.952 59.9869 170.681 62.7662 170.681 66.5561V67.112H159.033C159.261 69.7144 161.206 71.5588 164.011 71.5588C165.982 71.5588 167.498 70.7503 168.306 69.3101H170.151C169.19 71.6094 166.916 73.1253 164.011 73.1253ZM159.084 65.596H168.912C168.508 63.0694 166.537 61.5534 164.011 61.5534C161.408 61.5534 159.463 63.1452 159.084 65.596ZM172.649 72.7969V65.495C172.649 61.7808 174.822 59.9869 177.702 59.9869C179.724 59.9869 181.391 60.947 182.2 62.7915C182.983 60.947 184.651 59.9869 186.697 59.9869C189.577 59.9869 191.75 61.7808 191.75 65.495V72.7969H190.058V65.495C190.058 62.842 188.592 61.5534 186.571 61.5534C184.549 61.5534 183.059 62.8925 183.059 65.495V72.7969H181.366V65.495C181.366 62.8925 179.85 61.5534 177.829 61.5534C175.807 61.5534 174.342 62.842 174.342 65.495V72.7969H172.649ZM200.303 78.4565C197.474 78.4565 195.124 77.1427 194.341 74.4392H196.033C196.69 76.132 198.231 76.9658 200.303 76.9658C202.982 76.9658 204.851 75.652 204.851 72.3926V70.2955C203.967 72.0894 202.299 73.0495 200.126 73.0495C196.791 73.0495 194.214 71.0282 194.214 66.7583V60.3154H195.907V66.7583C195.907 69.8407 197.676 71.483 200.379 71.483C203.057 71.483 204.851 69.8155 204.851 66.7583V60.3154H206.544V72.3421C206.544 76.6879 203.79 78.4565 200.303 78.4565Z" fill="#151E29")


            else if course.video
              iframe(src=course.video, width="560" height="320", frameborder, allowfullscreen="")
            else if course.badge
              img(src=`${course.link}badge/`, alt=title, width=280)
            else
              //- | !{svg.illustrationDraft}

  if course.certification
    .course-description
      .container
        .full
          h2 Certification Details

      .course-container.no-padding
        .container
          div.certification-detail
            h3
              | !{'<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.375 28.125C11.5758 28.125 19.5204 29.2218 27.0701 31.2768C28.1606 31.5737 29.25 30.7629 29.25 29.6327V28.125M5.625 6.75V7.875C5.625 8.49632 5.12132 9 4.5 9H3.375M3.375 9V8.4375C3.375 7.50552 4.13052 6.75 5.0625 6.75H30.375M3.375 9V22.5M30.375 6.75V7.875C30.375 8.49632 30.8787 9 31.5 9H32.625M30.375 6.75H30.9375C31.8695 6.75 32.625 7.50552 32.625 8.4375V23.0625C32.625 23.9945 31.8695 24.75 30.9375 24.75H30.375M32.625 22.5H31.5C30.8787 22.5 30.375 23.0037 30.375 23.625V24.75M30.375 24.75H5.625M5.625 24.75H5.0625C4.13052 24.75 3.375 23.9945 3.375 23.0625V22.5M5.625 24.75V23.625C5.625 23.0037 5.12132 22.5 4.5 22.5H3.375M22.5 15.75C22.5 18.2353 20.4853 20.25 18 20.25C15.5147 20.25 13.5 18.2353 13.5 15.75C13.5 13.2647 15.5147 11.25 18 11.25C20.4853 11.25 22.5 13.2647 22.5 15.75ZM27 15.75H27.0112V15.7613H27V15.75ZM9 15.75H9.01125V15.7613H9V15.75Z" stroke="#014063" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
              | Cost
            p
              | Free.  This certification is available to you at no cost.

          div.certification-detail
            h3
              | !{'<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 25.875V27.386C13.5 28.5795 13.0259 29.7241 12.182 30.568L11.25 31.5H24.75L23.818 30.568C22.9741 29.7241 22.5 28.5795 22.5 27.386V25.875M31.5 7.875V22.5C31.5 24.364 29.989 25.875 28.125 25.875H7.875C6.01104 25.875 4.5 24.364 4.5 22.5V7.875M31.5 7.875C31.5 6.01104 29.989 4.5 28.125 4.5H7.875C6.01104 4.5 4.5 6.01104 4.5 7.875M31.5 7.875V18C31.5 19.864 29.989 21.375 28.125 21.375H7.875C6.01104 21.375 4.5 19.864 4.5 18V7.875" stroke="#014063" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
              | Format
            p
              | !{course.questions} short-response and multiple choice questions.

          div.certification-detail
            h3
              | !{'<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 9V18H24.75M31.5 18C31.5 25.4558 25.4558 31.5 18 31.5C10.5442 31.5 4.5 25.4558 4.5 18C4.5 10.5442 10.5442 4.5 18 4.5C25.4558 4.5 31.5 10.5442 31.5 18Z" stroke="#014063" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
              | Alotted time
            p
              | You have one hour to complete the exam.

          div.certification-detail
            h3
              | !{'<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.1875 3.375H8.4375C7.50552 3.375 6.75 4.13052 6.75 5.0625V30.9375C6.75 31.8695 7.50552 32.625 8.4375 32.625H27.5625C28.4945 32.625 29.25 31.8695 29.25 30.9375V17.4375M15.1875 3.375H15.75C23.2058 3.375 29.25 9.41916 29.25 16.875V17.4375M15.1875 3.375C17.9834 3.375 20.25 5.64156 20.25 8.4375V10.6875C20.25 11.6195 21.0055 12.375 21.9375 12.375H24.1875C26.9834 12.375 29.25 14.6416 29.25 17.4375M13.5 22.5L16.875 25.875L22.5 18" stroke="#014063" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
              | Passing Score
            p
              | You will need to score > #{course.passPercentage}% to receive the certificate.

  .course-description.course-container
    .container
      .major.doc
        | !{doc}

        | !{translate('overviewsupport')}
        | !{translate('overviewfeedback')}

        //- Unenrol?
        if user && course.enrolled
          if course.certification
            .course-unenrol
              h3 Unenroll
              a.course-unenrol-link.btn--danger.btn--unenrol(href=`${course.link}unenrol`) !{translate('delete-certification', 'Delete Certification')}
          else
            .course-unenrol
              h3 Unenroll
              p
                a.course-unenrol-link.btn--danger.btn--unenrol(href=`${course.link}unenrol`) !{translate('unenroll', 'Unenroll from course')}

      .minor
        if course.completed
          .card.card--share
            .card-body
              //- h3.card-title Congratulations!
              p Congratulations on completing !{course.title}!  View or share your certificate by clicking the link below.

              p.share-form
                a.share-form-link(href=baseUrl + course.certificateUrl target='_blank') !{baseUrl + course.certificateUrl}
                a.share-form-action.share-form-action--copy(aria-label='Copy URL' href=baseUrl + course.certificateUrl target='_blank') !{svg.iconCopy}
                  span.share-form-action-label Copy URL
                a.share-form-action(aria-label='View Certificate' href=baseUrl + course.certificateUrl target='_blank') !{svg.iconGo}
                  span.share-form-action-label Open Certificate
              p
                a.btn.btn--small(target="_blank" href=`${course.link}share/linkedin`)
                  | Add Certificate to LinkedIn Profile

        if course.status == statuses.STATUS_DRAFT
          include ./partials/draft.pug

        if course.certification == false
          if course.modules.length
            include ./partials/toc.pug

        //- Quiz?
        //- if course.status === statuses.STATUS_ACTIVE && user && course.enrolled && !course.completed && (course.quizAvailable || !user.isNeo4jEmployee) && course.modules.length
        //-   .card.quiz-available
        //-     .card-body
        //-       h3.card-title Take Quiz
        //-       p Not interested in taking the challenges?  You can complete this course by taking a short quiz.

        //-       a.btn.btn--primary.btn--enrol(href=`${course.link}quiz`) Take Quiz

  if recommendations.length
    .course-container
      .neutral
      .secondary
        .container
          h2 Related Courses

        .container
          p.byline Users who have completed this course have also completed:

      .course-carousel.course-carousel--full
        .spacer
        for course, index in recommendations
          .course-carousel-item(class='course-carousel-item--'+ index)
            +course(course, path)
        .course-carousel-item.course-carousel-item--more
          a.view-more.btn.btn--primary(href='/categories/') View all Courses &rarr;
