extends ../layouts/default

block main
  .course
    .course-header
      h1 !{title}

    .course-details
      .course-overview
        | !{doc}

        //- h2 Course Modules
        ul.course-modules
          each module in modules
            li.course-module(class=module.completed ? 'module--completed' : '')
              a(href=module.link)
                | #{module.title}

                if module.duration
                  span.duration (#{module.duration})

              if module.lessons
                ul.course-module-lessons
                  each lesson in module.lessons
                    li.course-module-lesson(class=lesson.completed ? 'lesson--completed' : '')
                      a(href=lesson.link)
                        | #{lesson.title}

      .course-actions
        if interested
          .notification.notification--positive Thank you for registering your interest. We will contact you when the course is available.

        .card
          .card-body.course-badge
            img(src=`${link}badge` alt=`Course badge for ${title}`)

            if user
              if completed
                p
                  | You have earned the
                  |
                  strong !{title}
                  |
                  | badge
                if summary
                p
                  a(href=`${link}summary/`) View Course Summary

              else if status != statuses.STATUS_DRAFT
                p
                  | Take this course now to earn the
                  |
                  strong !{title}
                  |
                  | badge

          if status == statuses.STATUS_DRAFT
            .card-header
              h2.card-title Coming Soon
            .card-body
              p Fill out the form below to register your interest.
              | We will contact you when the course is available.

              form(method='POST' action=`${link}interested`)
                input#email(type="email", name="email", value=user ? user.email : '')
                button.btn Register Interest

          else if user
            if completed
              .card-body
                a.btn(href=`/u/${user.id}/${slug}`) View your certificate
            else if enrolled
              if next
                .card-body
                  a.btn(href=next.link) Continue Course

                  if usecase
                    p.course-explore
                      | Or explore the project dataset in
                      |
                      a(href=`${link}browser` target='_blank') Neo4j Browser
            else
              .card-header
                h2.card-title Take this course for free!
              .card-body
                p Enrolling on this course is free of charge. Just hit the button below to begin.

                a.btn(href=`${link}enrol`) Enrol Now
          else
            .card-header
              h2.card-title Take this course for free!
            .card-body
              p Enrolling on this course is free of charge. All you need to do is sign in or register

              a.btn(href=`/login?returnTo=${link}enrol`) Sign in to continue

        if categories
          .card
            .card-body
              h3 Categories
              ul
                for category in categories
                  li
                    a(href=`/categories/${category.slug}`) !{category.title}
                    //- +json(category)



