extends ../layouts/default
include ./sandbox

block main
  .course-container
    +hero(
      title,
      caption
    )

    .neutral
      .container
        .course-overview(class=completed ? 'course--completed' : '')
          .card
            .card-header
              h2.card-title #{translate('course-overview', 'Course Overview')}

              if isInterested
                a.course-bookmark.course-bookmark--remove(href=`${link}bookmark/remove/`)
                  | #{translate('remove-bookmark', 'Remove Bookmark')}
                  | !{svg.iconBookmark}
              else
                a.course-bookmark(href=`${link}bookmark/`)
                  | #{translate('add-bookmark', 'Bookmark Course')}
                  | !{svg.iconBookmark}

            .card-body
              //- Picture & Video
              //- If completed, show congratulations

              if completed
                .course-completed
                  .course-badge
                    a(href=`/u/${user.id}/${slug}`)
                      | !{badge}
                  .congratulations
                    .overline #{translate('completed-overline', 'Great work!')}
                    p #{translate('completed-prefix', 'You have completed the ')}
                      |
                      | !{title}
                      |
                      if !certification
                      | #{translate('completed-suffix', ' course!')}
              else if video
                iframe.course-video(src=video, width="560" height="280", frameborder, allowfullscreen="")
              else
                img(src='/img/course-placeholder.jpg', alt=title, width=448, height=279)

            //- Completed Percentage?
            if !completed && completedPercentage
              .card-body
                .progress-container
                  .progress-header
                    h2 #{translate('your-progress', 'Your Progress')}
                    .progress-percentage
                      | #{completedPercentage}%

                  div.progress-bar
                    div.progress-bar-container
                      span(style=`width: ${completedPercentage}%`) #{completedPercentage}%

            //- Draft course
            if status == statuses.STATUS_DRAFT
              .card-body.course-coming-soon
                if isInterested || (messages['success'] && messages['success'][0].includes('Your interest'))
                  .admonition.admonition--positive #{translate('interest-confirmation', 'Thank you for registering your interest. We will contact you when the course is available.')}
                else
                  h3.card-title #{translate('coming-soon-title', 'Course Coming Soon')}
                  p #{translate('coming-soon-text', 'We are currently working on this course.  Fill in the form below to register your interest and we will contact you when it is ready.')}

                  form.form(method='POST' action=`${link}interested`)
                    .form-group
                      label !{translate('email-address', 'Email Address')}
                      input#email(type="email" name="email", value=user ? user.email : '' placeholder=translate('email-address-placeholder', 'Your email address'))
                    .form-buttons
                      button.btn !{translate('register-interest', 'Register Interest')}


            //- Actions for Non-DRAFT courses
            else

              //- Actions
              .card-actions
                //- Certification
                if certification
                  //- If logged in
                  if user
                    //- If enrolment exists and is completed, show congratulations and link to certification
                    if completed
                      a.btn.btn--primary.btn--view-certificate(href=`/u/${user.id}/${slug}`) !{translate('view-certificate', 'View Certificate')}
                    else if failed
                      //- If certification was failed, show a try again message
                      a.btn.btn--success.btn--enrol(href=`${link}enrol`) !{translate('try-again', 'Try Again')}
                    else if enrolled
                      //- If enrolment exists, but isn't completed, show pending message
                      div.btn Pending Result...
                    else
                      //- Else, invite the user to enrol
                      a.btn.btn--success.btn--enrol(href=`${link}enrol`) !{translate('enroll-now', 'Enroll Now')}

                  //- If logged in, show attempt button
                  else
                    //- If not logged in, show sign in or register to continue
                    a.btn(href=`/login?returnTo=${link}enrol`) !{translate('sign-in-to-enroll', 'Sign in or Register to continue')}

                //- Course
                else
                  //- If logged in
                  if user
                    //- is completed? show certificate link
                    if completed
                      a.btn.btn--primary.btn--view-certificate(href=`/u/${user.id}/${slug}`) !{translate('view-certificate', 'View Certificate')}

                    //- is enrolled? show continue button
                    else if enrolled
                      a.btn.btn--primary.btn--continue(href=link + 'continue/') #{translate('continue-course', 'Continue Course')}

                    //- is logged in? show enroll button?
                    else
                      a.btn.btn--success.btn--enrol(href=`${link}enrol`) !{translate('enroll-now', 'Enroll Now')}

                  //- If not logged in, show sign in or register to continue
                  else
                    a.btn(href=`/login?returnTo=${link}enrol`) !{translate('sign-in-to-enroll', 'Sign in or Register to continue')}

          if status == statuses.STATUS_DRAFT && user && user.email.endsWith('@neotechnology.com') && modules.length && !enrolled
            .course-sandbox.card
              .card-header
                h3 Enroll Anyway
              .card-body
                p Your email address ends with neotechnology.com, so you can enroll to preview this course.
                  | Remember, this course is a work in progress so some aspects may be incomplete.  If you have any comments, please email
                  a(href=`mailto:graphacademy.neo4j.com?subject=${encodeURIComponent('Course Preview Feedback: '+ title)}`) !{' '} graphacademy@neo4j.com.
              .card-actions
                a.btn.btn--success.btn--enrol(href=`${link}enrol`) Enroll Anyway

          if status === statuses.STATUS_ACTIVE && user && enrolled && !completed && (quizAvailable || user.email.endsWith('@neotechnology.com')) && modules.length
            .course-sandbox.card
              .card-header
                h3 Take Quiz
              .card-body
                p Not interested in taking the challenges?  You can earn the badge by taking a short quiz.
                //- p If you have any comments, please email
                //-   a(href=`mailto:graphacademy.neo4j.com?subject=${encodeURIComponent('Course Preview Feedback: '+ title)}`) !{' '} graphacademy@neo4j.com.
              .card-actions
                a.btn.btn--success.btn--enrol(href=`${link}quiz`) Take Quiz

          if sandbox
            .course-sandbox.card
              //- .card-header
                //- h3 !{translate('sandbox-title', 'Sandbox')}

              .card-body
                | !{translate('sandbox-description', '')}

                //- p The code challenges in this course are run against a
                //-   |
                //-   |
                //-   a(href='https://sandbox.neo4j.com' target='_blank') Neo4j Sandbox
                //-   |
                //-   |
                //-   | instance that we have created for you
                //-   if usecase != 'blank-sandbox'
                //-     |
                //-     | with data from the #{usecase} use case
                //-   |
                //-   | . You can view the instance in Neo4j Sandbox by clicking the Sandbox URL below.

                +sandbox(sandbox)

          include ./partials/path

          include ./partials/translations

          if user && enrolled
            if certification
              .course-unenrol
                a.course-unenrol-link.btn--unenrol(href=`${link}unenrol`) !{translate('delete-certification', 'Delete Certification')}
            else
              if completed && summary
                .course-summary
                  p
                    a.course-summary-link.btn(href=`${link}summary`) !{translate('view-course-summary', 'View Course Summary')}

              .course-unenrol
                p
                  a.course-unenrol-link.btn--unenrol(href=`${link}unenrol`) !{translate('unenroll', 'Unenroll from course')}

        .course-details
          //- .course-meta
          //-   if duration
          //-     dl.course-meta-list
          //-       dt.course-meta-term
          //-         | !{svg.iconDurationLarge}
          //-         span Course Duration
          //-       dd.course-meta-details
          //-         | !{duration}
          //-   if modules && modules.length > 0
          //-     dl.course-meta-list
          //-       dt.course-meta-term
          //-         | !{svg.iconBookLarge}
          //-       span Course Length
          //-       dd.course-meta-details #{modules.length}
          //-         |
          //-         | Modules

          .tabs
            a.tab-element.tab--selected(href='#description') !{translate('description', 'Description')}
            if modules && modules.length
              a.tab-element(href='#toc') !{translate('table-of-contents', 'Table of Contents')}
            a.tab-element(href='#support') !{translate('support-and-feedback', 'Support &amp; Feedback')}

          #description.tab-target.tab-target--visible.course-description.doc
            if doc
              | !{doc}
            else
              h2 #{translate('coming-soon', 'Coming Soon')}
              if status == statuses.STATUS_DRAFT
                p !{translate('coming-soon-draft')}
              else
                p !{translate('coming-soon-unknown')}

          if modules && modules.length
            //- #toc.tab-target.course-toc
            #toc.tab-target.course-toc
              h2 !{translate('table-of-contents', 'Table of Contents')}

              .toc
                include ../partials/toc

          #support.tab-target
            | !{translate('overviewsupport')}
            | !{translate('overviewfeedback')}


  //- include ../partials/community-cutout.pug
