extends ../layouts/classroom

block main
  .quiz
    .quiz-title
      h1.module-title
        span.overline.module-type !{translate('quiz-title', 'Lightning Quiz')}
        | !{translate('quiz-test', 'Test Your Understanding')}
    .quiz-intro
      div.quiz-intro-block !{translate('quiz-intro', 'The lightning quiz allows you to test your knowledge without taking any of the challenges.')}
      div.quiz-intro-block !{translate('quiz-letsgo', 'Hit the <strong>Start quiz!</strong> button to start the quiz.')}
      button.btn.btn-primary#start-quiz !{translate('quiz-start', 'Start quiz!')}


    .quiz-questions
      .quiz-progress.progress-container

        .progress-bar
          .progress-bar-container
            span(style=`width: 1%`) 0%

        .progress-percentage.body-small.text-muted
          span.question-number 0
          | #{' '}
          |  / #{quiz.length}


      for question, index in quiz
        .question(class=question.roles)
          .question-title

            p.question-lesson
              //- span.toc-icon
              //-   if question.lesson.completed === true
              //-     | !{svg.classroomTocCompleted}
              //-   else if question.lesson.type == lessonType.LESSON_TYPE_QUIZ
              //-     | !{svg.classroomTocQuiz}
              //-   else if question.lesson.type == lessonType.LESSON_TYPE_VIDEO
              //-     | !{svg.classroomTocVideo}
              //-   else if question.lesson.type == lessonType.LESSON_TYPE_CHALLENGE
              //-     | !{svg.classroomTocChallenge}
              //-   else
              //-     //- if lesson.type == lessonType.LESSON_TYPE_TEXT
              //-     | !{svg.classroomTocText}

              a(href=question.module.link target='_blank')
                | !{question.module.title}

              | !{' > '}

              a(href=question.lesson.link target='_blank')
                | !{question.lesson.title}

            h2 !{question.title}

          .question-body !{question.html}

      .quiz-submit
        button.btn.btn-primary#check-answer Check Answer

    .summary
