mixin sandbox(sandbox)
  div.account-sandbox
    h3.overline.account-sandbox-usecase #{sandbox.usecase}
    p.heading-4.account-sandbox-url
      a(href=`https://${sandbox.host}` target='_blank') #{sandbox.host}
    dl.account-sandbox-details
      //- dt.account-sandbox-label Use Case:
      //- dd.account-sandbox-detail #{sandbox.usecase}
      dt.account-sandbox-label Username:
      dd.account-sandbox-detail
        span.copy #{sandbox.username}
      dt.account-sandbox-label Password:
      dd.account-sandbox-detail
        span.copy #{sandbox.password}
    p.body-small
      strong Expires on
      |
      +date(new Date(sandbox.expires))