extends ../layouts/default

block main
  .course
    .course-header
      h1 !{title}

    .course-details
      .course-overview
        | !{doc}

        //- h2 Course Modules
        ul.course-modules
          each module in modules
            li.course-module(class=module.completed ? 'module--completed' : '')
              a(href=module.link)
                | #{module.title}

                if module.duration
                  span.duration (#{module.duration})

              if module.lessons
                ul.course-module-lessons
                  each lesson in module.lessons
                    li.course-module-lesson(class=lesson.completed ? 'lesson--completed' : '')
                      a(href=lesson.link)
                        | #{lesson.title}



