extends ../layouts/default

block main
  .course-container
    .course-header.hero.hero--primary
      .container
        h1 !{title}
        p.heading-5 !{caption}

    .neutral
      .container
        .course-summary
          .tabs
            a.tab.tab--selected(href='#summary') Summary
            a.tab(href='#toc') Table of Contents

          #summary.tab-target.tab-target--visible.course-description.doc
            .doc
              | !{doc}

            if progressTo
              h2 Next Steps
              p Once you have completed this course, we recommend you take the following course#{progressTo.length > 1 ? 's' : ''}
              ul
                for course in progressTo
                  li
                    a(href=course.link) !{course.title}

          if modules && modules.length
            #toc.tab-target.course-toc
              h2 Course Modules
              ul.course-modules
                each module in modules
                  li.course-module(class=module.completed ? 'module--completed' : '')
                    a(href=module.link)
                      | #{module.title}

                      if module.duration
                        span.duration (#{module.duration})

                    if module.lessons
                      ul.course-module-lessons
                        each lesson in module.lessons
                          li.course-module-lesson(class=lesson.completed ? 'lesson--completed' : '')
                            a(href=lesson.link)
                              | #{lesson.title}

