extends ../layouts/classroom

mixin recommendation(course, recommendation)
  if recommendation
    div.recommendation
      div.recommendation-course
        a.recommendation-title.card-title(href=recommendation.link + '?ref=recommendation') !{recommendation.title}
        p.recommendation-caption !{recommendation.caption}
        if recommendation.count
          p.recommendation-count !{recommendation.count}+ learners who completed
            strong !{' ' + course.title + ' '}
            | have also completed
            strong !{' '+ recommendation.title}
            |  .
        p
          a.card-action(href=recommendation.link + '?ref=recommendation') View Course &rarr;

      div.recommendation-badge
        img(src=`${recommendation.link}illustration/`)

block main

  .module
    h1.module-title !{title}
    article.module-content.doc !{doc}

    if course.progressTo && course.progressTo.length
      h2 !{translate('next-steps', 'Next Steps')}
      if course.progressTo.length == 1
        p !{translate('next-steps-single', 'Once you have completed this course, we recommend you take the following course:')}
      else
        p !{translate('next-steps-multiple', 'Once you have completed this course, we recommend you take the following courses:')}

    for next in course.progressTo
      +recommendation(course, next)

    if recommendations.length > 0
      p !{'&nbsp;'}
      p !{translate('next-steps-recommendations', 'Or why not try one of these recommendations based on your enrollment history?')}

      +recommendation(course, recommendations[0])

      if recommendations.length > 2
        for next in recommendations.slice(1, 2)
          +recommendation(course, next)

      if recommendations.length > 3
        p !{translate('next-steps-something-different', 'You could also try something completely different.')}

        +recommendation(recommendations[ recommendations.length - 1 ])
