extends ../layouts/classroom

block main

  .module
    .module-title
      h1 !{title}
    .module-content.doc !{doc}

    if course.progressTo && course.progressTo.length
      .admonition.admonition--tip.next-steps
        h2.admonition-title !{translate('next-steps', 'Next Steps')}
        if course.progressTo.length == 1
          p !{translate('next-steps-single', 'Once you have completed this course, we recommend you take the following course:')}
        else
          p !{translate('next-steps-multiple', 'Once you have completed this course, we recommend you take the following courses:')}
        ul
          for next in course.progressTo
            li
              a(href=next.link) !{next.title}
